//////////////////////////////
/* Css link*/
@import "font";
@import "_variables";

$img_big_h: 600px;
$img_big_w: 960px;
$img_medium_h: 420px;
$img_medium_w: 680px;
$img_small_h: 300px;
$img_small_w: 400px;

@keyframes up {
  0% {
    transform: translateY(1.5rem);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

//홈
#home {
  & .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
  }
  & .content-wrap {
    padding-top: 6%;
    & * {
      font-family: Pretendard;
    }
    & .sub-txt {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 5rem;
      color: $gray-700;
      padding: 4px 15px;
      border-radius: 100px;
      background-color: $gray-200;
      opacity: 0.8;
      //text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }
    & .main-txt {
      margin-top: 2rem;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      letter-spacing: 0em;
      text-align: center;
      color: $gray-500;
      opacity: 1;
      animation: up 600ms ease-out forwards;

      & b {
        color: $gray-900;
      }
    }
    & .img-indoorplus {
      height: 544px;
      width: 860px;
      border-radius: 20px;
      background: linear-gradient(
        180deg,
        rgb(192, 192, 192) 0%,
        rgb(93, 93, 93) 100%
      );
      box-shadow: 40px 40px 100px 0px #18303f33;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      & .screen {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        background-image: url("../images/main_img_test.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
      &::before {
        z-index: -1;
        content: "";
        width: 800px;
        height: 990px;
        display: block;
        background: linear-gradient(45deg, rgb(219, 219, 219) 0%, white 100%);
        position: absolute;
        left: 100%;
        top: 0;
        transform: rotate(60deg) translate(-200px, 610px);
        mix-blend-mode: multiply;
      }
    }
  }
}

//제품보기
#product {
  & .content-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  & .tab-cont {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0 2rem 0;
    //border: 5px solid blue;

    animation: up 600ms ease-out forwards;
    overflow: hidden;
    &.rms {
      & .img-white {
        background-image: url("../images/product/rms_white.png");
      }
      & .img-dark {
        background-image: url("../images/product/rms_dark.png");
      }
    }
    &.at {
      & .img-white {
        background-image: url("../images/product/at_white.png");
      }
      & .img-dark {
        background-image: url("../images/product/at_dark.png");
      }
    }
    &.am {
      & .img-white {
        background-image: url("../images/product/am_white.png");
      }
      & .img-dark {
        background-image: url("../images/product/am_dark.png");
      }
    }
    &.ws {
      & .img-white {
        background-image: url("../images/product/ws_white.png");
      }
      & .img-dark {
        background-image: url("../images/product/ws_dark.png");
      }
    }
    &.sh {
      & .img-white {
        background-image: url("../images/product/sh_white.png");
      }
      & .img-dark {
        background-image: url("../images/product/sh_dark.png");
      }
    }
    & .labtop-wrap {
      //border: 3px solid red;
      max-height: $img_big_h;
      min-height: 230px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      padding: 0 2rem;
      & button span {
        opacity: 0.4;
        transition: $form-transition;
        &:hover {
          opacity: 1;
          transition: $form-transition;
        }
      }
      & img {
        //border: 1px solid red;
        width: $img_big_w;
        height: 0;
        padding-top: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: relative;
        transition: all 0.3s;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url("../images/product/labtop_hover.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: all 0.3s;
          transform: scale(0.95);
          opacity: 0;
        }
        &:hover::after {
          transition: all 0.3s;
          cursor: pointer;
          transform: scale(1);
          opacity: 1;
        }
      }
      & .labtop-img {
        //border: 1px solid red;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 1200px;
        height: 100%;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url("../images/product/labtop_hover.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: all 0.3s;
          transform: scale(0.95);
          opacity: 0;
        }
        &:hover::after {
          transition: all 0.3s;
          cursor: pointer;
          transform: scale(1);
          opacity: 1;
        }
      }
    }
    & .txt-wrap {
      text-align: center;
      & h2 {
        text-transform: uppercase;
        display: inline;
        vertical-align: middle;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        margin-right: 0.8rem;
      }
      & h3 {
        display: inline;
        vertical-align: middle;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
      }
      & p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 0;
        margin-top: 0.5rem;
      }
    }
  }
  & .tab-list {
    width: 100%;
    flex: 0 120px;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    //화살표
    & .info-arrow {
      position: absolute;
      top: calc(-40px);
      left: 0;
      right: 0;
      padding: 0 1rem;
    }
    //위젯 - 테마모드 스위치
    & .widget-theme {
      position: absolute;
      top: calc(-120px - 1rem);
      right: 2rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      & .switch-txt {
        text-align: right;
        & div {
          font-size: 12px;
          font-weight: 600;
          line-height: 14px;
          text-transform: uppercase;
          opacity: 0.5;
          margin-bottom: 6px;
        }
        & p {
          font-size: 16px;
          font-weight: 900;
          line-height: 18px;
          text-transform: uppercase;
          margin: 0;
        }
      }
      & .switch-btn {
        cursor: pointer;
        width: 70px;
        height: 120px;
        border: 1px solid lightgray;
        border-radius: $form-radius;
        box-shadow: 1px 5px 10px rgb(187, 187, 187);
        overflow: hidden;
        transition: all 0.2s;
        transform: scale(1);
        &:hover {
          transition: all 0.2s;
          border: 1px solid gray;
        }

        & .top,
        .bottom {
          width: 100%;
          height: 50%;
          display: flex;
          justify-content: center;
          padding: 0.5rem;
          font-size: 12px;
          color: $gray-400;
          font-weight: bold;
        }
        & .top {
          border-top: 0;
          background-color: white;
          color: $gray-900;
        }
        & .bottom {
          color: $f-b-6;
          align-items: flex-end;
          background-color: $gray-200;
          border-bottom: 6px solid $gray-400;
        }
      }
      &.active {
        & .top {
          color: $f-b-6;
          align-items: flex-start;
          border-top: 6px solid $gray-400;
          border-bottom: 1px solid $gray-200;
          background-color: $gray-200;
        }
        & .bottom {
          background-color: $gray-800;
          color: white;
          border: none;
        }
      }
    }
    & li {
      border-top: 1px solid lightgray;
      border-right: 1px solid lightgray;
      box-sizing: border-box;
      flex: 1;
      background: white;
      & a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        border: 5px solid transparent;
        transition: all 0.2s;

        & .txt-wrap {
          display: inline-flex;
          gap: 1rem;
          pointer-events: none;

          & span {
            font-size: 18px;
            font-weight: 900;
            text-transform: uppercase;
            padding: 5px;
            border-radius: 10px;
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: $form-shadow;
            &.color-rms {
              background-color: $default-brand;
              color: white;
              font-size: 16px;
            }
            &.color-at {
              background-color: $gray-800;
              color: rgb(178, 178, 178);
            }
            &.color-am {
              background-color: $default-warning;
              color: black;
            }
            &.color-ps {
              background-color: $default-success;
              color: black;
            }
            &.color-ws {
              background-color: $default-danger;
              color: rgb(37, 13, 145);
            }
            &.color-sh {
              background-color: $default-secondary;
              color: rgb(253, 238, 72);
            }
          }
          & p {
            white-space: nowrap;
            color: $f-b-3;
            font-weight: 600;
            font-size: 1.1rem;
            line-height: 1.1;
            letter-spacing: -0.3px;
            margin: 0;
          }
        }
      }
      &.active,
      &:hover {
        transition: all 0.2s;
        border-top: 1px solid black;
        border-right: 1px solid black;
        & a {
          border: 5px solid black;
        }
      }
    }
  }
}

//문의
#contact {
  & .content-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    animation: up 600ms ease-out forwards;
    & .wrap-left {
      flex-direction: column;
      text-align: center;
      & h2 {
        font-weight: 900;
        font-size: 32px;
      }
      & h3 {
        font-weight: 600;
        font-size: 16px;
      }
      & p {
        font-size: 10px;
        margin: 1rem 0 0 0;
      }
    }
    & img {
      width: 6rem;
      margin-bottom: 0.5rem;
    }
    & .wrap-right {
      margin-top: 2rem;
      & .cont-wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        & li {
          //flex: 40%;
          margin-bottom: 0.7rem;
          border-bottom: 1px solid $gray-200;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 8px;
            left: -15px;
            height: 14px;
            width: 6px;
            background-color: black;
            border-radius: 100px;
          }
          & b {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 20px;
            display: block;
          }
          & p,
          a {
            font-weight: 400;
            font-size: 18px;
            opacity: 0.6;
            margin-top: 4px;
          }
          &:last-of-type {
            border: none;
            position: relative;
          }
        }
      }
    }
  }
}

/////////////////////////////
// 큰 레이아웃 반응형
@mixin desk_tab_cont() {
  & #product .tab-cont {
    & .labtop-wrap {
      max-height: $img_big_h !important;
      & img {
        width: $img_big_w !important;
      }
    }
    & .txt-wrap {
      & h2 {
        font-size: 40px;
        font-weight: 900;
      }
      & h3 {
        font-size: 32px;
        font-weight: 600;
      }
      & p {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 0;
        margin-top: 1rem;
      }
    }
  }
}
@mixin desk_tab_list() {
  & #product .tab-list {
    width: 100%;
    flex: 0 120px;
    & li {
      flex: 1;
      & a {
        & .txt-wrap {
          & span {
            font-size: 18px;
            font-weight: 900;
            text-transform: uppercase;
            padding: 5px;
            border-radius: 10px;
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: $form-shadow;
            &.color-rms {
              background-color: $default-brand;
              color: white;
              font-size: 16px;
            }
          }
          & p {
            white-space: nowrap;
            color: $f-b-3;
            font-weight: 600;
            font-size: 1.1rem;
            line-height: 1.1;
            letter-spacing: -0.3px;
            margin: 0;
          }
        }
      }
    }
  }
}
@mixin tablet_tab_cont() {
  #product .tab-cont {
    & .labtop-wrap {
      max-height: $img_medium_h !important;
      & img {
        width: $img_medium_w !important;
      }
    }
    & .txt-wrap {
      & h2 {
        font-size: 36px;
        font-weight: 900;
      }
      & h3 {
        font-size: 20px;
        font-weight: 600;
      }
      & p {
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 0;
        margin-top: 1rem;
      }
    }
  }
}
@mixin tablet_tab_list() {
  #product .tab-list {
    flex: 0 80px;
    & li a .txt-wrap {
      gap: 0.5rem;
      & span {
        width: 32px;
        height: 32px;
        font-size: 0.8rem;
        &.color-rms {
          font-size: 0.8rem;
        }
      }
      & p {
        font-size: 0.8rem;
      }
    }
  }
}
@mixin mobile_tab_cont() {
  & #product .tab-cont {
    & .labtop-wrap {
      max-height: $img_small_h !important;
      & img {
        width: $img_small_w !important;
      }
    }
    & .txt-wrap {
      & h2 {
        font-size: 2rem;
        line-height: 0.5;
      }
      & h3 {
        font-size: 1rem;
        padding-bottom: 0.5rem;
      }
      & p {
        font-size: 0.8rem;
        line-height: 1.4;
      }
    }
  }
}
@mixin mobile_tab_list() {
  & #product .tab-list {
    flex: 0 90px;
    overflow: auto !important;
    margin-bottom: -10px;
    position: relative;
    &::before {
      content: "";
      width: 10vw;
      height: calc(90px + 30px);
      background: linear-gradient(
        to left,
        rgba(150, 150, 150, 0.2),
        rgba(150, 150, 150, 0)
      );
      position: fixed;
      bottom: 0;
      right: 0;
    }
    &::after {
      content: "";
      width: 10vw;
      height: calc(90px + 30px);
      background: linear-gradient(
        to right,
        rgba(150, 150, 150, 0.2),
        rgba(150, 150, 150, 0)
      );
      position: fixed;
      bottom: 0;
      left: 0;
    }
    & li {
      flex: 0 0 160px !important;
      & a .txt-wrap {
        gap: 0.5rem;
        & span {
          width: 32px;
          height: 32px;
          font-size: 0.8rem;
          &.color-rms {
            font-size: 0.8rem;
          }
        }
        & p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
@mixin widget_hidden() {
  & .widget-theme {
    display: none !important;
  }
  & #product .labtop-wrap button {
    display: none !important;
  }
  & #contact img {
    display: none !important;
  }
}
@mixin widget_view() {
  & .widget-theme {
    display: block !important;
  }
  & #product .labtop-wrap button {
    display: block !important;
  }
  & #contact img {
    display: block !important;
  }
}
@mixin desk_home() {
  & .img-indoorplus {
    transform: scale(1.2) !important;
    margin-top: 6rem !important;
  }
}
@mixin tablet_home() {
  & .img-indoorplus {
    transform: scale(1) !important;
    margin-top: 0 !important;
  }
}
@mixin mobile_home() {
  & #home {
    & .content-wrap > div {
      padding: 1rem !important;
    }
    & .pnt-logo {
      display: none;
    }
    & .sub-txt {
      //display: none;
      font-size: 0.8rem;
      margin-bottom: 0;
    }
    & .main-txt {
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.3;
      letter-spacing: 0em;
      text-align: center;
      color: $gray-500;
      margin-top: 5rem;
      & b {
        color: $gray-900;
      }
    }
    & .img-indoorplus {
      transform: scale(0.4) !important;
      margin-top: -4rem !important;
    }
  }
}
.app-container {
  //가로 - 데스크탑
  @media (min-width: $breakpoint-widemonitor) {
    @include desk_home();
    //높이 - 데스크탑
    @media (min-height: $breakpoint-labtop) {
      @include desk_tab_cont();
      @include desk_tab_list();
    }
    //높이 - 태블릿
    @media (max-height: $breakpoint-labtop) {
      @include tablet_tab_cont();
      @include desk_tab_list();
    }
    //높이 - 모바일
    @media (max-height: $breakpoint-tablet) {
      @include mobile_tab_cont();
      @include tablet_tab_list();
      & #contact img {
        display: none !important;
      }
    }
  }
  //가로 - 태블릿
  @media (max-width: $breakpoint-widemonitor) {
    @include tablet_home();
    //높이 - 데스크탑
    @media (min-height: $breakpoint-labtop) {
      @include tablet_tab_cont();
      @include desk_tab_list();
    }
    //높이 - 태블릿
    @media (max-height: $breakpoint-labtop) {
      @include tablet_tab_cont();
      @include desk_tab_list();
    }
    //높이 - 모바일
    @media (max-height: $breakpoint-tablet) {
      @include mobile_tab_cont();
      @include tablet_tab_list();
      & #contact img {
        display: none !important;
      }
    }
  }
  //가로 - 모바일
  @media (max-width: $breakpoint-tablet) {
    @include mobile_tab_cont();
    @include mobile_tab_list();
    @include widget_hidden();
  }
  @media (max-width: $breakpoint-mobile) {
    @include mobile_home();
  }
}
