@charset "UTF-8";
/* Css link*/
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes up {
  0% {
    -webkit-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

#home .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}

#home .content-wrap {
  padding-top: 6%;
}

#home .content-wrap * {
  font-family: Pretendard;
}

#home .content-wrap .sub-txt {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 5rem;
  color: #86858a;
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

#home .content-wrap .main-txt {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  color: #a8a7ac;
  opacity: 1;
  -webkit-animation: up 600ms ease-out forwards;
          animation: up 600ms ease-out forwards;
}

#home .content-wrap .main-txt b {
  color: #212122;
}

#home .content-wrap .img-indoorplus {
  height: 544px;
  width: 860px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(silver), to(#5d5d5d));
  background: linear-gradient(180deg, silver 0%, #5d5d5d 100%);
  -webkit-box-shadow: 40px 40px 100px 0px #18303f33;
          box-shadow: 40px 40px 100px 0px #18303f33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#home .content-wrap .img-indoorplus .screen {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-image: url("../images/main_img_test.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#home .content-wrap .img-indoorplus::before {
  z-index: -1;
  content: "";
  width: 800px;
  height: 990px;
  display: block;
  background: linear-gradient(45deg, #dbdbdb 0%, white 100%);
  position: absolute;
  left: 100%;
  top: 0;
  -webkit-transform: rotate(60deg) translate(-200px, 610px);
          transform: rotate(60deg) translate(-200px, 610px);
  mix-blend-mode: multiply;
}

#product .content-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#product .tab-cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 0 2rem 0;
  -webkit-animation: up 600ms ease-out forwards;
          animation: up 600ms ease-out forwards;
  overflow: hidden;
}

#product .tab-cont.rms .img-white {
  background-image: url("../images/product/rms_white.png");
}

#product .tab-cont.rms .img-dark {
  background-image: url("../images/product/rms_dark.png");
}

#product .tab-cont.at .img-white {
  background-image: url("../images/product/at_white.png");
}

#product .tab-cont.at .img-dark {
  background-image: url("../images/product/at_dark.png");
}

#product .tab-cont.am .img-white {
  background-image: url("../images/product/am_white.png");
}

#product .tab-cont.am .img-dark {
  background-image: url("../images/product/am_dark.png");
}

#product .tab-cont.ws .img-white {
  background-image: url("../images/product/ws_white.png");
}

#product .tab-cont.ws .img-dark {
  background-image: url("../images/product/ws_dark.png");
}

#product .tab-cont.sh .img-white {
  background-image: url("../images/product/sh_white.png");
}

#product .tab-cont.sh .img-dark {
  background-image: url("../images/product/sh_dark.png");
}

#product .tab-cont .labtop-wrap {
  max-height: 600px;
  min-height: 230px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 0 2rem;
}

#product .tab-cont .labtop-wrap button span {
  opacity: 0.4;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#product .tab-cont .labtop-wrap button span:hover {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#product .tab-cont .labtop-wrap img {
  width: 960px;
  height: 0;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#product .tab-cont .labtop-wrap img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/product/labtop_hover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0;
}

#product .tab-cont .labtop-wrap img:hover::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#product .tab-cont .labtop-wrap .labtop-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1200px;
  height: 100%;
  position: relative;
}

#product .tab-cont .labtop-wrap .labtop-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/product/labtop_hover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0;
}

#product .tab-cont .labtop-wrap .labtop-img:hover::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#product .tab-cont .txt-wrap {
  text-align: center;
}

#product .tab-cont .txt-wrap h2 {
  text-transform: uppercase;
  display: inline;
  vertical-align: middle;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-right: 0.8rem;
}

#product .tab-cont .txt-wrap h3 {
  display: inline;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

#product .tab-cont .txt-wrap p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

#product .tab-list {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 120px;
          flex: 0 120px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#product .tab-list .info-arrow {
  position: absolute;
  top: calc(-40px);
  left: 0;
  right: 0;
  padding: 0 1rem;
}

#product .tab-list .widget-theme {
  position: absolute;
  top: calc(-120px - 1rem);
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product .tab-list .widget-theme .switch-txt {
  text-align: right;
}

#product .tab-list .widget-theme .switch-txt div {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 6px;
}

#product .tab-list .widget-theme .switch-txt p {
  font-size: 16px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}

#product .tab-list .widget-theme .switch-btn {
  cursor: pointer;
  width: 70px;
  height: 120px;
  border: 1px solid lightgray;
  border-radius: 5px;
  -webkit-box-shadow: 1px 5px 10px #bbbbbb;
          box-shadow: 1px 5px 10px #bbbbbb;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#product .tab-list .widget-theme .switch-btn:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid gray;
}

#product .tab-list .widget-theme .switch-btn .top,
#product .tab-list .widget-theme .switch-btn .bottom {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  font-size: 12px;
  color: #cac8cf;
  font-weight: bold;
}

#product .tab-list .widget-theme .switch-btn .top {
  border-top: 0;
  background-color: white;
  color: #212122;
}

#product .tab-list .widget-theme .switch-btn .bottom {
  color: #a6a6a6;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #eceaf2;
  border-bottom: 6px solid #cac8cf;
}

#product .tab-list .widget-theme.active .top {
  color: #a6a6a6;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-top: 6px solid #cac8cf;
  border-bottom: 1px solid #eceaf2;
  background-color: #eceaf2;
}

#product .tab-list .widget-theme.active .bottom {
  background-color: #434245;
  color: white;
  border: none;
}

#product .tab-list li {
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
}

#product .tab-list li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border: 5px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#product .tab-list li a .txt-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 1rem;
  pointer-events: none;
}

#product .tab-list li a .txt-wrap span {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 10px;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
}

#product .tab-list li a .txt-wrap span.color-rms {
  background-color: #ff8800;
  color: white;
  font-size: 16px;
}

#product .tab-list li a .txt-wrap span.color-at {
  background-color: #434245;
  color: #b2b2b2;
}

#product .tab-list li a .txt-wrap span.color-am {
  background-color: #ffce2e;
  color: black;
}

#product .tab-list li a .txt-wrap span.color-ps {
  background-color: #80d217;
  color: black;
}

#product .tab-list li a .txt-wrap span.color-ws {
  background-color: #ff3358;
  color: #250d91;
}

#product .tab-list li a .txt-wrap span.color-sh {
  background-color: #6748e3;
  color: #fdee48;
}

#product .tab-list li a .txt-wrap p {
  white-space: nowrap;
  color: #404040;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.1;
  letter-spacing: -0.3px;
  margin: 0;
}

#product .tab-list li.active, #product .tab-list li:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

#product .tab-list li.active a, #product .tab-list li:hover a {
  border: 5px solid black;
}

#contact .content-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-animation: up 600ms ease-out forwards;
          animation: up 600ms ease-out forwards;
}

#contact .content-wrap .wrap-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#contact .content-wrap .wrap-left h2 {
  font-weight: 900;
  font-size: 32px;
}

#contact .content-wrap .wrap-left h3 {
  font-weight: 600;
  font-size: 16px;
}

#contact .content-wrap .wrap-left p {
  font-size: 10px;
  margin: 1rem 0 0 0;
}

#contact .content-wrap img {
  width: 6rem;
  margin-bottom: 0.5rem;
}

#contact .content-wrap .wrap-right {
  margin-top: 2rem;
}

#contact .content-wrap .wrap-right .cont-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .content-wrap .wrap-right .cont-wrap li {
  margin-bottom: 0.7rem;
  border-bottom: 1px solid #eceaf2;
  position: relative;
}

#contact .content-wrap .wrap-right .cont-wrap li::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -15px;
  height: 14px;
  width: 6px;
  background-color: black;
  border-radius: 100px;
}

#contact .content-wrap .wrap-right .cont-wrap li b {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  display: block;
}

#contact .content-wrap .wrap-right .cont-wrap li p,
#contact .content-wrap .wrap-right .cont-wrap li a {
  font-weight: 400;
  font-size: 18px;
  opacity: 0.6;
  margin-top: 4px;
}

#contact .content-wrap .wrap-right .cont-wrap li:last-of-type {
  border: none;
  position: relative;
}

@media (min-width: 1700px) {
  .app-container .img-indoorplus {
    -webkit-transform: scale(1.2) !important;
            transform: scale(1.2) !important;
    margin-top: 6rem !important;
  }
}

@media (min-width: 1700px) and (min-height: 1024px) {
  .app-container #product .tab-cont .labtop-wrap {
    max-height: 600px !important;
  }
  .app-container #product .tab-cont .labtop-wrap img {
    width: 960px !important;
  }
  .app-container #product .tab-cont .txt-wrap h2 {
    font-size: 40px;
    font-weight: 900;
  }
  .app-container #product .tab-cont .txt-wrap h3 {
    font-size: 32px;
    font-weight: 600;
  }
  .app-container #product .tab-cont .txt-wrap p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .app-container #product .tab-list {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 120px;
            flex: 0 120px;
  }
  .app-container #product .tab-list li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .app-container #product .tab-list li a .txt-wrap span {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 10px;
    width: 44px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
            box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  }
  .app-container #product .tab-list li a .txt-wrap span.color-rms {
    background-color: #ff8800;
    color: white;
    font-size: 16px;
  }
  .app-container #product .tab-list li a .txt-wrap p {
    white-space: nowrap;
    color: #404040;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.1;
    letter-spacing: -0.3px;
    margin: 0;
  }
}

@media (min-width: 1700px) and (max-height: 1024px) {
  .app-container #product .tab-cont .labtop-wrap {
    max-height: 420px !important;
  }
  .app-container #product .tab-cont .labtop-wrap img {
    width: 680px !important;
  }
  .app-container #product .tab-cont .txt-wrap h2 {
    font-size: 36px;
    font-weight: 900;
  }
  .app-container #product .tab-cont .txt-wrap h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .app-container #product .tab-cont .txt-wrap p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .app-container #product .tab-list {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 120px;
            flex: 0 120px;
  }
  .app-container #product .tab-list li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .app-container #product .tab-list li a .txt-wrap span {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 10px;
    width: 44px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
            box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  }
  .app-container #product .tab-list li a .txt-wrap span.color-rms {
    background-color: #ff8800;
    color: white;
    font-size: 16px;
  }
  .app-container #product .tab-list li a .txt-wrap p {
    white-space: nowrap;
    color: #404040;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.1;
    letter-spacing: -0.3px;
    margin: 0;
  }
}

@media (min-width: 1700px) and (max-height: 800px) {
  .app-container #product .tab-cont .labtop-wrap {
    max-height: 300px !important;
  }
  .app-container #product .tab-cont .labtop-wrap img {
    width: 400px !important;
  }
  .app-container #product .tab-cont .txt-wrap h2 {
    font-size: 2rem;
    line-height: 0.5;
  }
  .app-container #product .tab-cont .txt-wrap h3 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
  .app-container #product .tab-cont .txt-wrap p {
    font-size: 0.8rem;
    line-height: 1.4;
  }
  .app-container #product .tab-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 80px;
            flex: 0 80px;
  }
  .app-container #product .tab-list li a .txt-wrap {
    gap: 0.5rem;
  }
  .app-container #product .tab-list li a .txt-wrap span {
    width: 32px;
    height: 32px;
    font-size: 0.8rem;
  }
  .app-container #product .tab-list li a .txt-wrap span.color-rms {
    font-size: 0.8rem;
  }
  .app-container #product .tab-list li a .txt-wrap p {
    font-size: 0.8rem;
  }
  .app-container #contact img {
    display: none !important;
  }
}

@media (max-width: 1700px) {
  .app-container .img-indoorplus {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
    margin-top: 0 !important;
  }
}

@media (max-width: 1700px) and (min-height: 1024px) {
  .app-container #product .tab-cont .labtop-wrap {
    max-height: 420px !important;
  }
  .app-container #product .tab-cont .labtop-wrap img {
    width: 680px !important;
  }
  .app-container #product .tab-cont .txt-wrap h2 {
    font-size: 36px;
    font-weight: 900;
  }
  .app-container #product .tab-cont .txt-wrap h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .app-container #product .tab-cont .txt-wrap p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .app-container #product .tab-list {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 120px;
            flex: 0 120px;
  }
  .app-container #product .tab-list li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .app-container #product .tab-list li a .txt-wrap span {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 10px;
    width: 44px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
            box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  }
  .app-container #product .tab-list li a .txt-wrap span.color-rms {
    background-color: #ff8800;
    color: white;
    font-size: 16px;
  }
  .app-container #product .tab-list li a .txt-wrap p {
    white-space: nowrap;
    color: #404040;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.1;
    letter-spacing: -0.3px;
    margin: 0;
  }
}

@media (max-width: 1700px) and (max-height: 1024px) {
  .app-container #product .tab-cont .labtop-wrap {
    max-height: 420px !important;
  }
  .app-container #product .tab-cont .labtop-wrap img {
    width: 680px !important;
  }
  .app-container #product .tab-cont .txt-wrap h2 {
    font-size: 36px;
    font-weight: 900;
  }
  .app-container #product .tab-cont .txt-wrap h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .app-container #product .tab-cont .txt-wrap p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .app-container #product .tab-list {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 120px;
            flex: 0 120px;
  }
  .app-container #product .tab-list li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .app-container #product .tab-list li a .txt-wrap span {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 10px;
    width: 44px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
            box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  }
  .app-container #product .tab-list li a .txt-wrap span.color-rms {
    background-color: #ff8800;
    color: white;
    font-size: 16px;
  }
  .app-container #product .tab-list li a .txt-wrap p {
    white-space: nowrap;
    color: #404040;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.1;
    letter-spacing: -0.3px;
    margin: 0;
  }
}

@media (max-width: 1700px) and (max-height: 800px) {
  .app-container #product .tab-cont .labtop-wrap {
    max-height: 300px !important;
  }
  .app-container #product .tab-cont .labtop-wrap img {
    width: 400px !important;
  }
  .app-container #product .tab-cont .txt-wrap h2 {
    font-size: 2rem;
    line-height: 0.5;
  }
  .app-container #product .tab-cont .txt-wrap h3 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
  .app-container #product .tab-cont .txt-wrap p {
    font-size: 0.8rem;
    line-height: 1.4;
  }
  .app-container #product .tab-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 80px;
            flex: 0 80px;
  }
  .app-container #product .tab-list li a .txt-wrap {
    gap: 0.5rem;
  }
  .app-container #product .tab-list li a .txt-wrap span {
    width: 32px;
    height: 32px;
    font-size: 0.8rem;
  }
  .app-container #product .tab-list li a .txt-wrap span.color-rms {
    font-size: 0.8rem;
  }
  .app-container #product .tab-list li a .txt-wrap p {
    font-size: 0.8rem;
  }
  .app-container #contact img {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .app-container #product .tab-cont .labtop-wrap {
    max-height: 300px !important;
  }
  .app-container #product .tab-cont .labtop-wrap img {
    width: 400px !important;
  }
  .app-container #product .tab-cont .txt-wrap h2 {
    font-size: 2rem;
    line-height: 0.5;
  }
  .app-container #product .tab-cont .txt-wrap h3 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
  .app-container #product .tab-cont .txt-wrap p {
    font-size: 0.8rem;
    line-height: 1.4;
  }
  .app-container #product .tab-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 90px;
            flex: 0 90px;
    overflow: auto !important;
    margin-bottom: -10px;
    position: relative;
  }
  .app-container #product .tab-list::before {
    content: "";
    width: 10vw;
    height: calc(90px + 30px);
    background: -webkit-gradient(linear, right top, left top, from(rgba(150, 150, 150, 0.2)), to(rgba(150, 150, 150, 0)));
    background: linear-gradient(to left, rgba(150, 150, 150, 0.2), rgba(150, 150, 150, 0));
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .app-container #product .tab-list::after {
    content: "";
    width: 10vw;
    height: calc(90px + 30px);
    background: -webkit-gradient(linear, left top, right top, from(rgba(150, 150, 150, 0.2)), to(rgba(150, 150, 150, 0)));
    background: linear-gradient(to right, rgba(150, 150, 150, 0.2), rgba(150, 150, 150, 0));
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .app-container #product .tab-list li {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 160px !important;
            flex: 0 0 160px !important;
  }
  .app-container #product .tab-list li a .txt-wrap {
    gap: 0.5rem;
  }
  .app-container #product .tab-list li a .txt-wrap span {
    width: 32px;
    height: 32px;
    font-size: 0.8rem;
  }
  .app-container #product .tab-list li a .txt-wrap span.color-rms {
    font-size: 0.8rem;
  }
  .app-container #product .tab-list li a .txt-wrap p {
    font-size: 0.8rem;
  }
  .app-container .widget-theme {
    display: none !important;
  }
  .app-container #product .labtop-wrap button {
    display: none !important;
  }
  .app-container #contact img {
    display: none !important;
  }
}

@media (max-width: 570px) {
  .app-container #home .content-wrap > div {
    padding: 1rem !important;
  }
  .app-container #home .pnt-logo {
    display: none;
  }
  .app-container #home .sub-txt {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .app-container #home .main-txt {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: 0em;
    text-align: center;
    color: #a8a7ac;
    margin-top: 5rem;
  }
  .app-container #home .main-txt b {
    color: #212122;
  }
  .app-container #home .img-indoorplus {
    -webkit-transform: scale(0.4) !important;
            transform: scale(0.4) !important;
    margin-top: -4rem !important;
  }
}
