//////////////////////////////
/* Css link*/
@import "font";
@import "_variables";

$header-height: 55px;
$mobile-header-height: 48px;
$footer-height: 60px;
$mobile-footer-height: 40px;
$footer-fold-height: 20px;
$sideBar-width: 60px;
$sideOption-width: 240px;

$purple_gradiation: linear-gradient(145deg, #4a53ff, #b464ff);
$light-gray: rgb(197, 197, 197);

/////////////////////////////
// 1차 레이아웃 - 포지션 & 배경색상
html {
  overflow: hidden;
}
.app-container {
  position: relative;
  // 헤더
  & .app-header {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    background: white;
    border-bottom: 1px solid rgb(234, 234, 234);
    transition: all 0.3s;
  }
  // 본문
  & .app-body {
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: $footer-height;
    // & .body-wrap{
    //   & > div{
    //     min-height: 700px;
    //     border: 10px solid red;
    //     overflow: scroll !important;
    //     & > .content-wrap{
    //       border: 10px solid blue;
    //       height: auto !important;
    //       overflow: auto !important;
    //     }
    //   }
    // }
  }
  // 푸터
  & .app-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: $footer-height;

    background: black;
  }
}

/////////////////////////////
// 2차 레이아웃 - 내용
/////////////////////////////
//헤더
.app-header {
  padding: 0 2rem;
  @media (max-width: $breakpoint-tablet) {
    padding: 0 1rem;
  }
  //헤더 메뉴박스
  & .flx-sb {
    height: 100%;
    & > div {
      height: 100%;
      display: flex;
    }
    & > div:nth-of-type(1),
    div:nth-of-type(3) {
      width: 100px;
    }
    & .mobile-menu {
      display: flex;
      height: 100%;
      align-items: center;
      margin-right: 0.5rem;
    }
    & ul.web-menu {
      display: flex;
      padding: 0;
      margin: 0;
      height: 100%;
      gap: 1px;
      & li {
        position: relative;
      }
      & .menu {
        color: $f-b-1;
        font-weight: 600;
        font-size: 16px;
        white-space: nowrap;
        padding: 0 1.8rem;
        transition: all 0.3s;
        border-bottom: 1px solid transparent;
        &:hover,
        &.active {
          transition: all 0.3s;
          border-bottom: 1px solid black;
        }
      }
    }
    & a {
      display: flex;
      height: 100%;
      align-items: center;
    }
    & .logo {
      font-size: 1.3rem;
      letter-spacing: -1px;
      margin: 0;
      margin-right: 1rem;
      & a {
        font-weight: 700 !important;
        background: $purple_gradiation;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      @media (max-width: $breakpoint-tablet) {
        font-size: 1.1rem;
      }
    }
    @at-root .lang-btn {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 10px;
      background-color: white;
      border-radius: $form-radius;
      box-shadow: 1px 5px 10px rgb(187, 187, 187);
      min-width: unset;
      & span {
        border: 1px solid black;
      }
      & p {
        font-size: 14px;
        margin: 0;
        text-transform: uppercase;
      }
    }
  }
}

//바디
.app-body {
  position: relative;
  background-color: white;
  & .side-wrap {
    & > div {
      z-index: 2;
      position: fixed;
      top: $header-height;
      bottom: $footer-height;
      padding: 2rem;
      width: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & > div {
        height: 100px;
        //border: 1px solid red;
      }
      &.side-left {
        left: 0;
      }
      &.side-right {
        right: 0;
        align-items: flex-end;
      }
      //위젯 - 언어
      & .lang-btn {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        gap: 1px;
        padding: 0;
        padding-top: 5px;
        width: 70px;
        height: 70px;
        border-radius: 100px !important;
        background-color: $gray-400;
        border-radius: $form-radius;
        box-shadow: 1px 5px 10px rgb(187, 187, 187);
        min-width: unset;
        & span {
          opacity: 0.3;
        }
        &:nth-of-type(1) {
          margin-bottom: 10px;
        }
        &:hover,
        &.active {
          opacity: 1;
          background-color: $gray-900;
          & span {
            opacity: 1;
          }
        }
        & span {
          border: 1px solid black;
        }
        & p {
          font-size: 12px;
          margin: 0;
          text-transform: uppercase;
          color: white;
        }
      }
      //위젯 - 다운로드 버튼
      & .widget-download {
        & button {
          margin-top: 4rem;
          text-transform: uppercase;
          margin-bottom: 6px;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          &:hover{
            transform: scale(1.05);
          }
          & p {
            font-size: 12px;
            font-weight: 600;
            line-height: 14px;
            opacity: 0.6;
            margin: 0;
          }
          & b {
            font-size: 16px;
            font-weight: 900;
            line-height: 18px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  & .body-wrap {
    & > div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

//푸터
.app-footer {
  padding: 0 2rem;
  & .flx-sb {
    height: 100%;
  }
  & * {
    color: white;
    line-height: 1.3;
  }
}

//팝업
.app-popup {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //display: none;
  z-index: -2;
  transition: all 0.3s;
  &.active {
    z-index: 100;
    //display: block;
    transition: all 0.3s;
    & .popup-bg {
      opacity: 0.7;
      transition: all 0.3s;
    }
    & .popup-area .popup-card {
      margin-top: 0;
      opacity: 1;
      transition: all 0.3s;
    }
  }
  & .popup-bg {
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }
  & .popup-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    & .popup-card {
      background-color: white;
      border-radius: 10px;
      width: 100%;
      max-width: 1000px;
      position: relative;
      margin-top: -100px;
      opacity: 0;
      transition: all 0.3s;
      & .popup-close-btn {
        position: absolute;
        top: -25px;
        right: 5%;
        background-color: black;
        width: 56px;
        height: 56px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: $card-shadow;
        transform: scale(1);
        transition: all 0.3s;
        &:hover {
          transition: all 0.3s;
          background-color: $default-brand;
          transform: scale(1.1);
        }
      }
      & .content-wrap {
        padding: 3rem;
        & .title {
          margin-left: 14px;
          margin-bottom: 1.5rem;
          position: relative;
          display: flex;
          align-items: center;
          gap: 6px;
          &::after {
            content: "";
            position: absolute;
            left: -10px;
            height: 26px;
            width: 6px;
            background-color: black;
            border-radius: 100px;
          }
          & p {
            margin: 0;
            margin-left: 10px;
            font-weight: 600;
            font-size: 28px;
          }
        }
        & .address-wrap {
          display: flex;
          gap: 2.5rem;
          & .map-wrap {
            flex: 3;
            height: 360px;
            border-radius: 1rem;
            overflow: hidden;
          }
          & .cont-wrap {
            flex: 2;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            & .item {
              //flex: 40%;
              margin-bottom: 0.7rem;
              border-bottom: 1px solid $gray-200;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                top: 5px;
                left: -15px;
                height: 12px;
                width: 6px;
                background-color: black;
                border-radius: 100px;
              }
              & b {
                text-transform: uppercase;
                font-weight: 900;
                font-size: 16px;
                display: block;
              }
              & p,
              a {
                font-weight: 400;
                font-size: 14px;
                opacity: 0.6;
                margin-top: 4px;
              }
              &:last-of-type {
                //background-color: black;
                //color: $default-brand;
                //border: 1px solid black;
                border: none;
                position: relative;
                & a {
                  text-decoration: underline !important;
                  font-size: 16px;
                  display: inline-block;
                  color: $default-brand;
                  font-weight: 700;
                  &:hover {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/////////////////////////////
// 큰 레이아웃 반응형
@mixin tabletlayout() {
  & .app-header {
    height: $mobile-header-height !important;
  }
  & .app-footer {
    height: $mobile-footer-height !important;
  }
  & .app-body {
    top: $mobile-header-height !important;
    bottom: $mobile-footer-height !important;
  }
  & .side-wrap > div {
    top: $mobile-header-height !important;
    bottom: $mobile-footer-height !important;
  }
}
@mixin mobilelayout() {
  & .side-wrap {
    display: none;
  }
  & .app-header {
    & .logo span {
      transform: scale(0.8);
    }
    & li a {
      padding: 0 0.8rem !important;
      font-size: 1rem !important;
    }
    & .space {
      display: none;
    }
  }
  & .app-footer {
    padding: 0 1rem;
    & .flx-row.gap-3 {
      flex-direction: column !important;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0 !important;
      & > div:last-of-type {
        display: none;
      }
      & > div {
        font-size: 14px;
      }
    }
  }
}
.app-container {
  @media (max-height: $breakpoint-labtop) {
    @include tabletlayout();
  }
  @media (max-width: $breakpoint-widemonitor) {
    @include tabletlayout();
  }
  @media (max-width: $breakpoint-tablet) {
    @include mobilelayout();
  }
}
