//////////////////////////////
/* Css link*/
@import '../default/_variables';
@import '../default/_default';
@import '../../_variables';

// ---------------------------------------------------------
// ※-------------------------------------------------------
// light 테마의 기본 색상은 하단에서 수정해주세요.
// $brand, $secondary, $success, $warning, $danger, $info, $gray, $light-gray, $dark-gray
// 위 9개 종류는 고정입니다.
// ---------------------------------------------------------

$brand: #5A61FF;
$secondary: rgb(207, 103, 239);
$success: #3acc5c;
$warning: #FFC107;
$danger: #ff3333;
$info: #03D0FF;

$light-gray : $gray-200;
$gray: $gray-500;
$dark-gray : $gray-700;

//VMS용 컬러세팅
$gray_0 : #2D2D36;
$gray_1 : #22222B;
$gray_2 : #15151A;
$gray_3 : #111117;
$gray_border : #b0a6ff3a;

$purple_1 : #B1B5FF;
$purple_2 : #5A61FF;
$purple_3 : #7476A9;

$purple_gradiation : linear-gradient(145deg, #4a53ff, #b464ff);

//-------------------------------------------------------------
// ※----------------------------------------------------------
// 하단 내용은 특별한 일이 없는 한 고정입니다.-------------------
//-------------------------------------------------------------

$brand-d4: mix($brand, black, 40%);
$brand-d3: mix($brand, black, 55%);
$brand-d2: mix($brand, black, 70%);
$brand-d1: mix($brand, black, 83%);
$brand-l4: mix($brand, white, 80%);
$brand-l3: mix($brand, white, 55%);
$brand-l2: mix($brand, white, 30%);
$brand-l1: mix($brand, white, 10%);

$secondary-d4: mix($secondary, black, 40%);
$secondary-d3: mix($secondary, black, 55%);
$secondary-d2: mix($secondary, black, 70%);
$secondary-d1: mix($secondary, black, 83%);
$secondary-l4: mix($secondary, white, 82%);
$secondary-l3: mix($secondary, white, 60%);
$secondary-l2: mix($secondary, white, 35%);
$secondary-l1: mix($secondary, white, 15%);

$success-d4: mix($success, black, 40%);
$success-d3: mix($success, black, 55%);
$success-d2: mix($success, black, 70%);
$success-d1: mix($success, black, 83%);
$success-l4: mix($success, white, 82%);
$success-l3: mix($success, white, 60%);
$success-l2: mix($success, white, 35%);
$success-l1: mix($success, white, 18%);

$warning-d4: mix($warning, black, 40%);
$warning-d3: mix($warning, black, 58%);
$warning-d2: mix($warning, black, 75%);
$warning-d1: mix($warning, black, 90%);
$warning-l4: mix($warning, white, 75%);
$warning-l3: mix($warning, white, 55%);
$warning-l2: mix($warning, white, 35%);
$warning-l1: mix($warning, white, 20%);

$danger-d4: mix($danger, black, 40%);
$danger-d3: mix($danger, black, 55%);
$danger-d2: mix($danger, black, 70%);
$danger-d1: mix($danger, black, 83%);
$danger-l4: mix($danger, white, 75%);
$danger-l3: mix($danger, white, 50%);
$danger-l2: mix($danger, white, 30%);
$danger-l1: mix($danger, white, 10%);

$info-d4: mix($info, black, 40%);
$info-d3: mix($info, black, 55%);
$info-d2: mix($info, black, 70%);
$info-d1: mix($info, black, 83%);
$info-l4: mix($info, white, 75%);
$info-l3: mix($info, white, 50%);
$info-l2: mix($info, white, 30%);
$info-l1: mix($info, white, 10%);

$gray-d: mix($gray, black, 30%);
$gray-l: mix($gray, white, 30%);
$light-gray-d: mix($light-gray, black, 30%);
$light-gray-l: mix($light-gray, white, 30%);
$dark-gray-d: mix($dark-gray, black, 30%);
$dark-gray-l: mix($dark-gray, white, 30%);


// ---------------------------------------------------------
// ※-------------------------------------------------------
// 하단의 내용은 수정할 수 있지만, 변수를 추가, 제거할 순 없습니다.
// 변수 추가, 제거를 원하면 먼저 css/theme/default/default/scss 에서 수정한뒤
// 각 theme 폴더안에 동일하게 적용해주세요.
// ---------------------------------------------------------

//웹 - 공통txt
$base-txt : $f-b-2;

//웹 - 바디
//(그라디언트가 우선합니다. solid로 바꾸고 싶으면, gradient를 둘다 transparent로 변경합니다.)
$whole-body-gradient-start: $gray-100;
$whole-body-gradient-end: white;
$body-title-bg : $gray-300;
// $body-title-bg : linear-gradient(90deg, $gray-300, rgb(243, 230, 222));

//웹 - 헤더
$header-bg: white;
$header-menu-text: $f-b-1;
$header-hamburger-btn : invert(0);

//웹 - 사이드바
$menu-body-bg: white;
$menu-active-bg: $gray-200;
$menu-line-color: $gray-300;
$menu-icon-filter : invert(49%) sepia(82%) saturate(2656%) hue-rotate(1deg) brightness(105%) contrast(103%);
$menu-down-icon-filter : opacity(1) invert(1);
$menu-main-txt : #000000;
$menu-sub-txt : #4d5675;
$menu-active-txt : $f-b-1;
//(옵션: 배경 이미지 있을시에만 수정)
$menu-bg-overlay : linear-gradient(rgba(255, 255, 255, 0.95), rgba(227, 227, 233, 0.95));

//웹 - 푸터
$footer-bg: $gray-100;
$footer-txt: $f-b-5;

//모바일
$app-header-bg: #f5f5fa;

//카드
$card-body-bg: white;
$card-header-bg: white;
$card-tab: $gray-400;
$card-tab-li: $gray-300;
$card-tab-li-active: white;
$card-tab-txt : $f-b-2;
$card-tab-li-txt : $f-b-5;
$card-tab-2 : $gray-700;
$card-button-body : mix($card-body-bg, black, 98%);


//테이블
$table-border: $gray-400;
$table-inner-border: $gray-200;
$table-2row-bg: $gray-100;
$table-thead-bg: $brand-l1;
$table-tbody-bg:white;
$table-hover-bg: $gray-200;
$table-clicked-bg : $brand-l3;
$table-clicked-txt : white;
$table-th-txt: $brand-d2;
$table-td-txt: $f-b-4;

//라디오
$radio-checked-bg : $gray-800;

//토글
$toggle-bg : $gray-300;
$toggle-bar-bg : white;

//네임플레이트
$nameplate-bg : $gray-300;
$nameplate-txt : $f-b-3;

//스크롤바
$scrollbar-bg : rgba(0,0,0,0.2);
$scrollbar-track-bg :rgba(0,0,0,0.1);

//form 기본
$form-bg: rgb(248, 248, 252);
$form-border : rgba(0,0,0,0.1);
$form-txt: $f-b-4;
$form-active-bg: $brand;
$form-active-border : $gray-700;
$form-active-txt : $f-w-1;
$form-selected-txt : $f-b-1;
$form-disable-bg : $gray-100;
$form-disable-txt : $f-b-4;
$form-placeholder-txt : $f-b-1;

//흑백 바뀌는 색상
$trans-black: $brand;
$trans-gray: rgba(0,0,0,0.1);
$trans-light-gray: rgba(0,0,0,0.05);

//그림자
$drop-box-shadow : 0rem 0.47rem 2.19rem rgba(8,10,37,0.03), 0rem 0.94rem 1.41rem rgba(8,10,37,0.03), 0rem 0.25rem 0.53rem rgba(8,10,37,0.05), 0rem 0.13rem 0.19rem rgba(8,10,37,0.03);

/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

//적용
#root .app-container.app-theme-pnt-light{
  @include theme-default();
  & input,textarea,select,table,h1,h2,h3,h4,h5,p,b,span,div,a{
    color: $f-b-3; font-weight: 500;
  }
  & .pnt-btn.btn-trans:hover{
    background-color: rgba(255, 255, 255, 0.3);
  }
  //푸터
  & .app-footer{
    background-color: $menu-active-bg;
    & .play-box{
      & .play-title{background-color: $menu-active-bg;}
      & .play-content{background-color: #c7c3ce;}
      & .time-now{background: #b8b4bf;}
      & .gauge::after{box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);}
      & .sound-wrap::after{box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);}
    }
  }
  //헤더 영역
  & .app-header{
    & .web-menu{
      & .menu{color: $f-b-3; font-weight: 600;}
      & .menu:hover{border-bottom: 2px solid $trans-black;}
    }
    & .time-box{
      & .time{border-bottom: 2px solid transparent;}
      & .time p{color: $f-b-3; font-weight: 600;}
      & .time:hover{border-bottom: 2px solid $trans-black;}
    }
  }
  //사이드옵션
  & .app-optionBar input{background-color: white;}
  & .view__list-card li::after{ background-color: rgba(0,0,0, 0.1); }
  & .view__list-card .thumb-hover .flx-row button span{ filter: none !important;}
}