@charset "UTF-8";
/* Css link*/
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
/* 3. 자주 쓰는 문법  */
.color-brand {
  color: #ff7800;
}

.color-secondary {
  color: #3e66fb;
}

.color-success {
  color: #3ac062;
}

.color-info {
  color: #3bc1ff;
}

.color-warning {
  color: #ffc107;
}

.color-danger {
  color: #ff3333;
}

.color-lightgray {
  color: #dcd9e1;
}

.color-gray {
  color: #a8a7ac;
}

.color-darkgray {
  color: #434245;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.bg-brand {
  background-color: #ff7800;
}

.bg-brand.bg-light {
  background-color: #ffe4cc;
}

.bg-secondary {
  background-color: #3e66fb;
}

.bg-secondary.bg-light {
  background-color: #d8e0fe;
}

.bg-success {
  background-color: #3ac062;
}

.bg-success.bg-light {
  background-color: #d8f2e0;
}

.bg-info {
  background-color: #3bc1ff;
}

.bg-info.bg-light {
  background-color: #d8f3ff;
}

.bg-warning {
  background-color: #ffc107;
}

.bg-warning.bg-light {
  background-color: #fff3cd;
}

.bg-danger {
  background-color: #ff3333;
}

.bg-danger.bg-light {
  background-color: #ffd6d6;
}

.bg-gray {
  background-color: #a8a7ac;
}

.bg-gray.bg-light {
  background-color: #cac8cf;
}

.bg-lightgray {
  background-color: #dcd9e1;
}

.bg-lightgray.bg-light {
  background-color: #eceaf2;
}

.bg-darkgray {
  background-color: #434245;
}

.bg-darkgray.bg-light {
  background-color: #656467;
}

/* 3. 자주 쓰는 문법  */
.ws-none {
  white-space: nowrap;
}

.scale-1 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.scale-2 {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.scale-3 {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.scale-4 {
  -webkit-transform: scale(3);
          transform: scale(3);
}

.scale-5 {
  -webkit-transform: scale(5);
          transform: scale(5);
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.h-100-m {
  height: calc(100% - 1rem);
}

.flx-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.flx-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.flx-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flx-row.gap-0 {
  gap: 0;
}

.flx-row.gap-1 {
  gap: 0.5rem;
}

.flx-row.gap-2 {
  gap: 1rem;
}

.flx-row.gap-3 {
  gap: 2rem;
}

.flx-row.flx-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-row.row-top {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

@media (max-width: 570px) {
  .flx-row.flx-mobile-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 758px) {
  .flx-row.flx-tablet-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .flx-row.flx-labtop-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flx-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0.5rem;
}

.flx-col.gap-0 {
  gap: 0;
}

.flx-col.gap-1 {
  gap: 0.5rem;
}

.flx-col.gap-2 {
  gap: 1rem;
}

.flx-col.gap-3 {
  gap: 2rem;
}

.flx-col.flx-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flx-sb.flx-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flx-full > * {
  width: 100%;
}

.flx-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flx-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  width: 100% !important;
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-50 {
  height: 50% !important;
}

.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-80 {
  height: 80% !important;
}

.h-90 {
  height: 90% !important;
}

.h-100 {
  height: 100% !important;
}

.opacity-0 {
  opacity: 0%;
}

.opacity-01 {
  opacity: 10%;
}

.opacity-02 {
  opacity: 20%;
}

.opacity-03 {
  opacity: 30%;
}

.opacity-04 {
  opacity: 40%;
}

.opacity-05 {
  opacity: 50%;
}

.opacity-06 {
  opacity: 60%;
}

.opacity-07 {
  opacity: 70%;
}

.opacity-08 {
  opacity: 80%;
}

.opacity-09 {
  opacity: 90%;
}

.opacity-1 {
  opacity: 100%;
}

.mr-1 {
  margin-right: 0.2rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 3rem;
}

.ml-1 {
  margin-left: 0.2rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 3rem;
}

.mt-1 {
  margin-top: 0.2rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 0.2rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.pr-1 {
  padding-right: 0.2rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pl-1 {
  padding-left: 0.2rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pt-1 {
  padding-top: 0.2rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pmt-4 {
  padding-top: 2rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pb-1 {
  padding-bottom: 0.2rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.br-0 {
  border-radius: 0px;
}

.br-1 {
  border-radius: 0.5rem;
}

.br-2 {
  border-radius: 1rem;
}

.br-3 {
  border-radius: 2rem;
}

.br-4 {
  border-radius: 3rem;
}

.br-5 {
  border-radius: 100rem;
}

.v-visible {
  visibility: visible !important;
}

.v-hidden {
  visibility: hidden !important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.filter-none {
  -webkit-filter: none !important;
          filter: none !important;
}

.min-w-none {
  min-width: unset !important;
}

.max-w-none {
  max-width: unset !important;
}

.min-h-none {
  min-height: unset !important;
}

.max-h-none {
  max-height: unset !important;
}

.show__under-mobile {
  display: none !important;
}

@media (max-width: 570px) {
  .show__under-mobile {
    display: block !important;
  }
}

.show__under-tablet {
  display: none !important;
}

@media (max-width: 758px) {
  .show__under-tablet {
    display: block !important;
  }
}

.show__under-desktop {
  display: none !important;
}

@media (max-width: 1200px) {
  .show__under-desktop {
    display: block !important;
  }
}

.show__only-labtop {
  display: none !important;
}

@media (min-width: 1024px) and (max-width: 1700px) {
  .show__only-labtop {
    display: block !important;
  }
}

.show__over-mobile {
  display: block !important;
}

@media (max-width: 570px) {
  .show__over-mobile {
    display: none !important;
  }
}

.mini-box {
  border-radius: 5px;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  padding: 1rem;
  background-color: white;
}

.shadow-none {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.shadow-big {
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03) !important;
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03) !important;
}

.shadow-small {
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18) !important;
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18) !important;
}

.card {
  border: 1px solid rgba(32, 39, 140, 0.125);
  border-radius: 5px !important;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
  margin-bottom: 1rem;
  position: relative;
  word-wrap: break-word;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
}

.card .card-tab {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  background-color: #3e66fb;
}

@media (max-width: 570px) {
  .card .card-tab ul {
    width: 100%;
    padding: .5rem .3rem 0 .3rem !important;
  }
  .card .card-tab ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 !important;
  }
  .card .card-tab ul li a {
    line-height: auto;
    font-size: 0.8rem;
    font-weight: 700;
  }
}

.card .card-tab ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  padding-top: .5rem;
}

.card .card-tab ul li {
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  line-height: 2.5rem;
  border-radius: .8rem .8rem 0 0;
  background-color: #d8e0fe;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card .card-tab ul li a {
  display: block;
  padding: 0 1rem;
  text-align: center;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 700;
  white-space: nowrap;
  color: white;
}

.card .card-tab ul li + li {
  margin-left: .3rem;
}

.card .card-tab ul li.on {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: white;
}

.card .card-tab ul li.on a {
  color: #3252c9;
}

.card .card-header__tab {
  padding: 0 1rem;
}

.card .card-header__tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .3rem;
  margin: 0;
  padding: 0;
}

.card .card-header__tab ul li a {
  display: block;
  min-height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 1rem;
  text-align: center;
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
  text-transform: initial;
  position: relative;
}

.card .card-header__tab ul li a::after {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 10rem;
  background-color: #3252c9;
}

.card .card-header__tab ul li.on a {
  color: #3252c9;
}

.card .card-header__tab ul li.on a::after {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card .card-header {
  min-height: 3.5rem;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eceaf2;
  border-radius: 5px 5px 0 0;
  padding: 0;
}

.card .card-header .card-header__title {
  min-height: 3.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .58rem;
  overflow: hidden;
  padding-left: 1.25rem;
}

.card .card-header .card-header__title span {
  opacity: .5;
}

.card .card-header .card-header__title span + .title-wrap {
  width: calc(100% - 1rem);
}

.card .card-header .card-header__title .title-wrap {
  width: 100%;
  text-align: left;
}

.card .card-header .card-header__title .title-wrap * {
  margin: 0;
  padding: .05rem 0;
  width: calc(100% - 1rem);
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .card-header .card-header__title .title-wrap .title__main {
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 1;
}

.card .card-header .card-header__title .title-wrap .title__sub {
  line-height: auto;
  font-size: 0.7rem;
  font-weight: 400;
  opacity: .7;
}

.card .card-header .card-header__function {
  padding: 0 1.25rem;
  min-height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5px;
}

.card .card-header .card-header__function .card-overwrap-btn {
  padding: 0;
  opacity: 20%;
}

@media (max-width: 570px) {
  .card .card-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: unset !important;
  }
  .card .card-header .card-header__title {
    width: 100%;
  }
  .card .card-header .card-header__function {
    width: 100%;
    border-top: 1px solid #eceaf2;
    background-color: rgba(0, 0, 0, 0.03);
  }
  .card .card-header .card-header__function button {
    width: 100%;
  }
  .card .card-header .card-header__function .card-overwrap-btn {
    display: none;
  }
}

.card .card-body {
  padding: 1.25rem;
  overflow: auto;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 400;
}

.card .card-body .card-title {
  text-transform: uppercase;
  color: rgba(18, 21, 78, 0.7);
  font-weight: 700;
  font-size: .88rem;
  margin-bottom: .75rem;
}

.card .card-body .card-error {
  color: #ff3333;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 700;
}

.card .card-body .card-error::before {
  content: '!';
  font-weight: 900;
  margin-right: .3rem;
  width: 1rem;
  height: 100%;
}

.card .card-button {
  padding: .8rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5px;
}

.card .card-button button {
  min-width: 4rem;
}

.card .card-button .btn-cancle {
  color: #ff7800;
}

.card.card-danger .card-header .card-header__title .title__main {
  line-height: auto;
  font-size: 1.2rem;
  font-weight: 700;
  color: #ff3333 !important;
}

.card.card-danger .card-header .card-header__title .title__main::before {
  content: '⚠';
  padding-right: .3rem;
}

.card.card-folded .card-body {
  -webkit-transition: all .4s;
  transition: all .4s;
  padding: 0;
  max-height: 0 !important;
  overflow: hidden;
  opacity: 0;
}

.card .card-overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
}

.card .card-overlay.on {
  display: block;
}

.card .card-overlay .card {
  background-color: white !important;
}

.card .card-overlay .card * {
  color: black !important;
}

.card .card-overlay .card .card-header {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.tree-box {
  border: 1px solid lightgray;
}

.tree-box .tree-box__btn-box {
  padding: .5rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: .5rem;
  text-align: right;
}

.color-box {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 5px;
  width: 20px;
  height: 20px;
  margin-right: .5rem;
}

.color-box::after {
  content: '';
  position: absolute;
  right: 30px;
  width: 1px;
  height: 100%;
  background-color: #cac8cf;
}

.move-box--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 100%;
}

.move-box--group .move-box {
  border: 1px solid #eceaf2;
  border-radius: 5px;
  width: 50%;
  height: 13.8rem;
  overflow: auto;
}

.move-box--group .move-box .move-box__title {
  padding: .3rem .5rem;
  border-bottom: 1px solid #eceaf2;
  background-color: #f6f6f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.move-box--group .move-box .move-box__list {
  margin: 0;
  padding: 1rem .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

@media (min-width: 570px) and (max-width: 758px) {
  .move-box--group .move-box .name {
    max-width: 5rem;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
  }
}

@media (max-width: 570px) {
  .move-box--group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .move-box--group .move-box {
    width: 100%;
  }
  .move-box--group > span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: .5rem;
  }
}

.pnt-map-box {
  background-color: #818AAF;
  width: 100%;
  height: 100%;
  position: relative;
}

.pnt-map-box .map__function {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem;
}

.pnt-map-box .map__function .map__function--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.pnt-map-box .map__function .map__function--top > div {
  padding: .3rem;
  background-color: white !important;
  color: black !important;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(32, 39, 140, 0.125);
  border-radius: .25rem;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
}

.pnt-map-box .map__function .map__function--bottom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: .5rem;
  right: .5rem;
}

.pnt-map-box .map__function .map__function--bottom button {
  background-color: white !important;
}

.pnt-map-box .map__function .map__function--bottom button:hover {
  -webkit-filter: none !important;
          filter: none !important;
  background-color: #f6f6f9 !important;
}

.pnt-map-box .map__pin {
  position: absolute;
}

.pnt-map-box .map__pin .map__pin--balloon {
  display: none;
  z-index: 10;
  background-color: white;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  border-radius: 5px;
  padding: .5rem;
  position: absolute;
  top: -170px;
  width: 150px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pnt-map-box .map__pin .map__pin--balloon::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -15px;
  left: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.pnt-map-box .map__pin .map__pin--balloon .btn-view {
  width: 100%;
  min-height: 1rem;
  padding: .5rem;
}

.pnt-map-box .map__pin .icon-gps-fill {
  margin: 1.2rem 0 0 20px;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.pnt-map-box .map__pin.on .icon-gps {
  background-color: #FFC107;
  -webkit-box-shadow: 0px 0px 20px #FFC107;
          box-shadow: 0px 0px 20px #FFC107;
  border-radius: 100px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pnt-map-box .map__pin.active {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pnt-map-box .map__pin.active .icon-gps {
  background-color: #FF7800;
  -webkit-box-shadow: 0px 0px 20px #FF7800;
          box-shadow: 0px 0px 20px #FF7800;
  border-radius: 100px;
}

.pnt-map-box .map__pin.active .map__pin--balloon {
  display: block;
}

.pnt-map-box .map__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pnt-map-box .map__img img {
  width: 100%;
}
