@charset "UTF-8";
/* Css link*/
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
.card {
  border: 1px solid rgba(32, 39, 140, 0.125);
  border-radius: 5px !important;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
  margin-bottom: 1rem;
  position: relative;
  word-wrap: break-word;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
}

.card .card-tab {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  background-color: #3e66fb;
}

@media (max-width: 570px) {
  .card .card-tab ul {
    width: 100%;
    padding: 0.5rem 0.3rem 0 0.3rem !important;
  }
  .card .card-tab ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 !important;
  }
  .card .card-tab ul li a {
    line-height: auto;
    font-size: 0.8rem;
    font-weight: 700;
  }
}

.card .card-tab ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  padding-top: 0.5rem;
}

.card .card-tab ul li {
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  line-height: 2.5rem;
  border-radius: 0.8rem 0.8rem 0 0;
  background-color: #d8e0fe;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card .card-tab ul li a {
  display: block;
  padding: 0 1rem;
  text-align: center;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 700;
  white-space: nowrap;
  color: white;
}

.card .card-tab ul li + li {
  margin-left: 0.3rem;
}

.card .card-tab ul li.on {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: white;
}

.card .card-tab ul li.on a {
  color: #3252c9;
}

.card .card-header__tab {
  padding: 0 1rem;
}

.card .card-header__tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3rem;
  margin: 0;
  padding: 0;
}

.card .card-header__tab ul li a {
  display: block;
  min-height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 1rem;
  text-align: center;
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
  text-transform: initial;
  position: relative;
}

.card .card-header__tab ul li a::after {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 10rem;
  background-color: #3252c9;
}

.card .card-header__tab ul li.on a {
  color: #3252c9;
}

.card .card-header__tab ul li.on a::after {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card .card-header {
  min-height: 3.5rem;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eceaf2;
  border-radius: 5px 5px 0 0;
  padding: 0;
}

.card .card-header .card-header__title {
  min-height: 3.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.58rem;
  overflow: hidden;
  padding-left: 1.25rem;
}

.card .card-header .card-header__title span {
  opacity: 0.5;
}

.card .card-header .card-header__title span + .title-wrap {
  width: calc(100% - 1rem);
}

.card .card-header .card-header__title .title-wrap {
  width: 100%;
  text-align: left;
}

.card .card-header .card-header__title .title-wrap * {
  margin: 0;
  padding: 0.05rem 0;
  width: calc(100% - 1rem);
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .card-header .card-header__title .title-wrap .title__main {
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 1;
}

.card .card-header .card-header__title .title-wrap .title__sub {
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.9;
}

.card .card-header .card-header__function {
  padding: 0 1.25rem;
  min-height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5px;
}

.card .card-header .card-header__function .card-overwrap-btn {
  padding: 0;
  opacity: 20%;
}

@media (max-width: 570px) {
  .card .card-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: unset !important;
  }
  .card .card-header .card-header__title {
    width: 100%;
  }
  .card .card-header .card-header__function {
    width: 100%;
    border-top: 1px solid #cac8cf;
    background-color: rgba(0, 0, 0, 0.03);
  }
  .card .card-header .card-header__function button {
    width: 100%;
  }
  .card .card-header .card-header__function .card-overwrap-btn {
    display: none;
  }
}

.card .card-body {
  padding: 1.25rem;
  overflow: auto;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 400;
}

.card .card-body .card-title {
  text-transform: uppercase;
  color: rgba(18, 21, 78, 0.7);
  font-weight: 700;
  font-size: 0.88rem;
  margin-bottom: 0.75rem;
}

.card .card-body .card-error {
  color: #ff3333;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 700;
}

.card .card-body .card-error::before {
  content: "!";
  font-weight: 900;
  margin-right: 0.3rem;
  width: 1rem;
  height: 100%;
}

.card .card-button {
  padding: 0.8rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5px;
}

.card .card-button button {
  min-width: 4rem;
}

.card .card-button .btn-cancel {
  color: #f37321;
}

.card.card-danger .card-header .card-header__title .title__main {
  line-height: auto;
  font-size: 1.2rem;
  font-weight: 700;
  color: #ff3333 !important;
}

.card.card-danger .card-header .card-header__title .title__main::before {
  content: "⚠";
  padding-right: 0.3rem;
}

.card.card-folded .card-body {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 0;
  max-height: 0 !important;
  overflow: hidden;
  opacity: 0;
}

.card .card-overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
}

.card .card-overlay.on {
  display: block;
}

.card .card-overlay .card {
  background-color: white !important;
}

.card .card-overlay .card * {
  color: black !important;
}

.card .card-overlay .card .card-header {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.tree-box {
  border: 1px solid lightgray;
}

.tree-box .tree-box__btn-box {
  padding: 0.5rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0.5rem;
  text-align: right;
}

.color-box {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 5px;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.color-box::after {
  content: "";
  position: absolute;
  right: 30px;
  width: 1px;
  height: 100%;
  background-color: #cac8cf;
}

.move-box--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 100%;
}

.move-box--group .move-box {
  border: 1px solid #cac8cf;
  border-radius: 5px;
  width: 50%;
  height: 13.8rem;
  overflow: auto;
}

.move-box--group .move-box .move-box__title {
  padding: 0.3rem 0.5rem;
  border-bottom: 1px solid #cac8cf;
  background-color: #f6f6f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.move-box--group .move-box .move-box__list {
  margin: 0;
  padding: 1rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

@media (min-width: 570px) and (max-width: 758px) {
  .move-box--group .move-box .name {
    max-width: 5rem;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
  }
}

@media (max-width: 570px) {
  .move-box--group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .move-box--group .move-box {
    width: 100%;
  }
  .move-box--group > span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: 0.5rem;
  }
}

.pnt-map-box {
  background-color: #818aaf;
  width: 100%;
  height: 100%;
  position: relative;
}

.pnt-map-box .map__function {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
}

.pnt-map-box .map__function .map__function--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.pnt-map-box .map__function .map__function--top > div {
  padding: 0.3rem;
  background-color: white !important;
  color: black !important;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(32, 39, 140, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
}

.pnt-map-box .map__function .map__function--bottom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.pnt-map-box .map__function .map__function--bottom button {
  background-color: white !important;
}

.pnt-map-box .map__function .map__function--bottom button:hover {
  -webkit-filter: none !important;
          filter: none !important;
  background-color: #f6f6f9 !important;
}

.pnt-map-box .map__pin {
  position: absolute;
}

.pnt-map-box .map__pin .map__pin--balloon {
  display: none;
  z-index: 10;
  background-color: white;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  border-radius: 5px;
  padding: 0.5rem;
  position: absolute;
  top: -170px;
  width: 150px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pnt-map-box .map__pin .map__pin--balloon::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -15px;
  left: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.pnt-map-box .map__pin .map__pin--balloon .btn-view {
  width: 100%;
  min-height: 1rem;
  padding: 0.5rem;
}

.pnt-map-box .map__pin .icon-gps-fill {
  margin: 1.2rem 0 0 20px;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.pnt-map-box .map__pin.on .icon-gps {
  background-color: #ffc107;
  -webkit-box-shadow: 0px 0px 20px #ffc107;
          box-shadow: 0px 0px 20px #ffc107;
  border-radius: 100px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pnt-map-box .map__pin.active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pnt-map-box .map__pin.active .icon-gps {
  background-color: #ff7800;
  -webkit-box-shadow: 0px 0px 20px #ff7800;
          box-shadow: 0px 0px 20px #ff7800;
  border-radius: 100px;
}

.pnt-map-box .map__pin.active .map__pin--balloon {
  display: block;
}

.pnt-map-box .map__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pnt-map-box .map__img img {
  width: 100%;
}
