//////////////////////////////
/* Css link*/
@import 'font';
@import 'tools';
//////////////////////////////



///////////////////////////////////
//
// ※확인해주세요
// Asset-Public 만을 위한 css 입니다.
//
///////////////////////////////////

::selection{
    background-color: orange;
}

.box{
  width: 100%;
  height: 3.4rem;
  position: relative;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
  & span{
    display: none;
    position: absolute;
    width: 100%;
    height: 1rem;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    color: white !important;
    padding: 0 5px;
    @include p5-n();
    overflow: hidden;
  }
}

.ap-label{
  display: inline-block;
  padding: .4rem 1rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  @include p3-b();
  margin-bottom: 1rem;

  &::before{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background-color: black;
  }
}

#root .app-container.app-theme-pnt-dark, #root .app-container.app-theme-pnt-plant{
  & .ap-label{
    background-color: rgba(255,255,255,0.2);
    color: $f-b-3;
  }
  & .bg-light, .bg-l-1, .bg-l-2, .bg-l-3, .bg-warning{
    color: $f-b-4;
    & * {color: $f-b-4;}
  }
}

// 모바일 페이지에서의 타이틀		
.mobile-page-title{		
  display: none;		
  @media (max-width: $breakpoint-mobile){		
    background: hsla(0,0%,100%,.55);		
    display: flex;		
    padding: 1.5rem;		
    align-items: center;		
    justify-content: center;		
    @include p1-b(1.2);		
    & .menu-sub{ color: $f-b-6; }		
    & .icon-next{ opacity: .4; }		
    & .menu-main{ margin-left: .3rem; }		
  }
}

//서치
.search-open{		
  width: 100%;		
  display: flex;		
  align-items: start;		
}		
.search-close{		
  width: 100%;		
  display: flex;		
  align-items: start;		
}		
.widget-search {		
  & .absolute-filter {		
      position: absolute;		
      width: 100%;		
      z-index: 1001;		
  }		
}		
.btn-mobile-search{		
  @media(max-width: $breakpoint-tablet){		
    position: absolute;		
    top: 5px;		
    right: 15px;		
    &.folded{		
      transition: all .5s;		
      opacity: 0;		
      visibility: hidden;		
    }		
  }		
}

//맵
.map-text{	
  text-align: center !important;	
  color: rgba(0, 0, 0, 0.75) !important;	
}	
.leaflet-container{		
  & .popup-open{		
    position: absolute;		
    z-index: 1000;		
    background-color: $white;		
    max-width: 100%;		
    height: 88%;		
    &.floorDetail{		
      max-width: 100%;		
      height: 370px;		
    }		
    &.filtering{		
      max-width: 100%;		
      height: 350px;		
    }		
    .header{		
      width: 25%;		
      text-align: center;		
    }		
  }		
  & .custom-control{	
    display: flex;	
  }	
  & .toast-body{	
    height: 280px;	
  }	
}	
.leaflet-control{	
  & .item-container{	
    display: inline-block;	
    color: $black;	
    font-weight: 500;	
    margin: 0 0.5rem 0 0.5rem ;	
    padding: 0.35rem;	
    background-color: $white;	
    font-size: 1rem;	
    border-radius: 4px;	
    border: 1px solid $gray-700;	
  }	
}
.leaflet-control-layers-overlays span{	
  color: rgba(0, 0, 0, 0.75) !important;	
}	
.custom-tooltip {	
  margin: 0;	
  padding: 10px;	
  background-color: rgb(255, 255, 255);	
  border: 1px solid rgb(204, 204, 204);	
  white-space: nowrap;	
}	
.custom-tooltip span{	
  text-align: center !important;	
  color: rgba(0, 0, 0, 0.75) !important;	
}	
//.leaflet-tile-container img {	
//  width: 256.8px !important;	
//  height: 256.8px !important;	
//}	
.custom-widget-search {	
  padding-left :  0.5rem;	
  padding-right : 0.5rem;	
}	

//필터 ?
.filter__options{	
  & .select-container{	
    width: 100%;	
  }	
}

//카드 ?
.card-custom{	
  z-index: 0;	
  width: 20rem;	
  margin: auto auto 3rem;	
}
.card-body{	
  & .scrollbar-container{	
    width: 100%;	
    overflow: auto;	
    height: 100%	
  }	
}

//분류 안됌
.item-container{	
  display: inline-block;	
  color: $black;	
  font-weight: bold;	
  margin: 0 0.5rem 0 0.5rem ;	
  padding: 0.35rem;	
  background-color: $white;	
  font-size: 1rem;	
  border-radius: 4px;	
  border: 1px solid $gray-700;	
}	
.monitoring-img{	
  position: relative;	
  background-color: white;	
  border-radius: $form-radius;	
  box-shadow: $card-shadow;	
  text-align: center;	
}	
.report-container{	
  & .popup-open {	
    position: absolute;	
    z-index: 1000;	
    background-color: $white;	
    max-width: 50vw;	
    width: 50vw;	
    height: 70%;	
    padding-bottom: 2rem;	
  }	
  & .toast-body{	
    height: 100%;	
  }	
}
.list-group-item{	
  &.layout{	
    width: 100%;	
    display: flex;	
    justify-content: space-between;	
    align-items: center;	
    cursor: pointer;	
  }	
  &:hover{	
    font-weight: 700;	
  }	
}
.block-overlay-dark{	
  height: 100%;	
}	
.count-container{	
  @media(max-width: $breakpoint-tablet){	
    padding-top: 1rem;	
  }	
}	
.btn-yesterday{	
  @media(max-width: $breakpoint-tablet){	
    width: 100%;	
  }	
}

//툴스
.flx-row{	
  &.row-space-around{	
    justify-content: space-around;	
  }	
}	
.app-theme-pnt-dark{
  .app-page-title{
    background: rgba(0, 0, 0, 0.15) !important;
  }
}


//나중에 theme / default / _default.scss 에 추가예정
//1. 라이센스 리스트, 2. 라이센스 발급, 3. vender 리스트, 4. vender 발급

// .app-theme-pnt-light, .app-theme-pnt-navy{
//   //1
//   .app-page-title{ background: linear-gradient(45deg, #E8F2FC, #FCF5E8) !important;}
//   //2
//   .app-page-title{ background: #E8E8FC !important; }
//   //3
//   .app-page-title{ background: linear-gradient(45deg, #FCEAE8, #FCF5E8) !important;}
//   //4
//   .app-page-title{ background: #E8F0FC !important;}
// }
// .app-theme-pnt-dark{
//   //폰트
//   .app-page-title *{ color: white !important; }
//   //1
//   .app-page-title{ background: linear-gradient(45deg, #2d3236, #7e7b75) !important;}
//   //2
//   .app-page-title{ background: #3f3f4d !important; }
//   //3
//   .app-page-title{ background: linear-gradient(45deg, #3b3231, #746a58) !important;}
//   //4
//   .app-page-title{ background: #4a495a !important;}
// }
// .app-theme-pnt-plant{
//   //폰트
//   .app-page-title *{ color: white !important; }
//   //1
//   .app-page-title{ background: linear-gradient(45deg, #425f5a, #7e7b75) !important;}
//   //2
//   .app-page-title{ background: #40534b !important; }
//   //3
//   .app-page-title{ background: linear-gradient(45deg, #455c48, #9c917a) !important;}
//   //4
//   .app-page-title{ background: #5b6964 !important;}
// }
// .app-theme-pnt-flower{
//   //1
//   .app-page-title{ background: linear-gradient(45deg, #f0e8fc, #e8fcf4) !important;}
//   //2
//   .app-page-title{ background: #e5f5f3 !important;}
//   //3
//   .app-page-title{ background: linear-gradient(45deg, #fceae8, #FCF5E8) !important;}
//   //4
//   .app-page-title{ background: #fcf3e8 !important; }
// }