//////////////////////////////
//※ 해당 파일은 html 용으로 만들었습니다.
//   React 템플릿을 사용할경우, merge 하지 마세요.

//////////////////////////////
/* Css link*/
@import "_font";
@import "_variables";

///////////////
//about - 레이아웃
body {
  //overflow-y: overlay !important;
  overflow: hidden !important;
}
.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;

  //헤더
  & .app-header {
    position: fixed;
    width: 100%;
    top: 0;
    height: $app-header-height;
    display: flex;
    align-items: center;
    align-content: center;
    z-index: 10;
    transition: all 0.2s;
    background-color: #fafafc;
    box-shadow: $layout-shadow;

    //로고 접히는칸
    & .app-header__logo {
      width: $app-sidebar-width;
      height: $app-header-height;
      padding: 0 $layout-spacer-x;
      padding-right: 1.4rem;
      display: flex;
      align-items: center;
      transition: width 0.2s;

      & .logo-src {
        background-image: none;
        white-space: nowrap;
        @include h5-b();
        letter-spacing: -1px;
        color: $default-brand !important;
        margin-top: -5px;
      }
    }
    //로고 외의 칸
    & .app-header__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex: 1;
      padding: 0 $layout-spacer-x;
      height: $app-header-height;
      & .app-header-left,
      .app-header-right {
        display: flex;
        align-items: center;
        gap: 0;
        & .menu-sub {
          color: $f-b-6;
          @include p5-n();
        }
        & .menu-main {
          color: $default-secondary-d;
          @include p3-b();
        }
        & .icon-next {
          opacity: 0.4;
          margin-right: 6px;
          transform: scale(0.5);
        }
      }
    }
  }

  & .app-main {
    padding-top: $app-header-height;
    z-index: 8;
    position: relative;
    background: #edebf3;

    //네브, 사이드메뉴
    & .app-sidebar {
      position: fixed;
      display: flex;
      flex: 0 0 $app-sidebar-width;
      height: 100vh;
      width: $app-sidebar-width;
      min-width: $app-sidebar-width;

      z-index: 20;
      overflow: hidden;
      //margin-top: -60px;
      //padding-top: 60px;
      transition: all 0.2s;
      background-color: #f2f2f7;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    //본문
    & .app-main__outer {
      display: flex;
      flex-direction: column;
      flex: 1 1;
      padding-left: $app-sidebar-width;
      z-index: 12;
      height: calc(100vh - 60px); //$app-header-height

      & .app-main__inner {
        padding: 0 !important;
        flex: 1 1 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        background: #edebf3;
        overflow: auto;

        //content 내 타이틀 화면
        //웹(필수 아님), 모바일(활성화를 권장)
        & .app-page-title {
          display: flex;
          flex-direction: column;
          text-align: left;
          background: hsla(0, 0%, 100%, 0.55);
          padding: 1.5rem;
          height: 100px;
          margin: 0;

          & .menu-sub {
            @include p4-n(1.2);
          }
          & .menu-main {
            @include h3-b();
            color: $default-secondary-d;
          }

          @media (max-width: $breakpoint-mobile) {
            height: 80px;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            padding: 1.5rem;
            justify-content: center;
            flex-direction: row;
          }
        }
        //찐 본문
        & .app-page-content {
          padding: 1.5rem 1.5rem 2.5rem 1.5rem;
          box-sizing: border-box;
          position: relative;
          display: flex;
          flex-direction: column;

          @media (max-width: $breakpoint-mobile) {
            padding: 15px;
          }

          //모바일 맨 밑에 공간 없으면 이곳을 수정할 예정
          @media (max-width: $breakpoint-mobile) {
            & > .row:last-child {
              & > div:last-child {
              }
            }
          }
        }
        //대시보드-오버뷰 용 에디트 버튼
        & .dashboard-edit {
          position: fixed;
          bottom: 2rem;
          right: 1.5rem;
        }
      }
    }

    //푸터
    & .app-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      z-index: 12;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fafafc;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      height: 30px;
      padding-right: 1rem;
      & .footer-wrap {
        @include p5-n();
        color: $f-b-6;
        opacity: 0.5;
      }
    }
  }
}

///////////////
//네비게이션 - 닫았을 때
.app-container.on {
  //헤더
  & .app-header {
    & .app-header__logo {
      width: $app-sidebar-width-collapsed;
      transition: all 0.3s;
      padding-left: 1.3rem;
      & .logo-src {
        font-size: 0;
      }
    }
  }
  & .app-main {
    //네비게이션
    & .app-sidebar {
      width: $app-sidebar-width-collapsed;
      min-width: $app-sidebar-width-collapsed;
      flex: 0 0 $app-sidebar-width-collapsed;
      transition: all 0.3s;
      & * {
        font-size: 0;
      }
      & span {
        display: none;
      }
      & li.on,
      li:hover {
        background-color: transparent;
        padding: 0;
      }
    }
    //본문
    & .app-main__outer {
      padding-left: $app-sidebar-width-collapsed;
      transition: all 0.3s;
    }
  }
}

///////////////
//네비게이션
.app-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;

  &.nav-box__img-bg {
    background-image: url("../images/background_nav.jpg") !important;
    background-position: center center;
    background-size: cover !important;
    background-repeat: no-repeat;
    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(93, 89, 100, 0.8));
    }
    & * {
      color: white;
    }
  }

  & .app-sidebar__inner {
    display: block;
    padding: 0 !important;
    margin-top: 1rem;
    & .metismenu {
      margin-bottom: 1rem;
      //대 메뉴 부분
      & .metismenu-link {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        //메뉴 아이콘
        & .metismenu-icon {
          margin-right: 0.5rem;
          filter: invert(49%) sepia(82%) saturate(2656%) hue-rotate(1deg)
            brightness(105%) contrast(103%) !important;
          transform: scale(1.1);
        }
        //대메뉴 타이틀
        & .main__txt {
          @include p3-b();
          color: $f-b-1;
          display: inline-block;
        }
        //접기버튼
        & span[class*="icon-down"] {
          margin-left: auto;
          opacity: 0.3;
        }
      }

      //하위메뉴 부분
      & ul.metismenu-container {
        padding-left: 1.4rem;
        position: relative;
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 3px;
          height: 100%;
          background-color: #c5d1fe;
          border-radius: 50px;
          left: 0.5rem;
        }
        & li.metismenu-item {
          padding: 0.3rem 0.5rem;
          margin-bottom: 0.1rem;
          & a {
            @include p3-n();
            color: $f-b-4;
            display: block;
            width: 100%;
            height: 100%;
          }
          //클릭, 호버시
          &.on,
          &:hover {
            background-color: #c5d1fe;
            border-radius: $form-radius;
            & a {
              color: black;
            }
          }
        }
      }
    }
  }
}

///////////////
//헤더 위젯

.header-app {
  height: $form-height;
  //공통
  & .pnt-select--group {
    & .select__btn {
      border-radius: 100rem;
      //box-shadow: $card-shadow;
      border: none !important;
      background-color: transparent !important;
      & .cont-wrap {
        @include p4-b();
      }
    }
    &.on .select__btn {
      filter: brightness(0.8);
    }
  }
  //길이
  &.theme-box > div {
    width: 7.5rem;
    min-width: unset;
  }
  &.user-box > div {
    width: 10rem;
  }

  //테마박스
  &.theme-box {
    box-shadow: $card-shadow;
    border-radius: 100rem;
  }
  //유저박스
  &.user-box {
    & .pnt-select--group .select__btn .cont-wrap {
      padding-left: 2.3rem;
      & span {
        transform: scale(1.5) translateY(-30%) translateX(12%);
      }
      & p {
        @include p5-l(1);
        opacity: 0.6;
        padding: 0;
        margin: 0;
      }
    }
    position: relative;
    padding-left: 0.5rem;
    &::before {
      content: "";
      width: 2px;
      height: 20px;
      display: block;
      border-radius: 100px;
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
#root .app-container.app-theme-pnt-dark {
  & .header-app.user-box::before {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

//예전 헤더
// .user-box{
//   & .pnt-select--group{
//       & .select__options{
//           left: auto;
//           right: 0;
//           width: 23rem;
//           background-color: transparent;
//           @media (max-width:$breakpoint-tablet){
//               width: calc(100% - 2px);
//           }
//           & .profile-main{
//               background-image: url('../images/background.jpg');
//               background-repeat: no-repeat;
//               background-size: cover;
//               & .flx-sb{
//                   //background-color: rgba(128, 160, 221, 0.651);
//                   background-color: rgba(30, 34, 90, 0.651);
//                   padding: 1rem 1.2rem 1rem 1.4rem;
//                   & .flx-row{
//                       & span{
//                           transform: scale(2);
//                           margin-right: 1rem;
//                           filter: drop-shadow(0 0 2px rgba(180, 72, 0, 0.3));
//                       }
//                       & p{
//                           margin: 0;
//                           color: $white;
//                           @include p2-n;
//                       }
//                   }
//               }
//           }
//           & .profile-setting{
//               & .profile-setting__wrap{
//                   display: flex;
//                   & > div{
//                       flex: 1 1 0;
//                       & a{
//                           position: relative;
//                           display: block;
//                           padding: 1rem;
//                           width: 100%;
//                           height: 9rem;
//                           text-align: center;
//                           background: white;

//                           transition: $form-transition;
//                           &:hover{
//                               background: $gray-100;
//                               transition: $form-transition;
//                           }
//                           //아이콘
//                           & span{
//                               margin-top: 1.3rem;
//                               background-size: 270px;
//                               transform: scale(2.5);
//                               border-radius: 0.2rem;
//                               background-color: white;
//                               box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
//                           }
//                           //메뉴글씨
//                           & p{
//                               margin: 1.3rem 0 0 0;
//                               @include p4-b();
//                               color: $f-b-4;
//                               &::after{
//                                   content: '';
//                                   width: .8rem;
//                                   height: 1px;
//                                   background-color: $gray-500;
//                                   display: block;
//                                   position: absolute;
//                                   bottom: 0.5rem;
//                                   left: 50%;
//                                   transform: translateX(-50%);
//                               }
//                           }

//                       }

//                   }
//                   & > div + div{
//                       border-left: 1px solid rgb(230, 230, 230);
//                   }
//               }
//           }
//       }
//   }
// }

///////////////
//스크롤바
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-clip: padding-box;
  border: 1px solid transparent; //pdding 대신 여백사용할때
}
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

//다른 테마에서의 사이드바 배경화면
#root .app-container.app-theme-pnt-flower {
  & .app-sidebar.nav-box__img-bg {
    background-image: url("../images/background_nav_flower.jpg") !important;
  }
}
#root .app-container.app-theme-pnt-plant {
  & .app-sidebar.nav-box__img-bg {
    background-image: url("../images/background_nav_plant2.png") !important;
  }
}
