@charset "UTF-8";
/* Css link*/
/* Css link*/
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.h-100-m {
  height: calc(100% - 1rem);
}

.flx-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flx-row.gap-0 {
  gap: 0;
}

.flx-row.gap-1 {
  gap: .5rem;
}

.flx-row.gap-2 {
  gap: 1rem;
}

.flx-row.gap-3 {
  gap: 2rem;
}

.flx-row.row-top {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.flx-row.flx-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flx-row.flx-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flx-row.flx-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 570px) {
  .flx-row.flx-mobile-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 758px) {
  .flx-row.flx-tablet-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .flx-row.flx-labtop-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flx-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: .5rem;
}

.flx-col.gap-0 {
  gap: 0;
}

.flx-col.gap-1 {
  gap: .5rem;
}

.flx-col.gap-2 {
  gap: 1rem;
}

.flx-col.gap-3 {
  gap: 2rem;
}

.flx-col.flx-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flx-sb.flx-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flx-full > * {
  width: 100%;
}

.flx-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flx-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  width: 100% !important;
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-50 {
  height: 50% !important;
}

.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-80 {
  height: 80% !important;
}

.h-90 {
  height: 90% !important;
}

.h-100 {
  height: 100% !important;
}

.opacity-0 {
  opacity: 0%;
}

.opacity-01 {
  opacity: 10%;
}

.opacity-02 {
  opacity: 20%;
}

.opacity-03 {
  opacity: 30%;
}

.opacity-04 {
  opacity: 40%;
}

.opacity-05 {
  opacity: 50%;
}

.opacity-06 {
  opacity: 60%;
}

.opacity-07 {
  opacity: 70%;
}

.opacity-08 {
  opacity: 80%;
}

.opacity-09 {
  opacity: 90%;
}

.opacity-1 {
  opacity: 100%;
}

.mr-1 {
  margin-right: .2rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 3rem;
}

.ml-1 {
  margin-left: .2rem;
}

.ml-2 {
  margin-left: .5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 3rem;
}

.mt-1 {
  margin-top: .2rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: .2rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.pr-1 {
  padding-right: .2rem;
}

.pr-2 {
  padding-right: .5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pl-1 {
  padding-left: .2rem;
}

.pl-2 {
  padding-left: .5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pt-1 {
  padding-top: .2rem;
}

.pt-2 {
  padding-top: .5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pmt-4 {
  padding-top: 2rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pb-1 {
  padding-bottom: .2rem;
}

.pb-2 {
  padding-bottom: .5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.v-visible {
  visibility: visible !important;
}

.v-hidden {
  visibility: hidden !important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.filter-none {
  -webkit-filter: none !important;
          filter: none !important;
}

.only-mobile {
  display: none !important;
}

@media (max-width: 570px) {
  .only-mobile {
    display: block !important;
  }
}

.only-tablet {
  display: none !important;
}

@media (max-width: 758px) {
  .only-tablet {
    display: block !important;
  }
}

.only-under-desktop {
  display: none !important;
}

@media (max-width: 1200px) {
  .only-under-desktop {
    display: block !important;
  }
}

.only-labtop {
  display: none !important;
}

@media (min-width: 1024px) and (max-width: 1700px) {
  .only-labtop {
    display: block !important;
  }
}

.only-web {
  display: block !important;
}

@media (max-width: 570px) {
  .only-web {
    display: none !important;
  }
}

.page-landering {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: auto;
}

.page-landering * {
  color: white !important;
}

.page-landering .page-landering__cont-wrap {
  width: 100%;
  height: 100%;
}

.page-landering .page-landering__cont-wrap .lander-mobile-header {
  display: none;
}

.page-landering .page-landering__cont-wrap .lander-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap {
  padding-top: 5%;
  margin-right: 10%;
  width: 70%;
  min-height: 60%;
  max-width: 600px;
  min-width: 300px;
}

@media screen and (max-width: 1024px) {
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap {
    margin: 0;
    width: 100%;
    padding: 0 2rem;
  }
}

.page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--logo {
  display: inline-block;
  padding: 0.2rem 1rem 0.1rem 1rem;
  border-radius: 5rem;
  background-color: #5A61FF;
  font-size: 14px;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
}

.page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--logo .pnt-logo {
  opacity: .9;
}

.page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt {
  margin-bottom: 3rem;
}

.page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt * {
  display: block;
}

.page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt .txt__main {
  line-height: 1.1;
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 5rem;
}

@media (min-width: 570px) and (max-width: 1024px) {
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt .txt__main {
    line-height: 1.2;
    font-size: 50px;
    font-weight: 700;
  }
}

@media (max-height: 570px) {
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt .txt__main {
    line-height: auto;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .8rem;
  }
}

.page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt .txt__sub {
  line-height: auto;
  font-size: 1.2rem;
  font-weight: 400;
  opacity: .9;
  margin-bottom: 1rem;
}

@media (max-width: 1024px) {
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt .txt__sub {
    line-height: auto;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .6rem;
  }
}

@media (max-height: 758px) {
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt .txt__sub {
    line-height: auto;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .6rem;
  }
}

.page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt .txt__desc {
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 300;
  opacity: .7;
}

@media (max-width: 1024px) {
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt .txt__desc {
    line-height: auto;
    font-size: 0.8rem;
    font-weight: 300;
  }
}

@media (max-height: 758px) {
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt .txt__desc {
    line-height: auto;
    font-size: 0.8rem;
    font-weight: 300;
  }
}

.page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--login-btn {
  display: none;
}

.page-landering .page-landering__cont-wrap .lander-login {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
  width: 70%;
  max-width: 400px;
  min-width: 300px;
}

@media screen and (max-width: 1024px) {
  .page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap {
    margin: 0;
    width: 100%;
    max-width: unset;
    min-width: unset;
    padding: 0 2rem;
  }
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .title-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-bottom: 0;
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .title-box .txt__main {
  line-height: auto;
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .title-box .txt__sub {
  line-height: 1.4;
  font-size: 0.9rem;
  font-weight: 300;
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .cont-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .cont-box .cont--error p {
  line-height: 1.4;
  font-size: 0.9rem;
  font-weight: 700;
  color: #ff3333 !important;
  margin: 0;
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .cont-box .cont--txt {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .cont-box .cont--txt .txt__main {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 700;
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .cont-box .cont--txt .txt__sub {
  line-height: auto;
  font-size: 1rem;
  font-weight: 400;
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .bottom-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-top: 2rem;
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .bottom-box .bottom-box__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .bottom-box .bottom-box__wrap a, .page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .bottom-box .bottom-box__wrap button {
  height: 30px;
  opacity: .7;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 400;
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .bottom-box .bottom-box__wrap a:hover, .page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .bottom-box .bottom-box__wrap button:hover {
  color: white;
  opacity: 1;
}

@media (max-width: 758px) {
  .page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .bottom-box .bottom-box__wrap a, .page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .bottom-box .bottom-box__wrap button {
    line-height: auto;
    font-size: 0.7rem;
    font-weight: 400;
  }
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .bottom-box .bottom-box__wrap .sign-in::before {
  content: '';
  width: 1px;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.295);
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  display: inline-block;
  margin-right: 1rem;
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .bottom-box .bottom-box__wrap .to-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 400;
}

.page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .bottom-box .bottom-box__wrap .to-login a, .page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .bottom-box .bottom-box__wrap .to-login button {
  opacity: 1;
  padding: .2rem .8rem;
  border-radius: 100rem;
  border: 1px solid white !important;
}

.page-landering .page-landering__bg {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../images/background_login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  animation-name: bg-moving;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 100s;
  -webkit-animation-name: bg-moving;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 100s;
  -moz-animation-name: bg-moving;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-duration: 100s;
}

.page-landering .page-landering__bg::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes bg-moving {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

@-webkit-keyframes bg-moving {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

.page-landering .pnt-btn.btn-secondary:hover {
  background-color: #b467ef;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.page-landering .pnt-btn.form-disable {
  -webkit-box-shadow: 0 0 0 1px transparent inset;
          box-shadow: 0 0 0 1px transparent inset;
  background-color: #F6F6F9;
  color: #737373;
}

.page-landering .pnt-btn.form-disable:hover {
  -webkit-filter: none;
          filter: none;
}

.page-landering .pnt-btn.form-disable span {
  -webkit-filter: unset !important;
          filter: unset !important;
  opacity: .4;
}

.page-landering .pnt-btn.btn-large {
  margin-top: 1rem;
}

.page-landering .pnt-input--group .pnt-input {
  color: white !important;
  letter-spacing: .5px;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  width: 100%;
  height: 100%;
  border: 1px solid transparent !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 5px;
  padding: 0 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page-landering .pnt-input--group .pnt-input::-webkit-input-placeholder {
  color: white !important;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 300;
  white-space: nowrap;
  font-size: 13px;
  opacity: .6;
}

.page-landering .pnt-input--group .pnt-input:-ms-input-placeholder {
  color: white !important;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 300;
  white-space: nowrap;
  font-size: 13px;
  opacity: .6;
}

.page-landering .pnt-input--group .pnt-input::-ms-input-placeholder {
  color: white !important;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 300;
  white-space: nowrap;
  font-size: 13px;
  opacity: .6;
}

.page-landering .pnt-input--group .pnt-input::placeholder {
  color: white !important;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 300;
  white-space: nowrap;
  font-size: 13px;
  opacity: .6;
}

.page-landering .pnt-input--group input:focus, .page-landering .pnt-input--group input:active, .page-landering .pnt-input--group input:focus-visible {
  -webkit-filter: none !important;
          filter: none !important;
  background-color: rgba(255, 255, 255, 0.35);
  border: 1px solid #86858A;
  outline: none;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
}

.page-landering .pnt-input--group input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.35) inset;
}

.page-landering .pnt-input--group span {
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: 1;
}

.page-landering .pnt-select--group {
  width: 150px;
}

.page-landering .pnt-select--group * {
  color: white !important;
}

.page-landering .pnt-select--group .select__btn {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
}

.page-landering .pnt-select--group .select__btn span {
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: .8;
}

.page-landering .pnt-select--group .select__options {
  background-color: rgba(255, 255, 255, 0.3);
}

.page-landering .pnt-select--group .select__options li:hover a {
  background-color: rgba(255, 255, 255, 0.5);
}

.page-landering .pnt-select--group .select__options li.on a {
  background-color: #b467ef;
  color: white;
}

.page-landering .pnt-select--group.on .select__btn {
  border: 1px solid white !important;
}

.page-landering .pnt-checkbox .checkbox-effect {
  border: none !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.page-landering .pnt-checkbox p {
  color: white;
}

.page-landering .pnt-checkbox.check-checked .checkbox-effect {
  background-color: #5A61FF !important;
  border: none !important;
}

.page-landering .form-disable.pnt-btn {
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #A8A7AC !important;
  color: white;
}

.page-landering .form-disable.pnt-btn span {
  -webkit-filter: invert(1) brightness(2) !important;
          filter: invert(1) brightness(2) !important;
}

.page-landering .form-disable.pnt-btn:hover {
  -webkit-filter: none !important;
          filter: none !important;
}

.page-landering .form-disable.pnt-input--group .pnt-input {
  color: white !important;
  letter-spacing: .5px;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  width: 100%;
  height: 100%;
  border: 1px solid transparent !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 5px;
  padding: 0 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page-landering .form-disable.pnt-input--group .pnt-input::-webkit-input-placeholder {
  color: white !important;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 300;
  white-space: nowrap;
  font-size: 13px;
  opacity: .6;
}

.page-landering .form-disable.pnt-input--group .pnt-input:-ms-input-placeholder {
  color: white !important;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 300;
  white-space: nowrap;
  font-size: 13px;
  opacity: .6;
}

.page-landering .form-disable.pnt-input--group .pnt-input::-ms-input-placeholder {
  color: white !important;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 300;
  white-space: nowrap;
  font-size: 13px;
  opacity: .6;
}

.page-landering .form-disable.pnt-input--group .pnt-input::placeholder {
  color: white !important;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 300;
  white-space: nowrap;
  font-size: 13px;
  opacity: .6;
}

.page-landering .form-disable.pnt-input--group input:focus, .page-landering .form-disable.pnt-input--group input:active, .page-landering .form-disable.pnt-input--group input:focus-visible {
  -webkit-filter: none !important;
          filter: none !important;
  background-color: rgba(255, 255, 255, 0.35);
  border: 1px solid #86858A;
  outline: none;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
}

.page-landering .form-disable.pnt-input--group span {
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: 1;
}

@media (max-width: 570px) {
  .page-landering {
    overflow: hidden;
  }
  .page-landering .page-landering__cont-wrap.login_clicked {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .page-landering .page-landering__cont-wrap.login_clicked .lander-mobile-header {
    display: none;
  }
  .page-landering .page-landering__cont-wrap.login_clicked .lander-info {
    display: none;
  }
  .page-landering .page-landering__cont-wrap.login_clicked .lander-login {
    display: block;
  }
  .page-landering .page-landering__cont-wrap .lander-mobile-header {
    display: block;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
  }
  .page-landering .page-landering__cont-wrap .lander-mobile-header .mobile-header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 2rem;
  }
  .page-landering .page-landering__cont-wrap .lander-mobile-header .mobile-header__wrap .language-box .pnt-select--group {
    width: 40px;
  }
  .page-landering .page-landering__cont-wrap .lander-mobile-header .mobile-header__wrap .language-box .select__options {
    background-color: #434245;
    left: unset;
    right: 0;
    -webkit-transform: unset;
            transform: unset;
  }
  .page-landering .page-landering__cont-wrap .lander-info {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--logo {
    display: none;
  }
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt {
    padding: 15% 1rem;
  }
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt .txt__main {
    line-height: auto;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
    position: relative;
  }
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt .txt__sub {
    display: block;
    line-height: auto;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt .txt__sub::before {
    content: '';
    width: 1.6rem;
    height: 4px;
    background-color: white;
    display: block;
    border-radius: 100rem;
    margin-bottom: .5rem;
  }
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--txt .txt__desc {
    line-height: auto;
    font-size: 0.8rem;
    font-weight: 300;
  }
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--language {
    display: none;
  }
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--login-btn {
    display: block;
    position: absolute;
    right: 2rem;
    bottom: 12%;
  }
  .page-landering .page-landering__cont-wrap .lander-info .lander-info__wrap .info--login-btn * {
    font-size: 16px !important;
  }
  .page-landering .page-landering__cont-wrap .lander-login {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap {
    margin: 0;
    padding: 2rem;
    padding-top: 30%;
    height: 100%;
    width: 100%;
  }
  .page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .title-box {
    text-align: center;
  }
  .page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .title-box .txt__main {
    line-height: auto;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .page-landering .page-landering__cont-wrap .lander-login .lander-login__wrap .title-box .txt__sub {
    line-height: 1.4;
    font-size: 0.9rem;
    font-weight: 300;
  }
}
