@charset "UTF-8";
/* Css link*/
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes up {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

#page-home .banner-wrap {
  width: 100%;
  height: 560px;
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#page-home .banner-wrap .content-wrap {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: banner;
          animation-name: banner;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes banner {
  from {
    background: rgba(0, 0, 0, 0.3);
  }
  to {
    background: rgba(0, 0, 0, 0.55);
  }
}

@keyframes banner {
  from {
    background: rgba(0, 0, 0, 0.3);
  }
  to {
    background: rgba(0, 0, 0, 0.55);
  }
}

#page-home .banner-wrap .content-wrap * {
  color: white;
}

#page-home .banner-wrap .content-wrap h2 {
  margin-top: 40px;
  font-size: 96px;
  font-weight: 800;
}

#page-home .banner-wrap .content-wrap h2 b {
  color: #d4b9d7;
}

#page-home .banner-wrap .content-wrap h3 {
  margin-top: 10px;
  font-size: 24px;
}

#page-home .banner-wrap .content-wrap p {
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 0;
  font-weight: 200;
  opacity: 0.8;
}

#page-home .human-wrap {
  padding: 80px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background-image: url("../images/circle-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

#page-home .human-wrap .human-title {
  text-align: center;
}

#page-home .human-wrap .human-title h4 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.4;
}

#page-home .human-wrap .human-title h5 {
  font-size: 20px;
  margin-top: 30px;
}

#page-home .human-wrap .human-title p {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
  margin: 50px 0;
}

#page-home .human-wrap .img-human {
  opacity: 0;
}

#page-home .human-wrap .img-human.animation {
  -webkit-animation: up 800ms ease-out forwards;
          animation: up 800ms ease-out forwards;
}

#page-home .human-wrap .human-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

#page-home .human-wrap .human-item-wrap .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  background: white;
  border-top: 1px solid #84cca7;
  -webkit-box-shadow: 0px 7px 16px rgba(24, 30, 111, 0.05);
          box-shadow: 0px 7px 16px rgba(24, 30, 111, 0.05);
  border-radius: 5px;
  opacity: 0;
}

#page-home .human-wrap .human-item-wrap .item.animation {
  -webkit-animation: up 800ms ease-out forwards;
          animation: up 800ms ease-out forwards;
}

#page-home .human-wrap .human-item-wrap .item .title {
  color: #0e303c;
  font-size: 20px;
  font-weight: 900;
  padding-left: 17px;
}

#page-home .human-wrap .human-item-wrap .item .desc {
  padding-left: 0;
  margin: 0;
}

#page-home .human-wrap .human-item-wrap .item .desc li {
  list-style: inside;
  color: #895ba6;
  font-size: 14px;
  margin-top: 5px;
}

#page-login {
  background-color: #a77bb7;
  background-image: url("../images/circle-bg.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  color: white;
}

#page-login p {
  font-size: 24px;
}

#page-login .login-wrap {
  padding: 1.5rem 1rem;
  width: 300px;
  border-radius: 10px;
  background-color: #f3f3f4;
  color: #0e303c;
}

#page-login a {
  color: #895ba6;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#page-login a:hover {
  color: purple;
}

#page-viewer .viewer-wrap {
  border: 2px solid gray;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9fa09f;
}

#page-list {
  padding: 40px;
  height: calc(100vh - 60px);
  min-height: 760px;
}

#page-list .page-title {
  padding: 5rem 0 1rem 0;
}

#page-list .page-title h4 {
  font-size: 32px;
  font-weight: 600;
}

#page-list .page-title p {
  font-size: 14px;
}

#page-result {
  padding: 40px;
  min-height: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#page-result .page-title {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 5rem 0 1rem 0;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

#page-result .page-title h4 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

#page-result .page-title p {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #9fa09f;
}

#page-result .page-cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  overflow: hidden;
}

#page-result .result-wrap {
  border: 1px solid #a77bb7;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#page-result .result-wrap > div {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  border-left: 1px solid #a77bb7;
}

#page-result .result-wrap > div:last-child {
  border: none;
}

#page-result .result-wrap > div:last-child .title {
  background-color: white;
  color: #0e303c;
}

#page-result .result-wrap .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #a77bb7;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  background-color: #a77bb7;
  color: white;
}

#page-result .result-wrap .title .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-weight: 700;
  font-size: 16px;
}

#page-result .result-wrap .title .info div:last-of-type {
  color: #ff3333;
}

#page-result .result-wrap .image {
  width: 100%;
  height: calc(100% - 35px);
}

#page-result .result-wrap .image img {
  height: 100%;
}

#page-result .result-wrap .graph {
  width: 100%;
  height: calc(100% - 35px);
}

#page-result .result-wrap .graph img {
  height: 100%;
}

#page-result .result-wrap .button-left {
  position: absolute;
  top: 50%;
  left: -1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#page-result .result-wrap .button-right {
  position: absolute;
  top: 50%;
  right: -1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
