//////////////////////////////
/* Css link*/
@import "_variables";

/////////////////////////////
//ν—¤λ”
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 0 40px;
  z-index: 10;
  transition: all 0.2s;
  &.header-white {
    transition: all 0.2s;
    background-color: white;
    box-shadow: $card-shadow;
    height: 70px;
    & .header-wrap {
      & .logo {
        background-image: url("../images/logo-purple.png");
      }
      & .signup,
      & .login {
        color: $f-b-1;
        font-size: 16px;
      }
      & .login {
        border: 1px solid $purple-4;
      }
      & .mybtn {
        border: 1px solid $purple-2;
        padding: 8px 10px 5px 10px;
        border-radius: $form-radius;
        background-color: white;
        box-shadow: $card-shadow;
        cursor: pointer;

        font-size: 14px;
        color: $green-dark;
        font-weight: 600;
        position: relative;
        & span {
          filter: invert(20%) sepia(100%) saturate(100%) hue-rotate(269deg)
            brightness(2) contrast(100%);
        }
        & .myoption {
          position: absolute;
          top: calc(100% + 2px);
          right: 0;
          width: 150px;
          border: 1px solid $purple-2;
          padding: 20px 15px 15px 15px;
          border-radius: $form-radius;
          background-color: white;
          box-shadow: $card-shadow;
          display: none;
          &.active {
            display: block;
          }
          & b {
            font-size: 14px;
          }
          & p {
            font-size: 12px;
            opacity: 0.7;
            margin-bottom: 3rem;
          }
          & a {
            color: $purple-3;
            position: relative;
            display: block;
            &::after {
              content: "";
              width: calc(100% + 30px);
              height: 1px;
              position: absolute;
              top: -15px;
              left: -15px;
              background-color: lightgray;
              display: block;
            }
            &:hover {
              color: purple;
            }
          }
        }
      }
    }
  }
  & .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    @at-root .logo {
      margin: 0;
      font-size: 0;
      width: 146px;
      height: 30px;
      background-image: url("../images/logo-white.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    & .signup,
    & .login {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      gap: 10px;
      border-radius: 5px;
      color: white;
      font-size: 18px;
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
      }
    }
    & .signup:hover {
      filter: brightness(0.8);
    }
    & .login {
      border: 1px solid white;
      transition: all 0.3s;
      &:hover {
        color: $purple-4;
        background-color: white;
        transition: all 0.3s;
      }
    }
  }
}

//ν‘Έν„°
.app-footer {
  background-color: $purple-1;
  height: 60px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: $medi-gray;
  & .logo {
    display: none;
  }
  &.main-footer {
    background-color: $purple-3;
    height: 100px;
    color: white;
    & .logo {
      display: block;
    }
  }
}
