@charset "UTF-8";
/* Css link*/
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 0 40px;
  z-index: 10;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.app-header.header-white {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: white;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
  height: 70px;
}

.app-header.header-white .header-wrap .logo {
  background-image: url("../images/logo-purple.png");
}

.app-header.header-white .header-wrap .signup,
.app-header.header-white .header-wrap .login {
  color: black;
  font-size: 16px;
}

.app-header.header-white .header-wrap .login {
  border: 1px solid #895ba6;
}

.app-header.header-white .header-wrap .mybtn {
  border: 1px solid #d4b9d7;
  padding: 8px 10px 5px 10px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
  cursor: pointer;
  font-size: 14px;
  color: #0e303c;
  font-weight: 600;
  position: relative;
}

.app-header.header-white .header-wrap .mybtn span {
  -webkit-filter: invert(20%) sepia(100%) saturate(100%) hue-rotate(269deg) brightness(2) contrast(100%);
          filter: invert(20%) sepia(100%) saturate(100%) hue-rotate(269deg) brightness(2) contrast(100%);
}

.app-header.header-white .header-wrap .mybtn .myoption {
  position: absolute;
  top: calc(100% + 2px);
  right: 0;
  width: 150px;
  border: 1px solid #d4b9d7;
  padding: 20px 15px 15px 15px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
  display: none;
}

.app-header.header-white .header-wrap .mybtn .myoption.active {
  display: block;
}

.app-header.header-white .header-wrap .mybtn .myoption b {
  font-size: 14px;
}

.app-header.header-white .header-wrap .mybtn .myoption p {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 3rem;
}

.app-header.header-white .header-wrap .mybtn .myoption a {
  color: #a77bb7;
  position: relative;
  display: block;
}

.app-header.header-white .header-wrap .mybtn .myoption a::after {
  content: "";
  width: calc(100% + 30px);
  height: 1px;
  position: absolute;
  top: -15px;
  left: -15px;
  background-color: lightgray;
  display: block;
}

.app-header.header-white .header-wrap .mybtn .myoption a:hover {
  color: purple;
}

.app-header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.logo {
  margin: 0;
  font-size: 0;
  width: 146px;
  height: 30px;
  background-image: url("../images/logo-white.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.app-header .header-wrap .signup,
.app-header .header-wrap .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  gap: 10px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.app-header .header-wrap .signup:hover,
.app-header .header-wrap .login:hover {
  cursor: pointer;
}

.app-header .header-wrap .signup:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.app-header .header-wrap .login {
  border: 1px solid white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.app-header .header-wrap .login:hover {
  color: #895ba6;
  background-color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.app-footer {
  background-color: #f0ecf3;
  height: 60px;
  width: 100%;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  color: #9fa09f;
}

.app-footer .logo {
  display: none;
}

.app-footer.main-footer {
  background-color: #a77bb7;
  height: 100px;
  color: white;
}

.app-footer.main-footer .logo {
  display: block;
}
