@charset "UTF-8";
/* Css link*/
/* Css link*/
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
#root .app-container.app-theme-pnt-navy {
  color: rgba(0, 0, 0, 0.75);
}

#root .app-container.app-theme-pnt-navy .bg-depth-base {
  background-color: white !important;
}

#root .app-container.app-theme-pnt-navy .bg-depth-1 {
  background-color: #fefefe !important;
}

#root .app-container.app-theme-pnt-navy .bg-depth-2 {
  background-color: #fbfbfc !important;
}

#root .app-container.app-theme-pnt-navy .bg-depth-3 {
  background-color: #f8f8fa !important;
}

#root .app-container.app-theme-pnt-navy .bg-depth-4 {
  background-color: #f6f5f8 !important;
}

#root .app-container.app-theme-pnt-navy .bg-depth-5 {
  background-color: #f3f2f6 !important;
}

#root .app-container.app-theme-pnt-navy .bg-depth-6 {
  background-color: #f0eff5 !important;
}

#root .app-container.app-theme-pnt-navy .bg-depth-7 {
  background-color: #ecebf2 !important;
}

#root .app-container.app-theme-pnt-navy .bg-depth-8 {
  background-color: #e8e6ef !important;
}

#root .app-container.app-theme-pnt-navy .bg-depth-9 {
  background-color: #d0cfd8 !important;
}

#root .app-container.app-theme-pnt-navy .bg-depth-10 {
  background-color: #82818a !important;
}

#root .app-container.app-theme-pnt-navy input,
#root .app-container.app-theme-pnt-navy textarea,
#root .app-container.app-theme-pnt-navy select,
#root .app-container.app-theme-pnt-navy table,
#root .app-container.app-theme-pnt-navy h1,
#root .app-container.app-theme-pnt-navy h2,
#root .app-container.app-theme-pnt-navy h3,
#root .app-container.app-theme-pnt-navy h4,
#root .app-container.app-theme-pnt-navy h5,
#root .app-container.app-theme-pnt-navy p,
#root .app-container.app-theme-pnt-navy span,
#root .app-container.app-theme-pnt-navy div {
  color: rgba(0, 0, 0, 0.75);
}

#root .app-container.app-theme-pnt-navy .app-header__logo {
  background-color: #292938;
}

#root .app-container.app-theme-pnt-navy .app-header__content {
  background-color: white;
}

#root .app-container.app-theme-pnt-navy .app-header__content .app-header-left .menu-main {
  color: black;
}

#root .app-container.app-theme-pnt-navy .app-header__content .app-header-left .menu-sub {
  color: #6a55c0;
}

#root .app-container.app-theme-pnt-navy .app-header__content .app-header-right .material-icons-round {
  color: gray;
}

#root .app-container.app-theme-pnt-navy .user-box .user-options {
  background-color: #e8e6ef;
  border: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .user-box .user-options .setting-item {
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .user-box .user-options .setting-item:hover {
  background-color: #f0eff5;
}

#root .app-container.app-theme-pnt-navy .filter_ver5 {
  background-color: #fefefe;
}

#root .app-container.app-theme-pnt-navy .filter_ver5 .filter-box {
  border-top: 1px solid #f3f2f6;
}

#root .app-container.app-theme-pnt-navy .app-sidebar {
  background: #292938;
}

#root .app-container.app-theme-pnt-navy .app-sidebar .vertical-nav-menu > .metismenu-container > .metismenu-item {
  border-top: 1px solid rgba(255, 255, 255, 0.098);
}

#root .app-container.app-theme-pnt-navy .app-sidebar .vertical-nav-menu > .metismenu-container > .metismenu-item.active > a.metismenu-link .material-icons-round {
  color: white;
}

#root .app-container.app-theme-pnt-navy .app-sidebar .vertical-nav-menu > .metismenu-container > .metismenu-item > a.metismenu-link:hover {
  background-color: rgba(196, 181, 238, 0.2);
}

#root .app-container.app-theme-pnt-navy .app-sidebar .vertical-nav-menu > .metismenu-container > .metismenu-item > a.metismenu-link:hover .material-icons-round {
  color: white;
}

#root .app-container.app-theme-pnt-navy .app-sidebar .vertical-nav-menu > .metismenu-container > .metismenu-item > a.metismenu-link .metismenu-icon.material-icons-round {
  color: #a7a2c4;
}

#root .app-container.app-theme-pnt-navy .app-sidebar .vertical-nav-menu > .metismenu-container > .metismenu-item > a.metismenu-link span {
  color: #a7a2c4;
}

#root .app-container.app-theme-pnt-navy .app-sidebar .vertical-nav-menu > .metismenu-container > .metismenu-item > a.metismenu-link .material-icons-round {
  color: #706966;
}

#root .app-container.app-theme-pnt-navy .app-sidebar .vertical-nav-menu > .metismenu-container > .metismenu-item > ul.metismenu-container.visible > li > a.metismenu-link {
  background: transparent;
}

#root .app-container.app-theme-pnt-navy .app-sidebar .vertical-nav-menu > .metismenu-container > .metismenu-item > ul.metismenu-container.visible > li > a.metismenu-link:hover {
  background-color: rgba(196, 181, 238, 0.2);
}

#root .app-container.app-theme-pnt-navy .app-sidebar .vertical-nav-menu > .metismenu-container > .metismenu-item > ul.metismenu-container.visible > li > a.metismenu-link span {
  color: white;
}

#root .app-container.app-theme-pnt-navy .app-sidebar .vertical-nav-menu > .metismenu-container > .metismenu-item > ul.metismenu-container.visible > li > a.metismenu-link.active {
  background: rgba(196, 181, 238, 0.2);
}

#root .app-container.app-theme-pnt-navy .app-sidebar .vertical-nav-menu > .metismenu-container > .metismenu-item > ul.metismenu-container.visible > li > a.metismenu-link.active span {
  color: #bbaaff;
}

#root .app-container.app-theme-pnt-navy .app-sidebar .vertical-nav-menu > .metismenu-container > .metismenu-item > ul.metismenu-container.visible::before {
  background-color: #48455c;
}

#root .app-container.app-theme-pnt-navy .app-main__inner,
#root .app-container.app-theme-pnt-navy .app-main__outer {
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f2f6), to(#e8e6ef));
  background: linear-gradient(#f3f2f6, #e8e6ef);
}

#root .app-container.app-theme-pnt-navy.dashboard-edit-mode .app-header .app-header__content {
  background-color: #393986;
}

@media (max-width: 1024px) {
  #root .app-container.app-theme-pnt-navy.dashboard-edit-mode .app-header {
    background-color: #393986;
  }
}

#root .app-container.app-theme-pnt-navy.dashboard-edit-mode .dashboard-edit-title {
  background-color: #393986;
}

#root .app-container.app-theme-pnt-navy .app-page-title {
  background: white;
}

#root .app-container.app-theme-pnt-navy .app-page-content {
  border-top: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-navy .app-footer {
  background-color: transparent;
}

#root .app-container.app-theme-pnt-navy .app-footer .footer-wrap {
  color: rgba(0, 0, 0, 0.45);
}

#root .app-container.app-theme-pnt-navy .card {
  background-color: white;
}

#root .app-container.app-theme-pnt-navy .card .card-header {
  background-color: transparent;
  border-bottom: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-navy .card .card-header .card-header__title .material-icons-round {
  color: #958fbd;
}

#root .app-container.app-theme-pnt-navy .card .card-header .card-header__title span[class*="widget_img-"] {
  -webkit-filter: invert(0.4);
          filter: invert(0.4);
}

#root .app-container.app-theme-pnt-navy .card .card-header .card-header__title .title__main {
  color: #212122;
}

#root .app-container.app-theme-pnt-navy .card .card-tab {
  background-color: #f0eff5;
}

#root .app-container.app-theme-pnt-navy .card .card-tab li {
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .card .card-tab li a {
  color: rgba(0, 0, 0, 0.35);
}

#root .app-container.app-theme-pnt-navy .card .card-tab li.on {
  background-color: white;
}

#root .app-container.app-theme-pnt-navy .card .card-tab li.on a {
  color: black;
}

#root .app-container.app-theme-pnt-navy .card .card-header__tab li a {
  color: #656467;
}

#root .app-container.app-theme-pnt-navy .card .card-header__tab li a::after {
  background-color: #6a55c0;
}

#root .app-container.app-theme-pnt-navy .card .card-header__tab li.on a {
  color: #6a55c0;
}

#root .app-container.app-theme-pnt-navy .card .card-button {
  border-top: 1px solid #e8e6ef;
  background-color: #f8f8fa;
}

#root .app-container.app-theme-pnt-navy .inner-item {
  background-color: #fbfbfc;
  border: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .inner-item .item-header {
  background-color: #f8f8fa;
  border-bottom: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .inner-item .item-header .item-header__title p {
  color: #6a55c0 !important;
}

#root .app-container.app-theme-pnt-navy .inner-item .item-header .item-header__title h3 {
  color: #434245 !important;
}

#root .app-container.app-theme-pnt-navy .pnt-modal .modal-header {
  background-color: transparent;
  border-bottom: 1px solid #e8e6ef !important;
}

#root .app-container.app-theme-pnt-navy .pnt-modal .modal-body {
  background-color: white;
}

#root .app-container.app-theme-pnt-navy .pnt-modal .modal-footer {
  background-color: #f8f8fa;
  border-top: 1px solid #e8e6ef !important;
}

#root .app-container.app-theme-pnt-navy .widget-sensor-img {
  background-color: #d0cfd8;
}

#root .app-container.app-theme-pnt-navy .widget-item-nums .col {
  background-color: #f3f2f6;
}

#root .app-container.app-theme-pnt-navy .widget-item-nums .col * {
  color: #656467 !important;
}

#root .app-container.app-theme-pnt-navy .widget-item-nums .col.selected {
  background-color: white;
  border: 1px solid #6a55c0;
}

#root .app-container.app-theme-pnt-navy .widget-item-nums .col.selected * {
  color: #6a55c0 !important;
}

#root .app-container.app-theme-pnt-navy .widget-item-nums .col.nonSelected {
  background-color: #f3f2f6;
}

#root .app-container.app-theme-pnt-navy .widget-item-nums .col.view {
  background-color: #f8f8fa;
  border: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-btn {
  background-color: #dcd9e1;
  color: #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-brand {
  background-color: #ff8800;
  color: white;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-brand .material-icons-round {
  color: white;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-secondary {
  background-color: #6a55c0;
  color: white;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-secondary .material-icons-round {
  color: white;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-danger {
  background-color: #ff3358;
  color: white;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-danger .material-icons-round {
  color: white;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-lightgray {
  background-color: #e5e4ee;
  color: #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-lightgray .material-icons-round {
  color: #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-gray {
  background-color: #a8a7ac;
  color: white;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-gray .material-icons-round {
  color: white;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-darkgray {
  background-color: #453e6f;
  color: white;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-darkgray .material-icons-round {
  color: white;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-line {
  background-color: transparent;
  border: 1px solid #86858a !important;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-line:hover {
  color: #ff8800;
  border: 1px solid #ff8800 !important;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-line:hover .material-icons-round {
  color: #ff8800;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-trans {
  background-color: transparent;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-trans:hover {
  color: #ff8800 !important;
}

#root .app-container.app-theme-pnt-navy .pnt-btn.btn-trans:hover .material-icons-round {
  color: #ff8800 !important;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group input {
  background-color: #f6f5f8;
  border: 1px solid #e8e6ef;
  color: #434245;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group input::-webkit-input-placeholder {
  color: #cac8cf;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group input:-ms-input-placeholder {
  color: #cac8cf;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group input::-ms-input-placeholder {
  color: #cac8cf;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group input::placeholder {
  color: #cac8cf;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group input:focus,
#root .app-container.app-theme-pnt-navy .pnt-input--group input:active,
#root .app-container.app-theme-pnt-navy .pnt-input--group input:focus-visible {
  border: 1px solid #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group.input-error p,
#root .app-container.app-theme-pnt-navy .pnt-input--group.input-error b,
#root .app-container.app-theme-pnt-navy .pnt-input--group.input-error span,
#root .app-container.app-theme-pnt-navy .pnt-input--group.input-error div {
  color: #ff3358;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group.input-error .pnt-input {
  border: 1px solid #ff3333;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group.form-must p,
#root .app-container.app-theme-pnt-navy .pnt-input--group.form-must b,
#root .app-container.app-theme-pnt-navy .pnt-input--group.form-must span,
#root .app-container.app-theme-pnt-navy .pnt-input--group.form-must div {
  color: #ff3358;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group.form-must input {
  border: 1px solid #ff8800;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group.input-disable .pnt-input {
  background-color: #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group.input-disable::-webkit-input-placeholder {
  color: #a8a7ac;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group.input-disable:-ms-input-placeholder {
  color: #a8a7ac;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group.input-disable::-ms-input-placeholder {
  color: #a8a7ac;
}

#root .app-container.app-theme-pnt-navy .pnt-input--group.input-disable::placeholder {
  color: #a8a7ac;
}

#root .app-container.app-theme-pnt-navy .pnt-file--group input[type="file"] {
  border: 1px solid #e8e6ef;
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .pnt-file--group input[type="file"]::before {
  background-color: #f6f5f8;
  border-left: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-file--group label {
  background-color: #e8e6ef;
  border: 1px solid #e8e6ef;
  color: #6a55c0;
}

#root .app-container.app-theme-pnt-navy .pnt-file--group label .material-icons-round {
  color: #6a55c0;
}

#root .app-container.app-theme-pnt-navy .pnt-select--group .select__btn {
  background-color: #f6f5f8;
  border: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-select--group .select__btn .cont-wrap {
  color: #434245;
}

#root .app-container.app-theme-pnt-navy .pnt-select--group .select__btn .material-icons-round {
  color: #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-select--group.on .select__btn {
  border: 1px solid #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-select--group.on .select__options {
  background-color: #f6f5f8;
  border: 1px solid #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-select--group.on .select__options li a {
  color: #656467;
  border-top: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-select--group.on .select__options li:hover a {
  background-color: #eceaf2;
}

#root .app-container.app-theme-pnt-navy .pnt-select--group.on .select__options li.on a {
  border-top: 1px solid #e8e6ef;
  background-color: #dcd9e1;
  color: #6a55c0;
}

#root .app-container.app-theme-pnt-navy .pnt-select--group.form-must span {
  color: #ff3358;
}

#root .app-container.app-theme-pnt-navy .pnt-select--group.form-must .select__btn {
  border: 1px solid #ff8800;
}

#root .app-container.app-theme-pnt-navy .pnt-select--group.form-disable .cont-wrap {
  color: #a8a7ac;
}

#root .app-container.app-theme-pnt-navy .pnt-checkbox p {
  color: #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-checkbox .checkbox-effect {
  border: 1px solid #e8e6ef;
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .pnt-checkbox .checkbox-effect::before, #root .app-container.app-theme-pnt-navy .pnt-checkbox .checkbox-effect::after {
  background: white;
}

#root .app-container.app-theme-pnt-navy .pnt-checkbox:has(input:checked) .checkbox-effect {
  background-color: #6a55c0;
}

#root .app-container.app-theme-pnt-navy .pnt-checkbox:has(input:checked) p {
  color: #434245;
}

#root .app-container.app-theme-pnt-navy .pnt-checkbox.form-disable p {
  color: #a8a7ac;
}

#root .app-container.app-theme-pnt-navy .pnt-toggle input:checked + .slider {
  background-color: #80d217;
}

#root .app-container.app-theme-pnt-navy .pnt-toggle .slider {
  background-color: #d0cfd8;
}

#root .app-container.app-theme-pnt-navy .pnt-toggle .slider::before {
  background-color: white;
}

#root .app-container.app-theme-pnt-navy .pnt-toggle p:nth-of-type(1) {
  color: #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-toggle p:nth-of-type(2) {
  color: #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-radio {
  border: 1px solid #e8e6ef;
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .pnt-radio p {
  color: #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-radio input::after {
  border: 2px solid #f6f5f8 !important;
}

#root .app-container.app-theme-pnt-navy .pnt-radio:has(input:checked) {
  border: 1px solid #ff8800;
}

#root .app-container.app-theme-pnt-navy .pnt-radio:has(input:checked) input {
  border: 0.45em solid #ff8800 !important;
}

#root .app-container.app-theme-pnt-navy .pnt-radio:has(input:checked) p {
  color: #434245;
}

#root .app-container.app-theme-pnt-navy .pnt-radio:has(input:disabled) {
  background-color: #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-radio:has(input:disabled) p {
  color: #a8a7ac;
}

#root .app-container.app-theme-pnt-navy .pnt-nameplate {
  background-color: #f0eff5;
}

#root .app-container.app-theme-pnt-navy .pnt-nameplate .cont-wrap {
  color: #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-txt {
  color: #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-txt.txt-border {
  border: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-txt.txt-bg {
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .pnt-label--group .label-main {
  color: #434245;
}

#root .app-container.app-theme-pnt-navy .pnt-label--group .label-options {
  color: #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-divider {
  background-color: #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pagination .now,
#root .app-container.app-theme-pnt-navy .pagination .whole {
  color: #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-table.table-for-viewer .border-box .tbody .tr:hover {
  background-color: white !important;
}

#root .app-container.app-theme-pnt-navy .pnt-table .th,
#root .app-container.app-theme-pnt-navy .pnt-table .td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#root .app-container.app-theme-pnt-navy .pnt-table .border-box {
  border-top: 1.4px solid #dcd9e1;
  border-bottom: 1.4px solid #dcd9e1;
}

#root .app-container.app-theme-pnt-navy .pnt-table .border-box .thead .tr {
  border-bottom: 1px solid transparent;
}

#root .app-container.app-theme-pnt-navy .pnt-table .border-box .thead .th {
  background-color: #f6f5f8;
  color: #434245;
}

#root .app-container.app-theme-pnt-navy .pnt-table .border-box .tbody {
  background-color: white;
}

#root .app-container.app-theme-pnt-navy .pnt-table .border-box .tbody .tr:nth-child(2n) {
  background-color: #fefefe;
}

#root .app-container.app-theme-pnt-navy .pnt-table .border-box .tbody .tr:hover {
  background-color: #f3f2f6;
}

#root .app-container.app-theme-pnt-navy .pnt-table .border-box .tbody .tr.active {
  background-color: #d0cfd8;
}

#root .app-container.app-theme-pnt-navy .pnt-table .border-box .tbody .tr.active .td {
  color: #212122;
}

#root .app-container.app-theme-pnt-navy .pnt-table .border-box .tbody .tr .td {
  color: #747375;
}

#root .app-container.app-theme-pnt-navy .form-disable.pnt-btn {
  background-color: #e8e6ef !important;
  -webkit-box-shadow: 0 0 0 1px #e8e6ef inset;
          box-shadow: 0 0 0 1px #e8e6ef inset;
  color: #a8a7ac !important;
}

#root .app-container.app-theme-pnt-navy .form-disable.pnt-input--group .pnt-input {
  background-color: #e8e6ef;
  color: #a8a7ac;
}

#root .app-container.app-theme-pnt-navy .form-disable.pnt-file--group input[type="file"] {
  border: 1px solid #e8e6ef;
  background-color: #e8e6ef;
  color: #a8a7ac !important;
}

#root .app-container.app-theme-pnt-navy .form-disable.pnt-file--group input[type="file"]::before {
  background-color: #e8e6ef;
  border-left: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .form-disable.pnt-file--group label {
  background-color: #e8e6ef;
  border: 1px solid #e8e6ef;
  color: #a8a7ac;
}

#root .app-container.app-theme-pnt-navy .form-disable.pnt-file--group label .material-icons-round {
  color: #a8a7ac;
}

#root .app-container.app-theme-pnt-navy .form-disable.pnt-select--group .select__btn {
  background-color: #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .form-disable.pnt-select--group .select__btn .cont-wrap {
  color: #a8a7ac;
}

#root .app-container.app-theme-pnt-navy .form-disable.pnt-checkbox .checkbox-effect {
  background-color: #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .form-disable.pnt-toggle input:checked + .slider {
  background-color: #5a9310;
}

#root .app-container.app-theme-pnt-navy .form-disable.pnt-toggle .slider {
  background-color: #86858a;
}

#root .app-container.app-theme-pnt-navy .form-disable.pnt-toggle .slider::before {
  background-color: #a8a7ac;
}

#root .app-container.app-theme-pnt-navy *::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

#root .app-container.app-theme-pnt-navy *::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

#root .app-container.app-theme-pnt-navy .color-brand {
  color: #ff8800 !important;
}

#root .app-container.app-theme-pnt-navy .color-secondary {
  color: #6a55c0 !important;
}

#root .app-container.app-theme-pnt-navy .color-success {
  color: #80d217 !important;
}

#root .app-container.app-theme-pnt-navy .color-info {
  color: #7fafa8 !important;
}

#root .app-container.app-theme-pnt-navy .color-warning {
  color: #ffce2e !important;
}

#root .app-container.app-theme-pnt-navy .color-danger {
  color: #ff3358 !important;
}

#root .app-container.app-theme-pnt-navy .color-lightgray {
  color: #e5e4ee !important;
}

#root .app-container.app-theme-pnt-navy .color-gray {
  color: #a8a7ac !important;
}

#root .app-container.app-theme-pnt-navy .color-darkgray {
  color: #453e6f !important;
}

#root .app-container.app-theme-pnt-navy .color-white {
  color: white !important;
}

#root .app-container.app-theme-pnt-navy .color-black {
  color: black !important;
}

#root .app-container.app-theme-pnt-navy .bg-brand {
  background-color: #ff8800 !important;
}

#root .app-container.app-theme-pnt-navy .bg-brand.bg-light {
  background-color: #ffdbb3 !important;
}

#root .app-container.app-theme-pnt-navy .bg-brand.bg-dark {
  background-color: #b35f00 !important;
}

#root .app-container.app-theme-pnt-navy .bg-brand.bg-d-4 {
  background-color: #663600 !important;
}

#root .app-container.app-theme-pnt-navy .bg-brand.bg-d-3 {
  background-color: #8c4b00 !important;
}

#root .app-container.app-theme-pnt-navy .bg-brand.bg-d-2 {
  background-color: #b35f00 !important;
}

#root .app-container.app-theme-pnt-navy .bg-brand.bg-d-1 {
  background-color: #d47100 !important;
}

#root .app-container.app-theme-pnt-navy .bg-brand.bg-l-4 {
  background-color: #ffa033 !important;
}

#root .app-container.app-theme-pnt-navy .bg-brand.bg-l-3 {
  background-color: #ffbe73 !important;
}

#root .app-container.app-theme-pnt-navy .bg-brand.bg-l-2 {
  background-color: #ffdbb3 !important;
}

#root .app-container.app-theme-pnt-navy .bg-brand.bg-l-1 {
  background-color: #fff3e6 !important;
}

#root .app-container.app-theme-pnt-navy .bg-secondary {
  background-color: #6a55c0 !important;
}

#root .app-container.app-theme-pnt-navy .bg-secondary.bg-light {
  background-color: #dbd6e7 !important;
}

#root .app-container.app-theme-pnt-navy .bg-secondary.bg-dark {
  background-color: #4d4386 !important;
}

#root .app-container.app-theme-pnt-navy .bg-secondary.bg-d-4 {
  background-color: #282843 !important;
}

#root .app-container.app-theme-pnt-navy .bg-secondary.bg-d-3 {
  background-color: #373062 !important;
}

#root .app-container.app-theme-pnt-navy .bg-secondary.bg-d-2 {
  background-color: #4d4386 !important;
}

#root .app-container.app-theme-pnt-navy .bg-secondary.bg-d-1 {
  background-color: #7169a6 !important;
}

#root .app-container.app-theme-pnt-navy .bg-secondary.bg-l-4 {
  background-color: #958fbd !important;
}

#root .app-container.app-theme-pnt-navy .bg-secondary.bg-l-3 {
  background-color: #c5c1d9 !important;
}

#root .app-container.app-theme-pnt-navy .bg-secondary.bg-l-2 {
  background-color: #dbd6e7 !important;
}

#root .app-container.app-theme-pnt-navy .bg-secondary.bg-l-1 {
  background-color: #eceaf4 !important;
}

#root .app-container.app-theme-pnt-navy .bg-success {
  background-color: #80d217 !important;
}

#root .app-container.app-theme-pnt-navy .bg-success.bg-light {
  background-color: #d3efae !important;
}

#root .app-container.app-theme-pnt-navy .bg-success.bg-dark {
  background-color: #5a9310 !important;
}

#root .app-container.app-theme-pnt-navy .bg-success.bg-d-4 {
  background-color: #335409 !important;
}

#root .app-container.app-theme-pnt-navy .bg-success.bg-d-3 {
  background-color: #46740d !important;
}

#root .app-container.app-theme-pnt-navy .bg-success.bg-d-2 {
  background-color: #5a9310 !important;
}

#root .app-container.app-theme-pnt-navy .bg-success.bg-d-1 {
  background-color: #6aae13 !important;
}

#root .app-container.app-theme-pnt-navy .bg-success.bg-l-4 {
  background-color: #97da41 !important;
}

#root .app-container.app-theme-pnt-navy .bg-success.bg-l-3 {
  background-color: #b3e474 !important;
}

#root .app-container.app-theme-pnt-navy .bg-success.bg-l-2 {
  background-color: #d3efae !important;
}

#root .app-container.app-theme-pnt-navy .bg-success.bg-l-1 {
  background-color: #e8f7d5 !important;
}

#root .app-container.app-theme-pnt-navy .bg-info {
  background-color: #7fafa8 !important;
}

#root .app-container.app-theme-pnt-navy .bg-info.bg-light {
  background-color: #bfd7d4 !important;
}

#root .app-container.app-theme-pnt-navy .bg-info.bg-dark {
  background-color: #46605c !important;
}

#root .app-container.app-theme-pnt-navy .bg-info.bg-d-4 {
  background-color: #334643 !important;
}

#root .app-container.app-theme-pnt-navy .bg-info.bg-d-3 {
  background-color: #46605c !important;
}

#root .app-container.app-theme-pnt-navy .bg-info.bg-d-2 {
  background-color: #597b76 !important;
}

#root .app-container.app-theme-pnt-navy .bg-info.bg-d-1 {
  background-color: #69918b !important;
}

#root .app-container.app-theme-pnt-navy .bg-info.bg-l-4 {
  background-color: #9fc3be !important;
}

#root .app-container.app-theme-pnt-navy .bg-info.bg-l-3 {
  background-color: #bfd7d4 !important;
}

#root .app-container.app-theme-pnt-navy .bg-info.bg-l-2 {
  background-color: #d9e7e5 !important;
}

#root .app-container.app-theme-pnt-navy .bg-info.bg-l-1 {
  background-color: #f2f7f6 !important;
}

#root .app-container.app-theme-pnt-navy .bg-warning {
  background-color: #ffce2e !important;
}

#root .app-container.app-theme-pnt-navy .bg-warning.bg-light {
  background-color: #ffe48c !important;
}

#root .app-container.app-theme-pnt-navy .bg-warning.bg-dark {
  background-color: #94771b !important;
}

#root .app-container.app-theme-pnt-navy .bg-warning.bg-d-4 {
  background-color: #665212 !important;
}

#root .app-container.app-theme-pnt-navy .bg-warning.bg-d-3 {
  background-color: #94771b !important;
}

#root .app-container.app-theme-pnt-navy .bg-warning.bg-d-2 {
  background-color: #bf9b23 !important;
}

#root .app-container.app-theme-pnt-navy .bg-warning.bg-d-1 {
  background-color: #e6b929 !important;
}

#root .app-container.app-theme-pnt-navy .bg-warning.bg-l-4 {
  background-color: #ffda62 !important;
}

#root .app-container.app-theme-pnt-navy .bg-warning.bg-l-3 {
  background-color: #ffe48c !important;
}

#root .app-container.app-theme-pnt-navy .bg-warning.bg-l-2 {
  background-color: #ffeeb6 !important;
}

#root .app-container.app-theme-pnt-navy .bg-warning.bg-l-1 {
  background-color: #fff5d5 !important;
}

#root .app-container.app-theme-pnt-navy .bg-danger {
  background-color: #ff3358 !important;
}

#root .app-container.app-theme-pnt-navy .bg-danger.bg-light {
  background-color: #ff99ac !important;
}

#root .app-container.app-theme-pnt-navy .bg-danger.bg-dark {
  background-color: #b3243e !important;
}

#root .app-container.app-theme-pnt-navy .bg-danger.bg-d-4 {
  background-color: #661423 !important;
}

#root .app-container.app-theme-pnt-navy .bg-danger.bg-d-3 {
  background-color: #8c1c30 !important;
}

#root .app-container.app-theme-pnt-navy .bg-danger.bg-d-2 {
  background-color: #b3243e !important;
}

#root .app-container.app-theme-pnt-navy .bg-danger.bg-d-1 {
  background-color: #d42a49 !important;
}

#root .app-container.app-theme-pnt-navy .bg-danger.bg-l-4 {
  background-color: #ff6682 !important;
}

#root .app-container.app-theme-pnt-navy .bg-danger.bg-l-3 {
  background-color: #ff99ac !important;
}

#root .app-container.app-theme-pnt-navy .bg-danger.bg-l-2 {
  background-color: #ffc2cd !important;
}

#root .app-container.app-theme-pnt-navy .bg-danger.bg-l-1 {
  background-color: #ffebee !important;
}

#root .app-container.app-theme-pnt-navy .bg-gray {
  background-color: #a8a7ac !important;
}

#root .app-container.app-theme-pnt-navy .bg-gray.bg-light {
  background-color: #e5e5e6 !important;
}

#root .app-container.app-theme-pnt-navy .bg-gray.bg-dark {
  background-color: #545456 !important;
}

#root .app-container.app-theme-pnt-navy .bg-gray.bg-d-4 {
  background-color: #434245 !important;
}

#root .app-container.app-theme-pnt-navy .bg-gray.bg-d-3 {
  background-color: #656467 !important;
}

#root .app-container.app-theme-pnt-navy .bg-gray.bg-d-2 {
  background-color: #86858a !important;
}

#root .app-container.app-theme-pnt-navy .bg-gray.bg-d-1 {
  background-color: #a8a7ac !important;
}

#root .app-container.app-theme-pnt-navy .bg-gray.bg-l-4 {
  background-color: #cac8cf !important;
}

#root .app-container.app-theme-pnt-navy .bg-gray.bg-l-3 {
  background-color: #dcd9e1 !important;
}

#root .app-container.app-theme-pnt-navy .bg-gray.bg-l-2 {
  background-color: #eceaf2 !important;
}

#root .app-container.app-theme-pnt-navy .bg-gray.bg-l-1 {
  background-color: #f6f6f9 !important;
}

#root .app-container.app-theme-pnt-navy .bg-lightgray {
  background-color: #e5e4ee !important;
}

#root .app-container.app-theme-pnt-navy .bg-lightgray.bg-light {
  background-color: #f7f7fa !important;
}

#root .app-container.app-theme-pnt-navy .bg-lightgray.bg-dark {
  background-color: #737277 !important;
}

#root .app-container.app-theme-pnt-navy .bg-darkgray {
  background-color: #453e6f !important;
}

#root .app-container.app-theme-pnt-navy .bg-darkgray.bg-light {
  background-color: #c7c5d4 !important;
}

#root .app-container.app-theme-pnt-navy .bg-darkgray.bg-dark {
  background-color: #231f38 !important;
}

#root .app-container.app-theme-pnt-navy .border-brand {
  border: 1px solid #ff8800 !important;
}

#root .app-container.app-theme-pnt-navy .border-secondary {
  border: 1px solid #6a55c0 !important;
}

#root .app-container.app-theme-pnt-navy .border-success {
  border: 1px solid #80d217 !important;
}

#root .app-container.app-theme-pnt-navy .border-info {
  border: 1px solid #7fafa8 !important;
}

#root .app-container.app-theme-pnt-navy .border-warning {
  border: 1px solid #ffce2e !important;
}

#root .app-container.app-theme-pnt-navy .border-danger {
  border: 1px solid #ff3358 !important;
}

#root .app-container.app-theme-pnt-navy .border-gray {
  border: 1px solid #a8a7ac !important;
}

#root .app-container.app-theme-pnt-navy .border-lightgray {
  border: 1px solid #e5e4ee !important;
}

#root .app-container.app-theme-pnt-navy .border-darkgray {
  border: 1px solid #453e6f !important;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .form-control:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 1px #656467;
          box-shadow: 0 0 0 1px #656467;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker__input-container input {
  background-color: #f6f5f8;
  border: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .input-group-text {
  background-color: #e8e6ef;
  border: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker {
  border-radius: 0;
  border: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker *::-webkit-scrollbar-track {
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker *::-webkit-scrollbar-thumb {
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__triangle {
  border-bottom-color: #f6f5f8;
  border-top-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__triangle::before {
  border-bottom-color: #e8e6ef;
  border-top-color: #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__month-container {
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__header {
  background-color: #f6f5f8;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__header .react-datepicker__day-names {
  background-color: #f6f5f8;
  border-top: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__day:hover, #root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__day:focus, #root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__day:active {
  background-color: #f3f2f6;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__time-container {
  border-left: 1px solid #e8e6ef;
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__header {
  background-color: #f6f5f8;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__time {
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-list-item:hover, #root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-list-item:focus, #root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-list-item:active {
  background-color: #f3f2f6;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container {
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input {
  border-left: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input .react-datepicker__header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #f6f5f8;
  border-bottom: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input .time-label-box {
  border-bottom: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input .time-label-box div:last-child {
  border-left: 1px solid #e8e6ef;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input .list-wrap button {
  color: rgba(0, 0, 0, 0.75);
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .time-label-box {
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .react-select:hover {
  -webkit-filter: brightness(0.98);
  filter: brightness(0.98);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#root .app-container.app-theme-pnt-navy .react-select .react-select__control {
  cursor: pointer;
  background-color: #f6f5f8;
  border: 1px solid #e8e6ef;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#root .app-container.app-theme-pnt-navy .react-select .react-select__control--menu-is-open {
  -webkit-box-shadow: 0 0 0 1px #656467;
          box-shadow: 0 0 0 1px #656467;
}

#root .app-container.app-theme-pnt-navy .react-select .react-select__multi-value {
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .react-select .react-select__multi-value .react-select__multi-value__remove:hover, #root .app-container.app-theme-pnt-navy .react-select .react-select__multi-value .react-select__multi-value__remove:focus, #root .app-container.app-theme-pnt-navy .react-select .react-select__multi-value .react-select__multi-value__remove:active {
  background-color: #f3f2f6;
}

#root .app-container.app-theme-pnt-navy .react-select .react-select__indicator-separator {
  display: none;
}

#root .app-container.app-theme-pnt-navy .react-select .select-dropdown-svg {
  color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .react-select .react-select__indicator {
  opacity: 0.5;
}

#root .app-container.app-theme-pnt-navy .react-select .react-select__indicator svg {
  height: 16px;
  width: 18px;
}

#root .app-container.app-theme-pnt-navy .react-select .react-select__placeholder {
  font-size: 0.8rem;
}

#root .app-container.app-theme-pnt-navy .react-select__menu {
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .react-select__menu .react-select__menu-list {
  padding: 0;
  border-radius: 5px;
}

#root .app-container.app-theme-pnt-navy .react-select__menu .react-select__menu-list .react-select__option {
  cursor: pointer;
  font-size: 0.8rem;
  color: #656467;
  border-bottom: 1px solid #f6f5f8;
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .react-select__menu .react-select__menu-list .react-select__option:hover, #root .app-container.app-theme-pnt-navy .react-select__menu .react-select__menu-list .react-select__option:focus, #root .app-container.app-theme-pnt-navy .react-select__menu .react-select__menu-list .react-select__option:active {
  background-color: #f3f2f6;
}

#root .app-container.app-theme-pnt-navy .react-select__menu .react-select__menu-list .react-select__option:last-child {
  border-bottom: none;
}

#root .app-container.app-theme-pnt-navy .select-dropdown .styled-option:hover, #root .app-container.app-theme-pnt-navy .select-dropdown .styled-option:focus, #root .app-container.app-theme-pnt-navy .select-dropdown .styled-option:active {
  background-color: #f3f2f6;
}

#root .app-container.app-theme-pnt-navy .select-dropdown .select-control {
  background-color: #f6f5f8;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#root .app-container.app-theme-pnt-navy .select-dropdown .select-control:hover, #root .app-container.app-theme-pnt-navy .select-dropdown .select-control:focus, #root .app-container.app-theme-pnt-navy .select-dropdown .select-control:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #656467;
}

#root .app-container.app-theme-pnt-navy .select-dropdown .select-container {
  background-color: #f6f5f8;
  border: 1px solid #e8e6ef;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#root .app-container.app-theme-pnt-navy .select-dropdown .select-container.container-open {
  -webkit-box-shadow: 0 0 0 1px #656467;
          box-shadow: 0 0 0 1px #656467;
}

#root .app-container.app-theme-pnt-navy .select-dropdown .select-container:hover {
  -webkit-filter: brightness(0.98);
  filter: brightness(0.98);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#root .app-container.app-theme-pnt-navy .select-dropdown .select-menu {
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .select-dropdown .select-option > div {
  background-color: #f6f5f8;
}

#root .app-container.app-theme-pnt-navy .select-dropdown .select-option > div:hover, #root .app-container.app-theme-pnt-navy .select-dropdown .select-option > div:focus, #root .app-container.app-theme-pnt-navy .select-dropdown .select-option > div:active {
  background-color: #f3f2f6;
}

#root .app-container.app-theme-pnt-navy .select-dropdown .select-option > div .select-label {
  color: rgba(0, 0, 0, 0.75);
}

#root .app-container.app-theme-pnt-navy .select-dropdown .select-group-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  font-weight: bold;
}

#root .app-container.app-theme-pnt-navy .select-dropdown .rct-icon {
  color: rgba(0, 0, 0, 0.75);
}

#root .app-container.app-theme-pnt-navy .select-dropdown .tree-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.75);
  padding: 5px;
}

#root .app-container.app-theme-pnt-navy .select-dropdown .select-dropdown-svg {
  opacity: 0.5;
}
