//////////////////////////////
/* Css link*/
@import "../default/_colors";
@import "../default/_default";
@import "../../tools";

// ---------------------------------------------------------
// ※-------------------------------------------------------
// light 테마의 기본 색상은 하단에서 수정해주세요.
// $brand, $secondary, $success, $warning, $danger, $info, $gray, $light-gray, $dark-gray
// 위 9개 종류는 고정입니다.
// ---------------------------------------------------------

$brand: #ff8800;
$secondary: #6748e3;
$success: #80d217;
$warning: #ffce2e;
$danger: #ff3358;
$info: #77e4d2;

$light-gray: rgba(255, 255, 255, 0.2);
$gray: rgba(255, 255, 255, 0.4);
$dark-gray: $gray-700;

//-------------------------------------------------------------
// ※----------------------------------------------------------
// 하단 내용은 특별한 일이 없는 한 고정입니다.-------------------
//-------------------------------------------------------------

$brand-d4: mix($brand, black, 40%);
$brand-d3: mix($brand, black, 55%);
$brand-d2: mix($brand, black, 70%);
$brand-d1: mix($brand, black, 83%);
$brand-l4: mix($brand, white, 80%);
$brand-l3: mix($brand, white, 55%);
$brand-l2: mix($brand, white, 30%);
$brand-l1: mix($brand, white, 10%);

$secondary-d4: mix($secondary, black, 40%);
$secondary-d3: mix($secondary, black, 55%);
$secondary-d2: mix($secondary, black, 70%);
$secondary-d1: mix($secondary, black, 83%);
$secondary-l4: mix($secondary, white, 82%);
$secondary-l3: mix($secondary, white, 60%);
$secondary-l2: mix($secondary, white, 35%);
$secondary-l1: mix($secondary, white, 15%);

$success-d4: mix($success, black, 40%);
$success-d3: mix($success, black, 55%);
$success-d2: mix($success, black, 70%);
$success-d1: mix($success, black, 83%);
$success-l4: mix($success, white, 82%);
$success-l3: mix($success, white, 60%);
$success-l2: mix($success, white, 35%);
$success-l1: mix($success, white, 18%);

$warning-d4: mix($warning, black, 40%);
$warning-d3: mix($warning, black, 58%);
$warning-d2: mix($warning, black, 75%);
$warning-d1: mix($warning, black, 90%);
$warning-l4: mix($warning, white, 75%);
$warning-l3: mix($warning, white, 55%);
$warning-l2: mix($warning, white, 35%);
$warning-l1: mix($warning, white, 20%);

$danger-d4: mix($danger, black, 40%);
$danger-d3: mix($danger, black, 55%);
$danger-d2: mix($danger, black, 70%);
$danger-d1: mix($danger, black, 83%);
$danger-l4: mix($danger, white, 75%);
$danger-l3: mix($danger, white, 50%);
$danger-l2: mix($danger, white, 30%);
$danger-l1: mix($danger, white, 10%);

$info-d4: mix($info, black, 40%);
$info-d3: mix($info, black, 55%);
$info-d2: mix($info, black, 70%);
$info-d1: mix($info, black, 83%);
$info-l4: mix($info, white, 75%);
$info-l3: mix($info, white, 50%);
$info-l2: mix($info, white, 30%);
$info-l1: mix($info, white, 10%);

$gray-d: mix($gray, black, 30%);
$gray-l: mix($gray, white, 30%);
$light-gray-d: mix($light-gray, black, 30%);
$light-gray-l: mix($light-gray, white, 30%);
$dark-gray-d: mix($dark-gray, black, 30%);
$dark-gray-l: mix($dark-gray, white, 30%);

// ---------------------------------------------------------
// ※-------------------------------------------------------
// 하단의 내용은 수정할 수 있지만, 변수를 추가, 제거할 순 없습니다.
// 변수 추가, 제거를 원하면 먼저 css/theme/default/default/scss 에서 수정한뒤
// 각 theme 폴더안에 동일하게 적용해주세요.
// ---------------------------------------------------------

//웹 - 공통txt
$base-txt: $f-w-1;

//웹 - 바디
//(그라디언트만 있습니다. solid로 바꾸고 싶으면, gradient 둘다에 동일색을 넣으세요.)
$whole-body-gradient-start: #3b3b3b;
$whole-body-gradient-end: #4c4952;
$body-title-bg: transparent;

//웹 - 헤더
$header-bg: linear-gradient(45deg, rgb(31, 29, 29), rgb(43, 40, 46));
$header-logobox: rgb(44, 42, 42);
$header-menu-box: rgba(255, 255, 255, 0.1);
$header-menu-text1: $f-w-1;
$header-menu-text2: $f-w-5;
$header-menu-icon-next: invert(1) saturate(0);
$header-hamburger-btn: invert(1);

//웹 - 사이드바
$menu-body-bg: linear-gradient(180deg, rgb(22, 21, 21), rgb(45, 44, 48));
$menu-active-bg: #6054aa;
$menu-line-color: orange;
$menu-icon-filter: invert(49%) sepia(82%) saturate(2656%) hue-rotate(1deg)
  brightness(105%) contrast(103%);
$menu-down-icon-filter: opacity(1) invert(1);
$menu-main-txt: $f-w-1;
$menu-sub-txt: $f-w-4;
$menu-active-txt: $f-w-1;
//(옵션: 배경 이미지 있을시에만 수정)
$menu-bg-overlay: linear-gradient(rgba(0, 0, 0, 0.9), rgba(93, 89, 100, 0.8));

//웹 - 푸터
$footer-bg: #424242;
$footer-txt: $f-w-5;

//모바일
$app-header-bg: #f5f5fa;

//카드
$card-body-bg: #2c2c30;
$card-header-bg: #29292d;
$card-tab: #1e1e20;
$card-tab-li: #46484b;
$card-tab-li-active: #2c2c30;
$card-tab-txt: $f-w-1;
$card-tab-li-txt: $f-w-6;
$card-tab-2: $secondary-l2;
$card-button-body: mix($card-body-bg, black, 98%);

//테이블
$table-border: #6f6f81;
$table-inner-border: rgba(255, 255, 255, 0.1);
$table-2row-bg: #36373a;
$table-thead-bg: #6f6f8170;
$table-tbody-bg: #2c2d30;
$table-hover-bg: #424242;
$table-clicked-bg: $secondary;
$table-clicked-txt: white;
$table-th-txt: $f-w-1;
$table-td-txt: $f-w-4;

//라디오
$radio-checked-bg: $secondary;

//토글
$toggle-bg: rgba(255, 255, 255, 0.3);
$toggle-bar-bg: white;

//네임플레이트
$nameplate-bg: $gray-700;
$nameplate-txt: $f-w-2;

//스크롤바
$scrollbar-bg: rgba(255, 255, 255, 0.2);
$scrollbar-track-bg: rgba(255, 255, 255, 0.1);

//form 기본
$form-bg: rgb(70, 70, 70);
$form-border: $gray-700;
$form-txt: $f-w-4;
$form-active-bg: $secondary;
$form-active-border: white;
$form-active-txt: $f-w-1;
$form-selected-txt: $f-w-1;
$form-disable-bg: transparent;
$form-disable-txt: $f-w-4;
$form-placeholder-txt: $f-w-5;

/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

//적용
#root .app-container.app-theme-pnt-dark {
  @include theme-default();
}
