@charset "UTF-8";
/* Css link*/
/* Css link*/
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
#root .app-container.app-theme-pnt-flower {
  color: rgba(0, 0, 0, 0.75);
}

#root .app-container.app-theme-pnt-flower input,
#root .app-container.app-theme-pnt-flower textarea,
#root .app-container.app-theme-pnt-flower select,
#root .app-container.app-theme-pnt-flower table,
#root .app-container.app-theme-pnt-flower h1,
#root .app-container.app-theme-pnt-flower h2,
#root .app-container.app-theme-pnt-flower h3,
#root .app-container.app-theme-pnt-flower h4,
#root .app-container.app-theme-pnt-flower h5,
#root .app-container.app-theme-pnt-flower p,
#root .app-container.app-theme-pnt-flower span,
#root .app-container.app-theme-pnt-flower div {
  color: rgba(0, 0, 0, 0.75);
}

#root .app-container.app-theme-pnt-flower .app-header__logo {
  background-color: #d87b7b;
}

#root .app-container.app-theme-pnt-flower .app-header__logo .header__pane .hamburger-inner,
#root .app-container.app-theme-pnt-flower .app-header__logo .header__pane .hamburger-inner::before,
#root .app-container.app-theme-pnt-flower .app-header__logo .header__pane .hamburger-inner::after {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#root .app-container.app-theme-pnt-flower .app-header__logo button {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#root .app-container.app-theme-pnt-flower .app-header__content {
  background: -webkit-gradient(linear, left top, right top, from(#ebd6d4), to(#f5eae9));
  background: linear-gradient(90deg, #ebd6d4, #f5eae9);
}

#root .app-container.app-theme-pnt-flower .app-header__content .app-header-left {
  background-color: #db9fa9;
  padding: 0.5rem 1rem;
  border-radius: 100rem;
}

#root .app-container.app-theme-pnt-flower .app-header__content .app-header-left .menu-main {
  color: white;
}

#root .app-container.app-theme-pnt-flower .app-header__content .app-header-left .icon-next {
  -webkit-filter: invert(1) saturate(0);
          filter: invert(1) saturate(0);
}

#root .app-container.app-theme-pnt-flower .app-header__content .app-header-left .menu-sub {
  color: rgba(255, 255, 255, 0.45);
}

#root .app-container.app-theme-pnt-flower .app-sidebar {
  background: #eceaf2;
}

#root .app-container.app-theme-pnt-flower .app-sidebar.nav-box__img-bg::before {
  background: transparent;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item:first-child .visible > .metismenu-item:nth-last-of-type(2) div {
  border-bottom: 1px solid #46333b30;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item .metismenu-icon {
  -webkit-filter: invert(20%) sepia(100%) saturate(3000%) hue-rotate(349deg) brightness(250%) contrast(100%);
          filter: invert(20%) sepia(100%) saturate(3000%) hue-rotate(349deg) brightness(250%) contrast(100%);
  top: 67%;
  left: 13px;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item .metismenu-state-icon {
  color: #46333b;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-link span,
#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item .last-custom-dashboard-link span {
  color: #46333b;
  -webkit-filter: none;
          filter: none;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-link button,
#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item .last-custom-dashboard-link button {
  border-color: #ff9595 !important;
  color: #ff9595;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-link button:hover,
#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item .last-custom-dashboard-link button:hover {
  opacity: 0.7;
  background-color: transparent;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-link:hover,
#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item .last-custom-dashboard-link:hover {
  background: #46333b40;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container::before {
  background-color: #46333b30;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li a > span {
  color: #46333b;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li svg > path {
  color: #ff9595;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li.on,
#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li:hover,
#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li > a.active,
#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li > a:hover,
#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container .last-custom-dashboard-link:hover,
#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container .last-custom-dashboard-link.active {
  background-color: #46333b40;
  border-radius: 0.25rem;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li.on a,
#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li:hover a,
#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li > a.active a,
#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li > a:hover a,
#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container .last-custom-dashboard-link:hover a,
#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu-container .metismenu-item > .metismenu-container .last-custom-dashboard-link.active a {
  color: #46333b;
}

#root .app-container.app-theme-pnt-flower .app-sidebar {
  background: #eceaf2;
}

#root .app-container.app-theme-pnt-flower .app-sidebar.nav-box__img-bg::before {
  background: transparent;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu .metismenu-link div {
  -webkit-filter: invert(20%) sepia(100%) saturate(3000%) hue-rotate(349deg) brightness(250%) contrast(100%);
          filter: invert(20%) sepia(100%) saturate(3000%) hue-rotate(349deg) brightness(250%) contrast(100%);
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu .metismenu-link .main__txt {
  color: #46333b;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu .metismenu-link span {
  -webkit-filter: opacity(1) invert(0);
          filter: opacity(1) invert(0);
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu .metismenu-container::before {
  background-color: #46333b30;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu .metismenu-container .metismenu-item a {
  color: #46333b;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu .metismenu-container .metismenu-item.on, #root .app-container.app-theme-pnt-flower .app-sidebar .metismenu .metismenu-container .metismenu-item:hover {
  background-color: #46333b40;
}

#root .app-container.app-theme-pnt-flower .app-sidebar .metismenu .metismenu-container .metismenu-item.on a, #root .app-container.app-theme-pnt-flower .app-sidebar .metismenu .metismenu-container .metismenu-item:hover a {
  color: #46333b;
}

#root .app-container.app-theme-pnt-flower .app-main__inner {
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f8f8f8));
  background: linear-gradient(#f8f8f8, #f8f8f8);
}

#root .app-container.app-theme-pnt-flower .app-page-title {
  background: #ffffff;
}

#root .app-container.app-theme-pnt-flower .app-footer {
  background-color: #fafafc;
  color: rgba(0, 0, 0, 0.45);
}

#root .app-container.app-theme-pnt-flower .card {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .card .card-header {
  background-color: white;
  border-bottom: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .card .card-tab {
  background-color: #bbaaab;
}

#root .app-container.app-theme-pnt-flower .card .card-tab li {
  background-color: #edddda;
}

#root .app-container.app-theme-pnt-flower .card .card-tab li a {
  color: rgba(0, 0, 0, 0.35);
}

#root .app-container.app-theme-pnt-flower .card .card-tab li.on {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .card .card-tab li.on a {
  color: #46333b;
}

#root .app-container.app-theme-pnt-flower .card .card-header__tab li a {
  color: rgba(0, 0, 0, 0.6);
}

#root .app-container.app-theme-pnt-flower .card .card-header__tab li a::after {
  background-color: #d87b7b;
}

#root .app-container.app-theme-pnt-flower .card .card-header__tab li.on a {
  color: #d87b7b;
}

#root .app-container.app-theme-pnt-flower .card .card-button {
  border-top: 1px solid #eceaf2;
  background-color: #fafafa;
}

#root .app-container.app-theme-pnt-flower .pnt-modal .modal-header {
  background-color: white;
  border-bottom: 1px solid #eceaf2 !important;
}

#root .app-container.app-theme-pnt-flower .pnt-modal .modal-body {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-modal .modal-footer {
  background-color: #fafafa;
  border-top: 1px solid #eceaf2 !important;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .form-control:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 1px #656467;
          box-shadow: 0 0 0 1px #656467;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker__input-container input {
  background-color: white;
  border: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .input-group-text {
  background-color: #f9ebeb;
  border: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker {
  border-radius: 0;
  border: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker *::-webkit-scrollbar-track {
  background-color: #f9ebeb;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker *::-webkit-scrollbar-thumb {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__triangle {
  border-bottom-color: white;
  border-top-color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__triangle::before {
  border-bottom-color: #eceaf2;
  border-top-color: #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__month-container {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__header {
  background-color: #f9ebeb;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__header .react-datepicker__day-names {
  background-color: white;
  border-top: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__day:hover, #root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__day:focus, #root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__day:active {
  background-color: #dcd9e1;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__time-container {
  border-left: 1px solid #eceaf2;
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__header {
  background-color: #f9ebeb;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__time {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-list-item:hover, #root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-list-item:focus, #root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-list-item:active {
  background-color: #dcd9e1;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input {
  border-left: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input .react-datepicker__header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #f9ebeb;
  border-bottom: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input .time-label-box {
  border-bottom: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input .time-label-box div:last-child {
  border-left: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input .list-wrap button {
  color: rgba(0, 0, 0, 0.75);
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .time-label-box {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .react-select:hover {
  -webkit-filter: brightness(0.98);
  filter: brightness(0.98);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#root .app-container.app-theme-pnt-flower .react-select .react-select__control {
  cursor: pointer;
  background-color: white;
  border: 1px solid #eceaf2;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#root .app-container.app-theme-pnt-flower .react-select .react-select__control--menu-is-open {
  -webkit-box-shadow: 0 0 0 1px #656467;
          box-shadow: 0 0 0 1px #656467;
}

#root .app-container.app-theme-pnt-flower .react-select .react-select__multi-value {
  background-color: #f9ebeb;
}

#root .app-container.app-theme-pnt-flower .react-select .react-select__multi-value .react-select__multi-value__remove:hover, #root .app-container.app-theme-pnt-flower .react-select .react-select__multi-value .react-select__multi-value__remove:focus, #root .app-container.app-theme-pnt-flower .react-select .react-select__multi-value .react-select__multi-value__remove:active {
  background-color: #dcd9e1;
}

#root .app-container.app-theme-pnt-flower .react-select .react-select__indicator-separator {
  display: none;
}

#root .app-container.app-theme-pnt-flower .react-select .select-dropdown-svg {
  color: white;
}

#root .app-container.app-theme-pnt-flower .react-select .react-select__indicator {
  opacity: 0.5;
}

#root .app-container.app-theme-pnt-flower .react-select .react-select__indicator svg {
  height: 16px;
  width: 18px;
}

#root .app-container.app-theme-pnt-flower .react-select .react-select__placeholder {
  font-size: 0.8rem;
}

#root .app-container.app-theme-pnt-flower .react-select__menu {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .react-select__menu .react-select__menu-list {
  padding: 0;
  border-radius: 5px;
}

#root .app-container.app-theme-pnt-flower .react-select__menu .react-select__menu-list .react-select__option {
  cursor: pointer;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #f9ebeb;
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .react-select__menu .react-select__menu-list .react-select__option:hover, #root .app-container.app-theme-pnt-flower .react-select__menu .react-select__menu-list .react-select__option:focus, #root .app-container.app-theme-pnt-flower .react-select__menu .react-select__menu-list .react-select__option:active {
  background-color: #dcd9e1;
}

#root .app-container.app-theme-pnt-flower .react-select__menu .react-select__menu-list .react-select__option:last-child {
  border-bottom: none;
}

#root .app-container.app-theme-pnt-flower .select-dropdown .styled-option:hover, #root .app-container.app-theme-pnt-flower .select-dropdown .styled-option:focus, #root .app-container.app-theme-pnt-flower .select-dropdown .styled-option:active {
  background-color: #dcd9e1;
}

#root .app-container.app-theme-pnt-flower .select-dropdown .select-control {
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#root .app-container.app-theme-pnt-flower .select-dropdown .select-control:hover, #root .app-container.app-theme-pnt-flower .select-dropdown .select-control:focus, #root .app-container.app-theme-pnt-flower .select-dropdown .select-control:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #656467;
}

#root .app-container.app-theme-pnt-flower .select-dropdown .select-container {
  background-color: white;
  border: 1px solid #eceaf2;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#root .app-container.app-theme-pnt-flower .select-dropdown .select-container.container-open {
  -webkit-box-shadow: 0 0 0 1px #656467;
          box-shadow: 0 0 0 1px #656467;
}

#root .app-container.app-theme-pnt-flower .select-dropdown .select-container:hover {
  -webkit-filter: brightness(0.98);
  filter: brightness(0.98);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#root .app-container.app-theme-pnt-flower .select-dropdown .select-menu {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .select-dropdown .select-option > div {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .select-dropdown .select-option > div:hover, #root .app-container.app-theme-pnt-flower .select-dropdown .select-option > div:focus, #root .app-container.app-theme-pnt-flower .select-dropdown .select-option > div:active {
  background-color: #dcd9e1;
}

#root .app-container.app-theme-pnt-flower .select-dropdown .select-option > div .select-label {
  color: rgba(0, 0, 0, 0.75);
}

#root .app-container.app-theme-pnt-flower .select-dropdown .select-group-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  font-weight: bold;
}

#root .app-container.app-theme-pnt-flower .select-dropdown .rct-icon {
  color: rgba(0, 0, 0, 0.75);
}

#root .app-container.app-theme-pnt-flower .select-dropdown .tree-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.75);
  padding: 5px;
}

#root .app-container.app-theme-pnt-flower .select-dropdown .select-dropdown-svg {
  opacity: 0.5;
}

#root .app-container.app-theme-pnt-flower .pnt-btn.btn-brand {
  background-color: #ff9595;
}

#root .app-container.app-theme-pnt-flower .pnt-btn.btn-secondary {
  background-color: #8975e4;
}

#root .app-container.app-theme-pnt-flower .pnt-btn.btn-success {
  background-color: #a4e240;
}

#root .app-container.app-theme-pnt-flower .pnt-btn.btn-warning {
  background-color: #ffdc6a;
}

#root .app-container.app-theme-pnt-flower .pnt-btn.btn-danger {
  background-color: #f71e54;
}

#root .app-container.app-theme-pnt-flower .pnt-btn.btn-info {
  background-color: #8de7db;
}

#root .app-container.app-theme-pnt-flower .pnt-btn.btn-lightgray {
  background-color: #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-btn.btn-gray {
  background-color: #a8a7ac;
}

#root .app-container.app-theme-pnt-flower .pnt-btn.btn-darkgray {
  background-color: #656467;
}

#root .app-container.app-theme-pnt-flower .pnt-btn.btn-disable {
  background-color: #f9f9fb;
}

#root .app-container.app-theme-pnt-flower .pnt-input--group input {
  background-color: white;
  border: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-input--group input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.45);
}

#root .app-container.app-theme-pnt-flower .pnt-input--group input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.45);
}

#root .app-container.app-theme-pnt-flower .pnt-input--group input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.45);
}

#root .app-container.app-theme-pnt-flower .pnt-input--group input::placeholder {
  color: rgba(0, 0, 0, 0.45);
}

#root .app-container.app-theme-pnt-flower .pnt-input--group input:focus,
#root .app-container.app-theme-pnt-flower .pnt-input--group input:active,
#root .app-container.app-theme-pnt-flower .pnt-input--group input:focus-visible {
  border: 1px solid #656467;
}

#root .app-container.app-theme-pnt-flower .pnt-input--group.input-error p,
#root .app-container.app-theme-pnt-flower .pnt-input--group.input-error b,
#root .app-container.app-theme-pnt-flower .pnt-input--group.input-error span,
#root .app-container.app-theme-pnt-flower .pnt-input--group.input-error div {
  color: #f71e54;
}

#root .app-container.app-theme-pnt-flower .pnt-input--group.input-error .pnt-input {
  border: 1px solid #ff3333;
}

#root .app-container.app-theme-pnt-flower .pnt-input--group.form-must p,
#root .app-container.app-theme-pnt-flower .pnt-input--group.form-must b,
#root .app-container.app-theme-pnt-flower .pnt-input--group.form-must span,
#root .app-container.app-theme-pnt-flower .pnt-input--group.form-must div {
  color: #f71e54;
}

#root .app-container.app-theme-pnt-flower .pnt-input--group.form-must input {
  border: 1px solid #ff9595;
}

#root .app-container.app-theme-pnt-flower .pnt-input--group.input-disable .pnt-input {
  background-color: #f6f6f9;
}

#root .app-container.app-theme-pnt-flower .pnt-input--group.input-disable::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

#root .app-container.app-theme-pnt-flower .pnt-input--group.input-disable:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

#root .app-container.app-theme-pnt-flower .pnt-input--group.input-disable::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

#root .app-container.app-theme-pnt-flower .pnt-input--group.input-disable::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

#root .app-container.app-theme-pnt-flower .pnt-file--group input[type="file"]::before {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-file--group input[type="file"]::after {
  border: 1px solid #a8a7ac;
}

#root .app-container.app-theme-pnt-flower .pnt-select--group .select__btn {
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  border: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-select--group .select__options {
  background-color: white;
  border: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-select--group .select__options li a {
  border-top: 1px solid #eceaf2;
  color: rgba(0, 0, 0, 0.6);
}

#root .app-container.app-theme-pnt-flower .pnt-select--group .select__options li:hover a {
  background-color: #dcd9e1;
}

#root .app-container.app-theme-pnt-flower .pnt-select--group .select__options li.on a {
  background-color: #8975e4;
  color: black;
}

#root .app-container.app-theme-pnt-flower .pnt-select--group.on .select__btn {
  border: 1px solid #656467;
}

#root .app-container.app-theme-pnt-flower .pnt-select--group.on .select__options li.on {
  background-color: #8975e4;
}

#root .app-container.app-theme-pnt-flower .pnt-select--group.on .select__options li.on a {
  color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-select--group.form-must span {
  color: #f71e54;
}

#root .app-container.app-theme-pnt-flower .pnt-select--group.form-must .select__btn {
  border: 1px solid #ff9595;
}

#root .app-container.app-theme-pnt-flower .pnt-checkbox p {
  color: rgba(0, 0, 0, 0.6);
}

#root .app-container.app-theme-pnt-flower .pnt-checkbox .checkbox-effect {
  border: 1px solid #eceaf2;
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-checkbox .checkbox-effect::before, #root .app-container.app-theme-pnt-flower .pnt-checkbox .checkbox-effect::after {
  background: white;
}

#root .app-container.app-theme-pnt-flower .pnt-checkbox.check-checked .checkbox-effect {
  background-color: #8975e4;
}

#root .app-container.app-theme-pnt-flower .pnt-checkbox.check-checked p {
  color: black;
}

#root .app-container.app-theme-pnt-flower .pnt-toggle input:checked + .slider {
  background-color: #a4e240;
}

#root .app-container.app-theme-pnt-flower .pnt-toggle .slider {
  background-color: #dcd9e1;
}

#root .app-container.app-theme-pnt-flower .pnt-toggle .slider::before {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-toggle.toggle-txt p:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.6);
}

#root .app-container.app-theme-pnt-flower .pnt-toggle.toggle-txt p:nth-of-type(2) {
  color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-toggle.toggle-icon div {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#root .app-container.app-theme-pnt-flower .pnt-radio li {
  border: 1px solid #eceaf2;
  background-color: transparent;
}

#root .app-container.app-theme-pnt-flower .pnt-radio li label {
  color: rgba(0, 0, 0, 0.6);
}

#root .app-container.app-theme-pnt-flower .pnt-radio li.checked {
  background-color: #434245;
}

#root .app-container.app-theme-pnt-flower .pnt-radio li.checked label {
  color: black;
}

#root .app-container.app-theme-pnt-flower .pnt-nameplate {
  background-color: #dcd9e1;
  color: rgba(0, 0, 0, 0.75);
}

#root .app-container.app-theme-pnt-flower .pnt-nameplate::before {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-txt {
  color: rgba(0, 0, 0, 0.6);
}

#root .app-container.app-theme-pnt-flower .pnt-border {
  background-color: #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-label--group .label-main.label-dot::before {
  background-color: #ff9595;
}

#root .app-container.app-theme-pnt-flower .pnt-label--group .label-main.label-must {
  color: #ff9595;
}

#root .app-container.app-theme-pnt-flower .pagination .now {
  color: #ff9595;
}

#root .app-container.app-theme-pnt-flower .pagination .whole {
  color: rgba(0, 0, 0, 0.6);
}

#root .app-container.app-theme-pnt-flower .pnt-table .border-box {
  border-top: 1.4px solid #ccb9c1;
  border-bottom: 1.4px solid #ccb9c1;
}

#root .app-container.app-theme-pnt-flower .pnt-table .border-box .th {
  background-color: #f9ebeb;
  border-right: 1px solid #eceaf2;
  color: #46333b;
}

#root .app-container.app-theme-pnt-flower .pnt-table .border-box .tbody {
  background-color: white;
}

#root .app-container.app-theme-pnt-flower .pnt-table .border-box .tbody .tr:nth-child(2n) {
  background-color: #f6f6f9;
}

#root .app-container.app-theme-pnt-flower .pnt-table .border-box .tbody .tr .td {
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #eceaf2;
  border-right: 1px solid #eceaf2;
}

#root .app-container.app-theme-pnt-flower .pnt-table.table-clickable .border-box .tr:hover {
  background-color: #dcd9e1 !important;
}

#root .app-container.app-theme-pnt-flower .pnt-table.table-clickable .border-box .tr.active {
  background-color: #ffc2c0 !important;
}

#root .app-container.app-theme-pnt-flower .pnt-table.table-clickable .border-box .tr.active .td {
  color: #46333b;
}

#root .app-container.app-theme-pnt-flower .form-disable.pnt-btn {
  background-color: #f6f6f9;
  -webkit-box-shadow: 0 0 0 1px #eceaf2 inset;
          box-shadow: 0 0 0 1px #eceaf2 inset;
  color: rgba(0, 0, 0, 0.6);
}

#root .app-container.app-theme-pnt-flower .form-disable.pnt-input--group .pnt-input {
  background-color: #f6f6f9;
  color: rgba(0, 0, 0, 0.6);
}

#root .app-container.app-theme-pnt-flower .form-disable.pnt-select--group .select__btn {
  background-color: #f6f6f9;
}

#root .app-container.app-theme-pnt-flower .form-disable.pnt-select--group .select__btn .cont-wrap {
  color: rgba(0, 0, 0, 0.6);
}

#root .app-container.app-theme-pnt-flower .form-disable.pnt-checkbox .checkbox-effect {
  background-color: #f6f6f9;
}

#root .app-container.app-theme-pnt-flower *::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

#root .app-container.app-theme-pnt-flower *::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

#root .app-container.app-theme-pnt-flower .color-brand {
  color: #ff9595 !important;
}

#root .app-container.app-theme-pnt-flower .color-secondary {
  color: #8975e4 !important;
}

#root .app-container.app-theme-pnt-flower .color-success {
  color: #a4e240 !important;
}

#root .app-container.app-theme-pnt-flower .color-info {
  color: #8de7db !important;
}

#root .app-container.app-theme-pnt-flower .color-warning {
  color: #ffdc6a !important;
}

#root .app-container.app-theme-pnt-flower .color-danger {
  color: #f71e54 !important;
}

#root .app-container.app-theme-pnt-flower .color-lightgray {
  color: #eceaf2 !important;
}

#root .app-container.app-theme-pnt-flower .color-gray {
  color: #a8a7ac !important;
}

#root .app-container.app-theme-pnt-flower .color-darkgray {
  color: #656467 !important;
}

#root .app-container.app-theme-pnt-flower .color-white {
  color: white !important;
}

#root .app-container.app-theme-pnt-flower .color-black {
  color: black !important;
}

#root .app-container.app-theme-pnt-flower .bg-brand {
  background-color: #ff9595 !important;
}

#root .app-container.app-theme-pnt-flower .bg-brand.bg-light {
  background-color: #ffc5c5 !important;
}

#root .app-container.app-theme-pnt-flower .bg-brand.bg-dark {
  background-color: #8c5252 !important;
}

#root .app-container.app-theme-pnt-flower .bg-brand.bg-d-4 {
  background-color: #663c3c !important;
}

#root .app-container.app-theme-pnt-flower .bg-brand.bg-d-3 {
  background-color: #8c5252 !important;
}

#root .app-container.app-theme-pnt-flower .bg-brand.bg-d-2 {
  background-color: #b36868 !important;
}

#root .app-container.app-theme-pnt-flower .bg-brand.bg-d-1 {
  background-color: #d47c7c !important;
}

#root .app-container.app-theme-pnt-flower .bg-brand.bg-l-4 {
  background-color: #ffaaaa !important;
}

#root .app-container.app-theme-pnt-flower .bg-brand.bg-l-3 {
  background-color: #ffc5c5 !important;
}

#root .app-container.app-theme-pnt-flower .bg-brand.bg-l-2 {
  background-color: #ffdfdf !important;
}

#root .app-container.app-theme-pnt-flower .bg-brand.bg-l-1 {
  background-color: #fff4f4 !important;
}

#root .app-container.app-theme-pnt-flower .bg-secondary {
  background-color: #8975e4 !important;
}

#root .app-container.app-theme-pnt-flower .bg-secondary.bg-light {
  background-color: #b8acef !important;
}

#root .app-container.app-theme-pnt-flower .bg-secondary.bg-dark {
  background-color: #4b407d !important;
}

#root .app-container.app-theme-pnt-flower .bg-secondary.bg-d-4 {
  background-color: #372f5b !important;
}

#root .app-container.app-theme-pnt-flower .bg-secondary.bg-d-3 {
  background-color: #4b407d !important;
}

#root .app-container.app-theme-pnt-flower .bg-secondary.bg-d-2 {
  background-color: #6052a0 !important;
}

#root .app-container.app-theme-pnt-flower .bg-secondary.bg-d-1 {
  background-color: #7261bd !important;
}

#root .app-container.app-theme-pnt-flower .bg-secondary.bg-l-4 {
  background-color: #9e8ee9 !important;
}

#root .app-container.app-theme-pnt-flower .bg-secondary.bg-l-3 {
  background-color: #b8acef !important;
}

#root .app-container.app-theme-pnt-flower .bg-secondary.bg-l-2 {
  background-color: #d6cff6 !important;
}

#root .app-container.app-theme-pnt-flower .bg-secondary.bg-l-1 {
  background-color: #edeafb !important;
}

#root .app-container.app-theme-pnt-flower .bg-success {
  background-color: #a4e240 !important;
}

#root .app-container.app-theme-pnt-flower .bg-success.bg-light {
  background-color: #c8ee8c !important;
}

#root .app-container.app-theme-pnt-flower .bg-success.bg-dark {
  background-color: #5a7c23 !important;
}

#root .app-container.app-theme-pnt-flower .bg-success.bg-d-4 {
  background-color: #425a1a !important;
}

#root .app-container.app-theme-pnt-flower .bg-success.bg-d-3 {
  background-color: #5a7c23 !important;
}

#root .app-container.app-theme-pnt-flower .bg-success.bg-d-2 {
  background-color: #739e2d !important;
}

#root .app-container.app-theme-pnt-flower .bg-success.bg-d-1 {
  background-color: #88bc35 !important;
}

#root .app-container.app-theme-pnt-flower .bg-success.bg-l-4 {
  background-color: #b4e762 !important;
}

#root .app-container.app-theme-pnt-flower .bg-success.bg-l-3 {
  background-color: #c8ee8c !important;
}

#root .app-container.app-theme-pnt-flower .bg-success.bg-l-2 {
  background-color: #dff5bc !important;
}

#root .app-container.app-theme-pnt-flower .bg-success.bg-l-1 {
  background-color: #effadd !important;
}

#root .app-container.app-theme-pnt-flower .bg-info {
  background-color: #8de7db !important;
}

#root .app-container.app-theme-pnt-flower .bg-info.bg-light {
  background-color: #c6f3ed !important;
}

#root .app-container.app-theme-pnt-flower .bg-info.bg-dark {
  background-color: #4e7f78 !important;
}

#root .app-container.app-theme-pnt-flower .bg-info.bg-d-4 {
  background-color: #385c58 !important;
}

#root .app-container.app-theme-pnt-flower .bg-info.bg-d-3 {
  background-color: #4e7f78 !important;
}

#root .app-container.app-theme-pnt-flower .bg-info.bg-d-2 {
  background-color: #63a299 !important;
}

#root .app-container.app-theme-pnt-flower .bg-info.bg-d-1 {
  background-color: #75c0b6 !important;
}

#root .app-container.app-theme-pnt-flower .bg-info.bg-l-4 {
  background-color: #aaede4 !important;
}

#root .app-container.app-theme-pnt-flower .bg-info.bg-l-3 {
  background-color: #c6f3ed !important;
}

#root .app-container.app-theme-pnt-flower .bg-info.bg-l-2 {
  background-color: #ddf8f4 !important;
}

#root .app-container.app-theme-pnt-flower .bg-info.bg-l-1 {
  background-color: #f4fdfb !important;
}

#root .app-container.app-theme-pnt-flower .bg-warning {
  background-color: #ffdc6a !important;
}

#root .app-container.app-theme-pnt-flower .bg-warning.bg-light {
  background-color: #ffecad !important;
}

#root .app-container.app-theme-pnt-flower .bg-warning.bg-dark {
  background-color: #94803d !important;
}

#root .app-container.app-theme-pnt-flower .bg-warning.bg-d-4 {
  background-color: #66582a !important;
}

#root .app-container.app-theme-pnt-flower .bg-warning.bg-d-3 {
  background-color: #94803d !important;
}

#root .app-container.app-theme-pnt-flower .bg-warning.bg-d-2 {
  background-color: #bfa550 !important;
}

#root .app-container.app-theme-pnt-flower .bg-warning.bg-d-1 {
  background-color: #e6c65f !important;
}

#root .app-container.app-theme-pnt-flower .bg-warning.bg-l-4 {
  background-color: #ffe58f !important;
}

#root .app-container.app-theme-pnt-flower .bg-warning.bg-l-3 {
  background-color: #ffecad !important;
}

#root .app-container.app-theme-pnt-flower .bg-warning.bg-l-2 {
  background-color: #fff3cb !important;
}

#root .app-container.app-theme-pnt-flower .bg-warning.bg-l-1 {
  background-color: #fff8e1 !important;
}

#root .app-container.app-theme-pnt-flower .bg-danger {
  background-color: #f71e54 !important;
}

#root .app-container.app-theme-pnt-flower .bg-danger.bg-light {
  background-color: #fb8faa !important;
}

#root .app-container.app-theme-pnt-flower .bg-danger.bg-dark {
  background-color: #88112e !important;
}

#root .app-container.app-theme-pnt-flower .bg-danger.bg-d-4 {
  background-color: #630c22 !important;
}

#root .app-container.app-theme-pnt-flower .bg-danger.bg-d-3 {
  background-color: #88112e !important;
}

#root .app-container.app-theme-pnt-flower .bg-danger.bg-d-2 {
  background-color: #ad153b !important;
}

#root .app-container.app-theme-pnt-flower .bg-danger.bg-d-1 {
  background-color: #cd1946 !important;
}

#root .app-container.app-theme-pnt-flower .bg-danger.bg-l-4 {
  background-color: #f9567f !important;
}

#root .app-container.app-theme-pnt-flower .bg-danger.bg-l-3 {
  background-color: #fb8faa !important;
}

#root .app-container.app-theme-pnt-flower .bg-danger.bg-l-2 {
  background-color: #fdbccc !important;
}

#root .app-container.app-theme-pnt-flower .bg-danger.bg-l-1 {
  background-color: #fee9ee !important;
}

#root .app-container.app-theme-pnt-flower .bg-gray {
  background-color: #a8a7ac !important;
}

#root .app-container.app-theme-pnt-flower .bg-gray.bg-light {
  background-color: #e5e5e6 !important;
}

#root .app-container.app-theme-pnt-flower .bg-gray.bg-dark {
  background-color: #323234 !important;
}

#root .app-container.app-theme-pnt-flower .bg-gray.bg-d-4 {
  background-color: #434245 !important;
}

#root .app-container.app-theme-pnt-flower .bg-gray.bg-d-3 {
  background-color: #656467 !important;
}

#root .app-container.app-theme-pnt-flower .bg-gray.bg-d-2 {
  background-color: #86858a !important;
}

#root .app-container.app-theme-pnt-flower .bg-gray.bg-d-1 {
  background-color: #a8a7ac !important;
}

#root .app-container.app-theme-pnt-flower .bg-gray.bg-l-4 {
  background-color: #cac8cf !important;
}

#root .app-container.app-theme-pnt-flower .bg-gray.bg-l-3 {
  background-color: #dcd9e1 !important;
}

#root .app-container.app-theme-pnt-flower .bg-gray.bg-l-2 {
  background-color: #eceaf2 !important;
}

#root .app-container.app-theme-pnt-flower .bg-gray.bg-l-1 {
  background-color: #f6f6f9 !important;
}

#root .app-container.app-theme-pnt-flower .bg-lightgray {
  background-color: #eceaf2 !important;
}

#root .app-container.app-theme-pnt-flower .bg-lightgray.bg-light {
  background-color: #f9f9fb !important;
}

#root .app-container.app-theme-pnt-flower .bg-lightgray.bg-dark {
  background-color: #474649 !important;
}

#root .app-container.app-theme-pnt-flower .bg-darkgray {
  background-color: #656467 !important;
}

#root .app-container.app-theme-pnt-flower .bg-darkgray.bg-light {
  background-color: #d1d1d1 !important;
}

#root .app-container.app-theme-pnt-flower .bg-darkgray.bg-dark {
  background-color: #1e1e1f !important;
}

#root .app-container.app-theme-pnt-flower .app-header .logo-src {
  color: white !important;
}

#root .app-container.app-theme-pnt-flower .app-header,
#root .app-container.app-theme-pnt-flower .app-sidebar {
  -webkit-box-shadow: none;
          box-shadow: none;
}
