@charset "UTF-8";
/* Css link*/
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
.card {
  border: 1px solid rgba(32, 39, 140, 0.125);
  border-radius: 0px !important;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
  margin-bottom: 1rem;
  position: relative;
  word-wrap: break-word;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
}

.card .card-tab {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  overflow: hidden;
  border-radius: 0px 0px 0 0;
  background-color: #3e66fb;
}

@media (max-width: 570px) {
  .card .card-tab ul {
    width: 100%;
    padding: 0.5rem 0.3rem 0 0.3rem !important;
  }
  .card .card-tab ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 !important;
  }
  .card .card-tab ul li a {
    line-height: auto;
    font-size: 0.8rem;
    font-weight: 700;
  }
}

.card .card-tab ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  padding: 0.5rem 1rem 0;
}

.card .card-tab ul li {
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  border-radius: 0.8rem 0.8rem 0 0;
  background-color: #d8e0fe;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card .card-tab ul li a {
  line-height: 2rem;
  display: block;
  height: 100%;
  padding: 0 1rem;
  text-align: center;
  white-space: nowrap;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
}

.card .card-tab ul li + li {
  margin-left: 0.3rem;
}

.card .card-tab ul li.on {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: white;
}

.card .card-tab ul li.on a {
  color: #3252c9;
}

.card .card-header__tab {
  padding: 0 1rem;
}

.card .card-header__tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3rem;
  margin: 0;
  padding: 0;
}

.card .card-header__tab ul li a {
  position: relative;
  display: block;
  min-height: 40px;
  line-height: 40px;
  padding: 0 1rem;
  text-align: center;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: initial;
}

.card .card-header__tab ul li a::after {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 10rem;
  background-color: #3252c9;
}

.card .card-header__tab ul li.on a {
  color: #3252c9;
}

.card .card-header__tab ul li.on a::after {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card .card-header {
  height: 40px;
  min-height: 40px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eceaf2;
  border-radius: 0px 0px 0 0;
  padding: 0;
}

.card .card-header .card-header__title {
  min-height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.58rem;
  overflow: hidden;
  padding-left: 1rem;
}

.card .card-header .card-header__title span + .title-wrap {
  width: calc(100% - 1rem);
}

.card .card-header .card-header__title span[class*="widget_img-"] {
  -webkit-transform: scale(0.7) translateX(-8px);
          transform: scale(0.7) translateX(-8px);
  margin-right: -8px;
}

.card .card-header .card-header__title .title-wrap {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.05rem 0;
  width: calc(100% - 1rem);
}

.card .card-header .card-header__title .title-wrap * {
  margin: 0;
  padding: 0;
}

.card .card-header .card-header__title .title-wrap .title__main {
  font-size: 0.95rem;
  font-weight: 700;
  opacity: 1;
  margin-right: 10px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.card .card-header .card-header__title .title-wrap .title__sub {
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
  opacity: 0.9;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.card .card-header .card-header__function {
  padding: 0 1rem;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5px;
}

.card .card-header .card-header__function .card-overwrap-btn {
  padding: 0;
  opacity: 20%;
}

@media (max-width: 570px) {
  .card .card-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: unset !important;
  }
  .card .card-header .card-header__title {
    width: 100%;
  }
  .card .card-header .card-header__function {
    width: 100%;
    border-top: 1px solid #ebeaed;
    background-color: rgba(0, 0, 0, 0.03);
  }
  .card .card-header .card-header__function button {
    width: 100%;
  }
  .card .card-header .card-header__function .card-overwrap-btn {
    display: none;
  }
}

.card .card-body {
  padding: 1rem;
  overflow: auto;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 400;
}

.card .card-body .card-title {
  text-transform: uppercase;
  color: rgba(18, 21, 78, 0.7);
  font-weight: 700;
  font-size: 0.88rem;
  margin-bottom: 0.75rem;
}

.card .card-body .card-error {
  color: #ff3333;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 700;
}

.card .card-body .card-error::before {
  content: "!";
  font-weight: 900;
  margin-right: 0.3rem;
  width: 1rem;
  height: 100%;
}

.card .card-button {
  padding: 0.8rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5px;
}

.card .card-button button {
  min-width: 4rem;
}

.card .card-button .btn-cancel {
  color: #f37321;
}

.card.card-danger .card-header .card-header__title .title__main {
  line-height: auto;
  font-size: 1.2rem;
  font-weight: 700;
  color: #ff3333 !important;
}

.card.card-danger .card-header .card-header__title .title__main::before {
  content: "⚠";
  padding-right: 0.3rem;
}

.card.card-folded .card-body {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 0;
  max-height: 0 !important;
  overflow: hidden;
  opacity: 0;
}

.card .card-overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
}

.card .card-overlay.on {
  display: block;
}

.card .card-overlay .card {
  background-color: white !important;
}

.card .card-overlay .card * {
  color: black !important;
}

.card .card-overlay .card .card-header {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.inner-item {
  background-color: white;
  border: 1px solid rgba(32, 39, 140, 0.125);
  border-radius: 0px;
  position: relative;
  word-wrap: break-word;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
}

.inner-item .item-header {
  height: 44px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: pink;
  border-bottom: 1px solid red;
  border-radius: 0px 0px 0 0;
  padding: 0 0.5rem;
}

.inner-item .item-header .item-header__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}

.inner-item .item-header .item-header__title * {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.inner-item .item-header .item-header__title h3 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 14px;
  font-weight: 700;
  color: #656467;
}

.inner-item .item-header .item-header__title p {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 11px;
  font-weight: 600;
  line-height: 10px;
  color: blue;
}

.inner-item .item-header .item-header__function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5px;
}

.inner-item .item-body {
  padding: 0.5rem;
  overflow: auto;
}
