@charset "UTF-8";
/* Css link*/
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
.pnt-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  position: relative;
  min-width: 3.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0px;
  background-color: transparent;
  border: none !important;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400 !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 570px) {
  .pnt-btn.btn-long {
    width: 100%;
  }
}

.pnt-btn:hover {
  color: #f37321;
}

.pnt-btn:hover .material-icons-round {
  color: #f37321;
}

.pnt-btn.btn-shadow {
  -webkit-box-shadow: 0px 5px 10px rgba(168, 167, 172, 0.3);
          box-shadow: 0px 5px 10px rgba(168, 167, 172, 0.3);
}

.pnt-btn[class*="btn-icon"] .material-icons-round {
  font-size: 18px;
}

.pnt-btn[class*="btn-icon"].form-h-small .material-icons-round {
  font-size: 12px;
}

.pnt-btn[class*="btn-icon"].form-h-big .material-icons-round {
  font-size: 24px;
}

.pnt-btn.btn-icon {
  min-width: 4.7rem;
}

.pnt-btn.btn-icon-only {
  padding: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 28px;
  min-width: 28px;
}

.pnt-btn.btn-icon-only.form-h-small {
  width: 18px;
  min-width: 18px;
}

.pnt-btn.btn-icon-only.form-h-big {
  width: 40px;
  min-width: 40px;
}

.pnt-btn.form-h-small {
  gap: 5px;
  min-width: unset;
}

.pnt-btn.form-h-big {
  padding: 0 1rem;
}

.pnt-btn.btn-brand {
  color: white;
  background-color: #f37321;
}

.pnt-btn.btn-brand .material-icons-round {
  color: white;
}

.pnt-btn.btn-brand:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.pnt-btn.btn-brand.btn-shadow {
  -webkit-box-shadow: 0px 5px 10px rgba(243, 115, 33, 0.3);
          box-shadow: 0px 5px 10px rgba(243, 115, 33, 0.3);
}

.pnt-btn.btn-secondary {
  color: white;
  background-color: #3e66fb;
}

.pnt-btn.btn-secondary .material-icons-round {
  color: white;
}

.pnt-btn.btn-secondary:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.pnt-btn.btn-secondary.btn-shadow {
  -webkit-box-shadow: 0px 5px 10px rgba(62, 102, 251, 0.3);
          box-shadow: 0px 5px 10px rgba(62, 102, 251, 0.3);
}

.pnt-btn.btn-danger {
  color: white;
  background-color: #ff3333;
}

.pnt-btn.btn-danger .material-icons-round {
  color: white;
}

.pnt-btn.btn-danger:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.pnt-btn.btn-danger.btn-shadow {
  -webkit-box-shadow: 0px 5px 10px rgba(255, 51, 51, 0.3);
          box-shadow: 0px 5px 10px rgba(255, 51, 51, 0.3);
}

.pnt-btn.btn-lightgray {
  color: black;
  background-color: #dcd9e1;
}

.pnt-btn.btn-lightgray .material-icons-round {
  color: black;
}

.pnt-btn.btn-lightgray:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  color: black;
}

.pnt-btn.btn-lightgray.btn-shadow {
  -webkit-box-shadow: 0px 5px 10px rgba(220, 217, 225, 0.3);
          box-shadow: 0px 5px 10px rgba(220, 217, 225, 0.3);
}

.pnt-btn.btn-gray {
  color: white;
  background-color: #a8a7ac;
}

.pnt-btn.btn-gray .material-icons-round {
  color: white;
}

.pnt-btn.btn-gray:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.pnt-btn.btn-gray.btn-shadow {
  -webkit-box-shadow: 0px 5px 10px rgba(168, 167, 172, 0.3);
          box-shadow: 0px 5px 10px rgba(168, 167, 172, 0.3);
}

.pnt-btn.btn-darkgray {
  color: white;
  background-color: #656467;
}

.pnt-btn.btn-darkgray .material-icons-round {
  color: white;
}

.pnt-btn.btn-darkgray:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.pnt-btn.btn-darkgray.btn-shadow {
  -webkit-box-shadow: 0px 5px 10px rgba(101, 100, 103, 0.3);
          box-shadow: 0px 5px 10px rgba(101, 100, 103, 0.3);
}

.pnt-btn.btn-line {
  background-color: transparent;
  border: 1px solid black !important;
}

.pnt-btn.btn-line.btn-shadow {
  -webkit-box-shadow: 0px 5px 10px rgba(168, 167, 172, 0.3);
          box-shadow: 0px 5px 10px rgba(168, 167, 172, 0.3);
}

.pnt-btn.btn-line:hover {
  color: #f37321;
  border: 1px solid #f37321 !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f7f6f8 inset;
}

.pnt-input--group {
  position: relative;
  min-width: 8rem;
  width: 12rem;
}

.pnt-input--group .pnt-input {
  width: 100%;
  height: 100%;
  border: 1px solid #ebeaed;
  background-color: #f7f6f8;
  border-radius: 0px;
  padding: 0 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 600;
}

.pnt-input--group .pnt-input::-webkit-input-placeholder {
  white-space: nowrap;
  font-weight: 400;
}

.pnt-input--group .pnt-input:-ms-input-placeholder {
  white-space: nowrap;
  font-weight: 400;
}

.pnt-input--group .pnt-input::-ms-input-placeholder {
  white-space: nowrap;
  font-weight: 400;
}

.pnt-input--group .pnt-input::placeholder {
  white-space: nowrap;
  font-weight: 400;
}

.pnt-input--group input:focus,
.pnt-input--group input:active,
.pnt-input--group input:focus-visible {
  -webkit-filter: none !important;
          filter: none !important;
  background-color: #f7f6f8;
  border: 1px solid #86858a;
  outline: none;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
}

.pnt-input--group .input-error-txt,
.pnt-input--group button {
  display: none;
}

.pnt-input--group.form-h-small input {
  padding: 5px;
}

.pnt-input--group.form-h-small.btn-on-right button {
  -webkit-transform: translateY(-30%) scale(0.6);
          transform: translateY(-30%) scale(0.6);
}

.pnt-input--group.form-h-big input {
  padding: 10px;
}

.pnt-input--group.form-h-big.btn-on-right button {
  -webkit-transform: translateY(-40%) translateX(-5px) scale(1);
          transform: translateY(-40%) translateX(-5px) scale(1);
}

.pnt-input--group.btn-on-right button {
  position: absolute;
  -webkit-transform: translateY(-43%) translateX(-2px) scale(0.8);
          transform: translateY(-43%) translateX(-2px) scale(0.8);
  top: 50%;
  right: 0;
  display: block;
}

.pnt-input--group.input-error {
  margin-bottom: 1rem;
  text-align: left;
}

.pnt-input--group.input-error .input-error-txt {
  display: block;
  font-size: 12px !important;
  font-weight: 500;
  color: #ff3333;
  margin: 4px 0 0 1px;
}

.pnt-input--group.input-error input {
  border: 1px solid #ff3333;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
}

.pnt-input--group.input-error input:hover {
  -webkit-filter: none !important;
          filter: none !important;
}

.pnt-input--group.form-disable input:focus,
.pnt-input--group.form-disable input:active {
  border: 1px solid transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.pnt-file--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  height: 28px;
}

.pnt-file--group input[type="file"] {
  background-color: #f7f6f8;
  border: 1px solid #ebeaed;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  margin-left: -66px;
  width: 100%;
  height: 100%;
  position: relative;
}

.pnt-file--group input[type="file"]::before {
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 65px;
  display: block;
  background-color: #f7f6f8;
  border-left: 1px solid #ebeaed;
}

.pnt-file--group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  height: 100%;
  margin: 0;
  padding: 0 0.8rem;
  background-color: white;
  border: 1px solid #ebeaed;
  border-left: none;
  color: #3e66fb;
  font-weight: 500;
  font-size: 13px;
  white-space: nowrap;
}

.pnt-file--group label .material-icons-round {
  font-size: 18px;
  color: #3e66fb;
}

.pnt-file--group.form-h-big {
  height: 40px;
}

.pnt-file--group.form-h-big input[type="file"] {
  line-height: 30px;
}

.pnt-file--group.form-h-small {
  height: 18px;
}

.pnt-file--group.form-h-small input[type="file"] {
  line-height: 10px;
  font-size: 12px;
  padding-left: 10px;
}

.pnt-file--group.form-h-small label {
  font-size: 12px;
}

.pnt-file--group.form-h-small label .material-icons-round {
  font-size: 12px;
}

.pnt-select--group {
  position: relative;
  width: 9rem;
}

@media (max-width: 570px) {
  .pnt-select--group {
    width: 100%;
    max-width: unset;
  }
}

.pnt-select--group .select__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  padding-left: 0.5rem;
  background-color: #f7f6f8;
  border: 1px solid #ebeaed;
  border-radius: 0px;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-select--group .select__btn .cont-wrap {
  width: 100%;
  padding-right: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.pnt-select--group .select__btn .cont-wrap .material-icons-round {
  margin-right: 5px;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}

.pnt-select--group .select__btn > .material-icons-round {
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-1px) translateX(3px) scaleX(0.9);
          transform: translateY(-1px) translateX(3px) scaleX(0.9);
  opacity: 0.6;
}

.pnt-select--group .select__options {
  z-index: 10;
  position: absolute;
  top: calc(100% - 1px);
  left: 0px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 0px;
  overflow: hidden;
  -webkit-transition: padding 0.2s;
  transition: padding 0.2s;
  opacity: 0;
}

.pnt-select--group .select__options li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  line-height: 0;
  border-radius: 0px;
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-select--group .select__options li a:last-child {
  border: none;
}

.pnt-select--group .select__options li a span {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  margin-left: -5px;
  margin-right: 7px;
}

.pnt-select--group.on {
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
}

.pnt-select--group.on .select__btn {
  -webkit-filter: none !important;
          filter: none !important;
  border: 1px solid #86858a;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-select--group.on .select__options {
  opacity: 1;
  -webkit-transition: padding 0.2s;
  transition: padding 0.2s;
  background-color: white;
}

.pnt-select--group.on .select__options li a {
  color: #000;
  padding: 1rem 0.5rem;
  border-top: 1px solid #ebeaed;
}

.pnt-select--group.on .select__options li:hover a {
  background-color: #f6f6f9;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-select--group.on .select__options li.on a {
  background-color: #dcd9e1;
  color: #3e66fb;
}

.pnt-select--group.icon-on-left {
  width: 9rem;
}

.pnt-select--group.select-icon-only {
  width: 44px;
  min-width: unset;
}

.pnt-select--group.select-icon-only .select__btn {
  padding: 0.3rem;
}

.pnt-select--group.select-icon-only .select__btn .cont-wrap {
  overflow: visible;
}

.pnt-select--group.select-icon-only .select__options {
  width: 10rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pnt-select--group.form-h-small .cont-wrap > .material-icons-round {
  font-size: 14px;
}

.pnt-select--group.form-h-small.select-icon-only {
  width: 36px;
}

.pnt-select--group.form-h-big .cont-wrap > .material-icons-round {
  font-size: 26px;
}

.pnt-select--group.form-h-big .select__btn > .material-icons-round {
  font-size: 36px;
}

.pnt-select--group.form-h-big.select-icon-only {
  width: 60px;
}

.pnt-select--group.form-h-big .select__options li a {
  padding: 1.5rem .5rem;
}

.pnt-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  margin: 0;
  margin-right: 0.5rem;
}

.pnt-checkbox p {
  margin: 0 0 0 0.5rem;
  padding: 0;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.8;
}

.pnt-checkbox input {
  display: none;
}

.pnt-checkbox .checkbox-effect {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-color: transparent;
  border: 1px solid #ebeaed;
  border-radius: 0px;
}

.pnt-checkbox .checkbox-effect::before, .pnt-checkbox .checkbox-effect::after {
  content: "";
  width: 0px;
  height: 3px;
  border-radius: 100rem;
  background: white;
  position: absolute;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.pnt-checkbox .checkbox-effect::before {
  -webkit-transform: rotate(45deg) translateX(-50%) translateY(-50%);
          transform: rotate(45deg) translateX(-50%) translateY(-50%);
  top: calc(50% + 3px);
  left: calc(50% - 3px);
  -webkit-transition: width 50ms ease 50ms;
  transition: width 50ms ease 50ms;
}

.pnt-checkbox .checkbox-effect::after {
  -webkit-transform: rotate(305deg) translateX(-50%) translateY(-50%);
          transform: rotate(305deg) translateX(-50%) translateY(-50%);
  top: calc(50% + 1px);
  left: calc(50% + 2px);
  -webkit-transition: width 50ms ease;
  transition: width 50ms ease;
}

.pnt-checkbox:has(input:checked) p {
  opacity: 1;
}

.pnt-checkbox:has(input:checked) .checkbox-effect {
  border: 1px solid transparent;
  background-color: #3e66fb;
}

.pnt-checkbox:has(input:checked) .checkbox-effect::before {
  width: 6px;
  -webkit-transition: width 100ms ease;
  transition: width 100ms ease;
}

.pnt-checkbox:has(input:checked) .checkbox-effect::after {
  width: 12px;
  -webkit-transition: width 150ms ease 100ms;
  transition: width 150ms ease 100ms;
}

.pnt-toggle {
  position: relative;
  display: inline-block;
  width: 3rem;
  min-width: 3rem;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pnt-toggle p,
.pnt-toggle div {
  display: none;
}

.pnt-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.pnt-toggle input:checked + .slider {
  background-color: #3ac062;
}

.pnt-toggle input:checked + .slider::before {
  -webkit-transform: translateX(26px) translateY(-50%);
          transform: translateX(26px) translateY(-50%);
}

.pnt-toggle .slider {
  background-color: #dcd9e1;
  border-radius: 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pnt-toggle .slider::before {
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  content: "";
  position: absolute;
  left: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 16px;
  width: 16px;
  border-radius: 100rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pnt-toggle p:nth-of-type(1) {
  color: black;
}

.pnt-toggle p:nth-of-type(2) {
  color: black;
}

.pnt-toggle.toggle-txt p {
  z-index: 1;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  margin: 0;
}

.pnt-toggle.toggle-txt p:nth-of-type(1) {
  color: gray;
  right: 5px;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pnt-toggle.toggle-txt p:nth-of-type(2) {
  color: white;
  left: 3px;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pnt-toggle.toggle-txt input:checked + span + p {
  opacity: 0;
}

.pnt-toggle.toggle-txt input:checked + span + p + p {
  opacity: 0.8;
}

.pnt-toggle.toggle-txt-long {
  width: 6rem;
  min-width: 6rem;
}

.pnt-toggle.toggle-txt-long p {
  z-index: 1;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  margin: 0;
}

.pnt-toggle.toggle-txt-long p:nth-of-type(1) {
  color: gray;
  right: 5px;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pnt-toggle.toggle-txt-long p:nth-of-type(2) {
  color: white;
  left: 3px;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pnt-toggle.toggle-txt-long input:checked + .slider {
  background-color: #3ac062;
}

.pnt-toggle.toggle-txt-long input:checked + .slider::before {
  -webkit-transform: translateX(4.6rem) translateY(-50%);
          transform: translateX(4.6rem) translateY(-50%);
}

.pnt-toggle.toggle-txt-long input:checked + span + p {
  opacity: 0;
}

.pnt-toggle.toggle-txt-long input:checked + span + p + p {
  opacity: 0.8;
}

.pnt-toggle.toggle-txt-long.form-h-big {
  width: 7rem;
  min-width: 7rem;
}

.pnt-toggle.toggle-txt-long.form-h-big input:checked + .slider::before {
  -webkit-transform: translateX(5.2rem) translateY(-50%);
          transform: translateX(5.2rem) translateY(-50%);
}

.pnt-toggle.toggle-icon div {
  z-index: 1;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-55%) scale(0.8);
          transform: translateY(-55%) scale(0.8);
  margin: 0;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.pnt-toggle.toggle-icon div:nth-of-type(1) {
  right: 5px;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pnt-toggle.toggle-icon div:nth-of-type(2) {
  left: 3px;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pnt-toggle.toggle-icon input:checked + span + p + p + div {
  opacity: 0;
}

.pnt-toggle.toggle-icon input:checked + span + p + p + div + div {
  opacity: 0.8;
}

.pnt-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 28px;
  min-width: 6rem;
  background-color: transparent;
  border: 1px solid #ebeaed;
  padding: 0 0.5rem;
}

.pnt-radio p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

.pnt-radio input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.pnt-radio input {
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #cac8cf !important;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  margin: 0 !important;
  position: relative;
}

.pnt-radio input::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.pnt-radio input:hover {
  cursor: pointer;
}

.pnt-radio:has(input:checked) {
  border: 1px solid #f37321;
}

.pnt-radio:has(input:checked) input {
  border: 0.45em solid #f37321 !important;
}

.pnt-radio:has(input:disabled) {
  background-color: #eceaf2;
}

.pnt-radio:has(input:disabled) p {
  color: rgba(0, 0, 0, 0.45);
}

.pnt-radio:has(input:disabled) input {
  cursor: not-allowed;
}

.pnt-radio:has(input:disabled) input::after {
  border: 2px solid transparent !important;
}

.pnt-radio.form-h-small, .pnt-radio.form-h-big {
  width: auto;
  min-width: unset;
}

.pnt-nameplate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding: 0 0.5rem;
  border-radius: 0px;
  background-color: #eceaf2;
  color: black;
  max-width: 8rem;
  position: relative;
}

.pnt-nameplate span {
  font-size: 18px;
}

.pnt-nameplate .cont-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pnt-txt {
  margin: 0;
  padding: 0;
}

.pnt-txt.s-10 {
  line-height: auto;
  font-size: 0.7rem;
  font-weight: 400;
}

.pnt-txt.s-9 {
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
}

.pnt-txt.s-8 {
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 400;
}

.pnt-txt.s-7 {
  line-height: auto;
  font-size: 1rem;
  font-weight: 400;
}

.pnt-txt.s-6 {
  line-height: auto;
  font-size: 1.1rem;
  font-weight: 400;
}

.pnt-txt.s-5 {
  line-height: auto;
  font-size: 1.2rem;
  font-weight: 400;
}

.pnt-txt.s-4 {
  line-height: auto;
  font-size: 1.3rem;
  font-weight: 400;
}

.pnt-txt.s-3 {
  line-height: auto;
  font-size: 1.5rem;
  font-weight: 400;
}

.pnt-txt.s-2 {
  line-height: auto;
  font-size: 1.8rem;
  font-weight: 400;
}

.pnt-txt.s-1 {
  line-height: auto;
  font-size: 2rem;
  font-weight: 400;
}

.pnt-txt.txt-light {
  font-weight: 300;
}

.pnt-txt.txt-bold {
  font-weight: 800;
}

.pnt-txt.txt-border {
  border: 1px solid #ebeaed;
  padding: 0 0.5rem;
  border-radius: 0px;
  margin: 0;
  white-space: nowrap;
  display: inline-block;
}

.pnt-txt.txt-dot {
  display: block;
  width: 100%;
}

.pnt-txt.txt-dot::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
  background-color: #656467;
}

.pnt-txt.txt-bg {
  padding: 0.1rem 0.5rem;
  border-radius: 0px;
  margin: 0;
  background-color: #f6f6f9;
}

ul.pnt-label-1 .label-main,
div.pnt-label-1 .label-main,
li.pnt-label-1 .label-main {
  min-width: unset;
  width: 3rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-2 .label-main,
div.pnt-label-2 .label-main,
li.pnt-label-2 .label-main {
  min-width: unset;
  width: 4rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-3 .label-main,
div.pnt-label-3 .label-main,
li.pnt-label-3 .label-main {
  width: 5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-4 .label-main,
div.pnt-label-4 .label-main,
li.pnt-label-4 .label-main {
  width: 6rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-5 .label-main,
div.pnt-label-5 .label-main,
li.pnt-label-5 .label-main {
  width: 7rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-6 .label-main,
div.pnt-label-6 .label-main,
li.pnt-label-6 .label-main {
  width: 8rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-7 .label-main,
div.pnt-label-7 .label-main,
li.pnt-label-7 .label-main {
  width: 9rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-8 .label-main,
div.pnt-label-8 .label-main,
li.pnt-label-8 .label-main {
  width: 10rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-9 .label-main,
div.pnt-label-9 .label-main,
li.pnt-label-9 .label-main {
  width: 11rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-10 .label-main,
div.pnt-label-10 .label-main,
li.pnt-label-10 .label-main {
  width: 12rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.label-flx-start .pnt-label--group,
div.label-flx-start .pnt-label--group,
li.label-flx-start .pnt-label--group {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

ul.label-flx-col .pnt-label--group,
div.label-flx-col .pnt-label--group,
li.label-flx-col .pnt-label--group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3px;
}

ul.label-flx-col .pnt-label--group .label-main,
div.label-flx-col .pnt-label--group .label-main,
li.label-flx-col .pnt-label--group .label-main {
  width: 100% !important;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.pnt-label--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  position: relative;
}

.label-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  min-width: 5rem;
  overflow: visible;
  word-break: keep-all;
  text-align: left;
  text-transform: capitalize;
  position: relative;
  font-weight: 700;
}

@media (max-width: 758px) {
  .label-main {
    width: 6rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (max-width: 570px) {
  .label-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .label-main .label-main {
    width: 100% !important;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.pnt-label--group .label-options {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: black;
  font-weight: 400 !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  position: relative;
}

.pnt-divider {
  margin: 0 0.5rem;
  width: 1.5px;
  height: 18px;
  background-color: #cac8cf;
}

.pnt-divider.vertical-line {
  height: 100%;
  width: 1px;
}

.pnt-divider.vertical-line.border-bold-1 {
  width: 1px;
}

.pnt-divider.vertical-line.border-bold-2 {
  width: 2px;
}

.pnt-divider.vertical-line.border-bold-3 {
  width: 3px;
}

.pnt-divider.vertical-line.border-bold-4 {
  width: 4px;
}

.pnt-divider.vertical-line.border-bold-5 {
  width: 5px;
}

.pnt-divider.horizon-line {
  width: 100%;
  height: 1px;
  margin: 0.6rem 0;
}

.pnt-divider.horizon-line.border-bold-1 {
  height: 1px;
}

.pnt-divider.horizon-line.border-bold-2 {
  height: 2px;
}

.pnt-divider.horizon-line.border-bold-3 {
  height: 3px;
}

.pnt-divider.horizon-line.border-bold-4 {
  height: 4px;
}

.pnt-divider.horizon-line.border-bold-5 {
  height: 5px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pagination button .material-icons-round {
  font-size: 16px !important;
}

.pagination .now {
  font-size: 13px;
  font-weight: 700;
  color: black;
  opacity: 0.8;
}

.pagination .whole {
  font-size: 13px;
  color: black;
  opacity: 0.5;
}

.pnt-table {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
}

.pnt-table .th, .pnt-table .td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1%;
          flex: 1 1 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  padding: 5px;
  border-right: 1px solid #f6f6f9;
  border-bottom: 1px solid #f6f6f9;
}

.pnt-table .th:last-child, .pnt-table .td:last-child {
  border-right: none;
}

.pnt-table .border-box {
  overflow: auto hidden;
  border-top: 1.4px solid black;
  border-bottom: 1.4px solid black;
  height: 100%;
}

.pnt-table .border-box .thead {
  overflow: visible;
}

.pnt-table .border-box .thead .tr {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border-bottom: 1px solid black;
}

.pnt-table .border-box .thead .tr .th {
  background-color: #d2d2fd;
  font-weight: bold;
}

.pnt-table .border-box .tbody {
  min-height: 10rem;
  height: calc(100% - 30px);
  position: relative;
  background-color: white;
}

.pnt-table .border-box .tbody > div {
  padding: 0;
  overflow: visible;
  height: 100%;
}

.pnt-table .border-box .tbody > div > div {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: overlay;
  will-change: transform;
  direction: ltr;
}

.pnt-table .border-box .tbody > div > div > div .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
}

.pnt-table .border-box .tbody > div > div > div .tr:hover {
  background-color: #ebecf3;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-table .border-box .tbody > div > div > div .tr.active {
  background-color: #3e66fb;
}

.pnt-table .border-box .tbody > div > div > div .tr.active .td {
  color: black;
}

.pnt-table .border-box .tbody > div > div > div .tr .td {
  font-weight: 400 !important;
  line-height: 14px;
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.02);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(1) {
  top: 0;
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(2) {
  top: calc(30px * 1);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(3) {
  top: calc(30px * 2);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(4) {
  top: calc(30px * 3);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(5) {
  top: calc(30px * 4);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(6) {
  top: calc(30px * 5);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(7) {
  top: calc(30px * 6);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(8) {
  top: calc(30px * 7);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(9) {
  top: calc(30px * 8);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(10) {
  top: calc(30px * 9);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(11) {
  top: calc(30px * 10);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(12) {
  top: calc(30px * 11);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(13) {
  top: calc(30px * 12);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(14) {
  top: calc(30px * 13);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(15) {
  top: calc(30px * 14);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(16) {
  top: calc(30px * 15);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(17) {
  top: calc(30px * 16);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(18) {
  top: calc(30px * 17);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(19) {
  top: calc(30px * 18);
}

.pnt-table .border-box .tbody > div > div > div .tr:nth-child(20) {
  top: calc(30px * 19);
}

.pnt-table.table-align-center .th,
.pnt-table.table-align-center .td {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  text-align: center !important;
}

.form-disable {
  -webkit-filter: none !important;
          filter: none !important;
  cursor: default !important;
}

.form-disable:hover {
  cursor: default !important;
}

.form-disable.pnt-btn {
  -webkit-box-shadow: 0 0 0 1px #ebeaed inset;
          box-shadow: 0 0 0 1px #ebeaed inset;
  background-color: #eceaf2;
  color: rgba(0, 0, 0, 0.45);
}

.form-disable.pnt-btn:hover {
  -webkit-filter: none;
          filter: none;
}

.form-disable.pnt-btn span {
  -webkit-filter: unset !important;
          filter: unset !important;
  opacity: 0.4;
}

.form-disable.pnt-input--group .pnt-input {
  background-color: #eceaf2;
  color: rgba(0, 0, 0, 0.45);
  -webkit-filter: none;
          filter: none;
}

.form-disable.pnt-input--group .pnt-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.form-disable.pnt-input--group .pnt-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.form-disable.pnt-input--group .pnt-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.form-disable.pnt-input--group .pnt-input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.form-disable.pnt-input--group .pnt-input:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-disable.pnt-file--group input[type="file"] {
  background-color: #f7f6f8;
  border: 1px solid #ebeaed;
}

.form-disable.pnt-file--group input[type="file"]::before {
  background-color: #f7f6f8;
  border-left: 1px solid #ebeaed;
}

.form-disable.pnt-file--group label {
  background-color: #eceaf2;
  border: 1px solid #ebeaed;
  color: rgba(0, 0, 0, 0.45);
}

.form-disable.pnt-file--group label .material-icons-round {
  color: rgba(0, 0, 0, 0.45);
}

.form-disable.pnt-select--group:hover {
  cursor: default !important;
}

.form-disable.pnt-select--group .select__btn {
  background-color: #eceaf2;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-filter: none !important;
          filter: none !important;
}

.form-disable.pnt-select--group .select__btn span {
  opacity: 0.4;
}

.form-disable.pnt-select--group .select__btn:hover {
  cursor: default !important;
}

.form-disable.pnt-select--group .select__btn .cont-wrap {
  color: rgba(0, 0, 0, 0.45);
}

.form-disable.pnt-checkbox .checkbox-effect {
  background-color: #eceaf2;
}

.form-disable.pnt-checkbox p {
  opacity: 0.5;
}

.form-disable.pnt-toggle input:checked + .slider {
  background-color: #3ac062;
}

.form-disable.pnt-toggle .slider {
  background-color: #dcd9e1;
}

.form-disable.pnt-toggle .slider::before {
  background-color: white;
}

.form-must.pnt-select--group, .form-must.pnt-input--group {
  position: relative;
}

.form-must.pnt-select--group input, .form-must.pnt-input--group input {
  border: 1px solid #f37321;
}

.form-must.pnt-select--group .select__btn, .form-must.pnt-input--group .select__btn {
  border: 1px solid #f37321;
}

.form-must.pnt-select--group .select__btn:hover, .form-must.pnt-input--group .select__btn:hover {
  border: 1px solid orangered;
}

.form-must.pnt-select--group::after, .form-must.pnt-input--group::after {
  display: block;
  content: "*";
  position: absolute;
  top: -0.8rem;
  left: -0.3rem;
  line-height: auto;
  font-size: 1.1rem;
  font-weight: 400;
  color: #ff3333;
}

.pnt-input--group input,
.pnt-input--group input::-webkit-input-placeholder,
.pnt-select--group .cont-wrap,
.pnt-select--group a,
.pnt-btn,
.pnt-checkbox p,
.pnt-nameplate .cont-wrap,
.pnt-radio p,
.pnt-toggle p,
.pnt-table--paging__wrap span,
.pnt-table .th,
.pnt-table .td,
.pnt-txt,
.pnt-label--group .label-options {
  font-size: 0.9rem;
  font-weight: 500;
  color: #434245;
}

.pnt-input--group input,
.pnt-input--group input:-ms-input-placeholder,
.pnt-select--group .cont-wrap,
.pnt-select--group a,
.pnt-btn,
.pnt-checkbox p,
.pnt-nameplate .cont-wrap,
.pnt-radio p,
.pnt-toggle p,
.pnt-table--paging__wrap span,
.pnt-table .th,
.pnt-table .td,
.pnt-txt,
.pnt-label--group .label-options {
  font-size: 0.9rem;
  font-weight: 500;
  color: #434245;
}

.pnt-input--group input,
.pnt-input--group input::-ms-input-placeholder,
.pnt-select--group .cont-wrap,
.pnt-select--group a,
.pnt-btn,
.pnt-checkbox p,
.pnt-nameplate .cont-wrap,
.pnt-radio p,
.pnt-toggle p,
.pnt-table--paging__wrap span,
.pnt-table .th,
.pnt-table .td,
.pnt-txt,
.pnt-label--group .label-options {
  font-size: 0.9rem;
  font-weight: 500;
  color: #434245;
}

.pnt-input--group input,
.pnt-input--group input::placeholder,
.pnt-select--group .cont-wrap,
.pnt-select--group a,
.pnt-btn,
.pnt-checkbox p,
.pnt-nameplate .cont-wrap,
.pnt-radio p,
.pnt-toggle p,
.pnt-table--paging__wrap span,
.pnt-table .th,
.pnt-table .td,
.pnt-txt,
.pnt-label--group .label-options {
  font-size: 0.9rem;
  font-weight: 500;
  color: #434245;
}

.pnt-btn.form-h-small,
.pnt-input--group.form-h-small input,
.pnt-input--group.form-h-small input::-webkit-input-placeholder,
.pnt-select--group.form-h-small .cont-wrap,
.pnt-select--group.form-h-small .select__options a,
.pnt-checkbox.form-h-small p,
.pnt-radio.form-h-small p,
.pnt-nameplate.form-h-small .cont-wrap {
  font-size: 0.75rem;
}

.pnt-btn.form-h-small,
.pnt-input--group.form-h-small input,
.pnt-input--group.form-h-small input:-ms-input-placeholder,
.pnt-select--group.form-h-small .cont-wrap,
.pnt-select--group.form-h-small .select__options a,
.pnt-checkbox.form-h-small p,
.pnt-radio.form-h-small p,
.pnt-nameplate.form-h-small .cont-wrap {
  font-size: 0.75rem;
}

.pnt-btn.form-h-small,
.pnt-input--group.form-h-small input,
.pnt-input--group.form-h-small input::-ms-input-placeholder,
.pnt-select--group.form-h-small .cont-wrap,
.pnt-select--group.form-h-small .select__options a,
.pnt-checkbox.form-h-small p,
.pnt-radio.form-h-small p,
.pnt-nameplate.form-h-small .cont-wrap {
  font-size: 0.75rem;
}

.pnt-btn.form-h-small,
.pnt-input--group.form-h-small input,
.pnt-input--group.form-h-small input::placeholder,
.pnt-select--group.form-h-small .cont-wrap,
.pnt-select--group.form-h-small .select__options a,
.pnt-checkbox.form-h-small p,
.pnt-radio.form-h-small p,
.pnt-nameplate.form-h-small .cont-wrap {
  font-size: 0.75rem;
}

.pnt-btn.form-h-big,
.pnt-input--group.form-h-big input,
.pnt-input--group.form-h-big input::-webkit-input-placeholder,
.pnt-select--group.form-h-big .cont-wrap,
.pnt-select--group.form-h-big .select__options a,
.pnt-checkbox.form-h-big p,
.pnt-radio.form-h-big p,
.pnt-nameplate.form-h-big .cont-wrap {
  font-size: 1.15rem;
}

.pnt-btn.form-h-big,
.pnt-input--group.form-h-big input,
.pnt-input--group.form-h-big input:-ms-input-placeholder,
.pnt-select--group.form-h-big .cont-wrap,
.pnt-select--group.form-h-big .select__options a,
.pnt-checkbox.form-h-big p,
.pnt-radio.form-h-big p,
.pnt-nameplate.form-h-big .cont-wrap {
  font-size: 1.15rem;
}

.pnt-btn.form-h-big,
.pnt-input--group.form-h-big input,
.pnt-input--group.form-h-big input::-ms-input-placeholder,
.pnt-select--group.form-h-big .cont-wrap,
.pnt-select--group.form-h-big .select__options a,
.pnt-checkbox.form-h-big p,
.pnt-radio.form-h-big p,
.pnt-nameplate.form-h-big .cont-wrap {
  font-size: 1.15rem;
}

.pnt-btn.form-h-big,
.pnt-input--group.form-h-big input,
.pnt-input--group.form-h-big input::placeholder,
.pnt-select--group.form-h-big .cont-wrap,
.pnt-select--group.form-h-big .select__options a,
.pnt-checkbox.form-h-big p,
.pnt-radio.form-h-big p,
.pnt-nameplate.form-h-big .cont-wrap {
  font-size: 1.15rem;
}

.pnt-input--group,
.pnt-select--group,
.pnt-btn,
.pnt-checkbox,
.pnt-radio,
.pnt-nameplate,
.pnt-file--group {
  height: 28px;
}

.pnt-input--group.form-h-small,
.pnt-select--group.form-h-small,
.pnt-btn.form-h-small,
.pnt-checkbox.form-h-small,
.pnt-radio.form-h-small,
.pnt-nameplate.form-h-small,
.pnt-file--group.form-h-small {
  height: 18px;
}

.pnt-input--group.form-h-big,
.pnt-select--group.form-h-big,
.pnt-btn.form-h-big,
.pnt-checkbox.form-h-big,
.pnt-radio.form-h-big,
.pnt-nameplate.form-h-big,
.pnt-file--group.form-h-big {
  height: 40px;
}

.pnt-toggle {
  height: 22px;
}

.pnt-toggle.form-h-small {
  height: 14px;
}

.pnt-toggle.form-h-small p {
  font-size: 0.75rem;
}

.pnt-toggle.form-h-big {
  height: 28px;
  width: 4rem;
}

.pnt-toggle.form-h-big input:checked + .slider::before {
  -webkit-transform: translateX(2.3rem) translateY(-50%);
          transform: translateX(2.3rem) translateY(-50%);
}

.pnt-toggle.form-h-big .slider::before {
  height: 20px;
  width: 20px;
}

.pnt-toggle.form-h-big p {
  font-size: 1.15rem;
}

.pnt-toggle.form-h-big p:nth-of-type(1) {
  right: 10px !important;
}

.pnt-toggle.form-h-big p:nth-of-type(2) {
  left: 10px !important;
}

.pnt-checkbox .checkbox-effect {
  width: 22px;
  height: 22px;
}

.pnt-checkbox.form-h-small .checkbox-effect {
  width: 14px;
  height: 14px;
}

.pnt-checkbox.form-h-small .checkbox-effect::before {
  -webkit-transform: rotate(45deg) translateX(-20%) translateY(-80%) scale(0.6);
          transform: rotate(45deg) translateX(-20%) translateY(-80%) scale(0.6);
}

.pnt-checkbox.form-h-small .checkbox-effect::after {
  -webkit-transform: rotate(305deg) translateX(-20%) translateY(-60%) scale(0.6);
          transform: rotate(305deg) translateX(-20%) translateY(-60%) scale(0.6);
}

.pnt-checkbox.form-h-big .checkbox-effect {
  width: 28px;
  height: 28px;
}

.pnt-checkbox.form-h-big .checkbox-effect::before {
  -webkit-transform: rotate(45deg) translateX(-80%) translateY(-80%) scale(1.5);
          transform: rotate(45deg) translateX(-80%) translateY(-80%) scale(1.5);
}

.pnt-checkbox.form-h-big .checkbox-effect::after {
  -webkit-transform: rotate(305deg) translateX(-40%) translateY(-80%) scale(1.3);
          transform: rotate(305deg) translateX(-40%) translateY(-80%) scale(1.3);
}

.pnt-input--group input,
.pnt-select--group .select__btn,
.pnt-checkbox,
.pnt-toggle {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-input--group input:hover,
.pnt-select--group .select__btn:hover,
.pnt-checkbox:hover,
.pnt-toggle:hover {
  -webkit-filter: brightness(0.98);
          filter: brightness(0.98);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#root .app-container.app-theme-pnt-dark input:focus,
#root .app-container.app-theme-pnt-dark input:active,
#root .app-container.app-theme-pnt-dark input:focus-visible,
.app-container.app-theme-pnt-plant input:focus,
.app-container.app-theme-pnt-plant input:active,
.app-container.app-theme-pnt-plant input:focus-visible {
  border: 1px solid white;
}

#root .app-container.app-theme-pnt-dark .form-disable input:focus,
#root .app-container.app-theme-pnt-dark .form-disable input:active,
#root .app-container.app-theme-pnt-dark .form-disable input:focus-visible,
.app-container.app-theme-pnt-plant .form-disable input:focus,
.app-container.app-theme-pnt-plant .form-disable input:active,
.app-container.app-theme-pnt-plant .form-disable input:focus-visible {
  border: 1px solid #656467 !important;
}

#root .app-container.app-theme-pnt-dark .pnt-select--group .select__options,
.app-container.app-theme-pnt-plant .pnt-select--group .select__options {
  border: none;
}

#root .app-container.app-theme-pnt-dark .pnt-btn.form-disable,
.app-container.app-theme-pnt-plant .pnt-btn.form-disable {
  border: 1px solid #ebeaed;
}

#root .app-container.app-theme-pnt-dark .pnt-btn.form-disable span,
.app-container.app-theme-pnt-plant .pnt-btn.form-disable span {
  -webkit-filter: invert(1) !important;
          filter: invert(1) !important;
}

#root .app-container.app-theme-pnt-dark .pnt-label--group .label-line::before,
#root .app-container.app-theme-pnt-dark .pnt-label--group .label-line-long::before,
.app-container.app-theme-pnt-plant .pnt-label--group .label-line::before,
.app-container.app-theme-pnt-plant .pnt-label--group .label-line-long::before {
  background-color: #656467;
}

#root .app-container.app-theme-pnt-dark .pnt-label--group span[class*="icon-"],
.app-container.app-theme-pnt-plant .pnt-label--group span[class*="icon-"] {
  opacity: 0.5;
}

#root .app-container.app-theme-pnt-dark span[class*="icon-"],
.app-container.app-theme-pnt-plant span[class*="icon-"] {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#root .app-container.app-theme-pnt-dark .pnt-btn span[class*="icon-"],
.app-container.app-theme-pnt-plant .pnt-btn span[class*="icon-"] {
  -webkit-filter: none;
          filter: none;
}

#root .app-container.app-theme-pnt-dark .pnt-input--group span[class*="icon-"],
.app-container.app-theme-pnt-plant .pnt-input--group span[class*="icon-"] {
  -webkit-filter: invert(1);
          filter: invert(1);
}
