span[class*="s_"] {
  display: block;
  background-repeat: no-repeat;
  border: none;
  font-size: 0;
  width: 40px;
  height: 40px;
  background-size: calc((40px * 10) + (20px * 9));
  background-image: url("../images/sensorIcon.svg");
}

span[class*="w_"] {
  display: block;
  background-repeat: no-repeat;
  border: none;
  font-size: 0;
  width: 40px;
  height: 40px;
  background-size: calc((40px * 10) + (20px * 9));
  background-image: url("../images/sh_widget_icon.svg");
}

.w_chart_table {
  background-position: calc((40px * -0) - (20px * 0)) calc((40px * -0) - (20px * 0));
}

.w_dashboard {
  background-position: calc((40px * -1) - (20px * 1)) calc((40px * -0) - (20px * 0));
}

.w_monitor {
  background-position: calc((40px * -2) - (20px * 2)) calc((40px * -0) - (20px * 0));
}

.w_filter_table_line {
  background-position: calc((40px * -3) - (20px * 3)) calc((40px * -0) - (20px * 0));
}

.w_filter_line {
  background-position: calc((40px * -4) - (20px * 4)) calc((40px * -0) - (20px * 0));
}

.w_filter_map {
  background-position: calc((40px * -5) - (20px * 5)) calc((40px * -0) - (20px * 0));
}

.w_cardmonitor {
  background-position: calc((40px * -6) - (20px * 6)) calc((40px * -0) - (20px * 0));
}

.w_chart {
  background-position: calc((40px * -7) - (20px * 7)) calc((40px * -0) - (20px * 0));
}

.w_pie {
  background-position: calc((40px * -8) - (20px * 8)) calc((40px * -0) - (20px * 0));
}

.w_table {
  background-position: calc((40px * -9) - (20px * 9)) calc((40px * -0) - (20px * 0));
}

.w_map {
  background-position: calc((40px * -0) - (20px * 0)) calc((40px * -1) - (20px * 1));
}

.w_pie_table {
  background-position: calc((40px * -1) - (20px * 1)) calc((40px * -1) - (20px * 1));
}

.w_battery_chart {
  background-position: calc((40px * -2) - (20px * 2)) calc((40px * -1) - (20px * 1));
}

.w_pie_chart {
  background-position: calc((40px * -3) - (20px * 3)) calc((40px * -1) - (20px * 1));
}

.w_line {
  background-position: calc((40px * -4) - (20px * 4)) calc((40px * -1) - (20px * 1));
}

.w_line_chart {
  background-position: calc((40px * -5) - (20px * 5)) calc((40px * -1) - (20px * 1));
}

.w_chart_search_table {
  background-position: calc((40px * -6) - (20px * 6)) calc((40px * -1) - (20px * 1));
}

.w_search_table {
  background-position: calc((40px * -7) - (20px * 7)) calc((40px * -1) - (20px * 1));
}

.w_filter_cardmonitor {
  background-position: calc((40px * -8) - (20px * 8)) calc((40px * -1) - (20px * 1));
}

.w_search_map_chart_table {
  background-position: calc((40px * -9) - (20px * 9)) calc((40px * -1) - (20px * 1));
}

.w_search_line {
  background-position: calc((40px * -0) - (20px * 0)) calc((40px * -2) - (20px * 2));
}

.w_search_map_line {
  background-position: calc((40px * -1) - (20px * 1)) calc((40px * -2) - (20px * 2));
}

.s_temperature {
  background-position: calc((40px * -0) - (20px * 0)) calc((40px * -0) - (20px * 0));
}

.s_temperature2 {
  background-position: calc((40px * -1) - (20px * 1)) calc((40px * -0) - (20px * 0));
}

.s_humidity {
  background-position: calc((40px * -2) - (20px * 2)) calc((40px * -0) - (20px * 0));
}

.s_relativeHumidity {
  background-position: calc((40px * -3) - (20px * 3)) calc((40px * -0) - (20px * 0));
}

.s_ambientLight {
  background-position: calc((40px * -4) - (20px * 4)) calc((40px * -0) - (20px * 0));
}

.s_barometricPressure {
  background-position: calc((40px * -5) - (20px * 5)) calc((40px * -0) - (20px * 0));
}

.s_seismicIntensity {
  background-position: calc((40px * -6) - (20px * 6)) calc((40px * -0) - (20px * 0));
}

.s_vibration {
  background-position: calc((40px * -7) - (20px * 7)) calc((40px * -0) - (20px * 0));
}

.s_soundNoise {
  background-position: calc((40px * -8) - (20px * 8)) calc((40px * -0) - (20px * 0));
}

.s_discomfortIndex {
  background-position: calc((40px * -9) - (20px * 9)) calc((40px * -0) - (20px * 0));
}

.s_O2 {
  background-position: calc((40px * -0) - (20px * 0)) calc((40px * -1) - (20px * 1));
}

.s_LEL {
  background-position: calc((40px * -1) - (20px * 1)) calc((40px * -1) - (20px * 1));
}

.s_H2S {
  background-position: calc((40px * -2) - (20px * 2)) calc((40px * -1) - (20px * 1));
}

.s_CO {
  background-position: calc((40px * -3) - (20px * 3)) calc((40px * -1) - (20px * 1));
}

.s_CO2 {
  background-position: calc((40px * -4) - (20px * 4)) calc((40px * -1) - (20px * 1));
}

.s_SO2 {
  background-position: calc((40px * -5) - (20px * 5)) calc((40px * -1) - (20px * 1));
}

.s_eTVOC {
  background-position: calc((40px * -6) - (20px * 6)) calc((40px * -1) - (20px * 1));
}

.s_eCO2 {
  background-position: calc((40px * -7) - (20px * 7)) calc((40px * -1) - (20px * 1));
}

.s_etCO2 {
  background-position: calc((40px * -8) - (20px * 8)) calc((40px * -1) - (20px * 1));
}

.s_inCO2 {
  background-position: calc((40px * -9) - (20px * 9)) calc((40px * -1) - (20px * 1));
}

.s_heartbeat {
  background-position: calc((40px * -0) - (20px * 0)) calc((40px * -2) - (20px * 2));
}

.s_highBloodPressure {
  background-position: calc((40px * -1) - (20px * 1)) calc((40px * -2) - (20px * 2));
}

.s_lowBloodPressure {
  background-position: calc((40px * -2) - (20px * 2)) calc((40px * -2) - (20px * 2));
}

.s_bloodPressure {
  background-position: calc((40px * -3) - (20px * 3)) calc((40px * -2) - (20px * 2));
}

.s_highBloodPressure2 {
  background-position: calc((40px * -4) - (20px * 4)) calc((40px * -2) - (20px * 2));
}

.s_lowBloodPressure2 {
  background-position: calc((40px * -5) - (20px * 5)) calc((40px * -2) - (20px * 2));
}

.s_bloodPressure2 {
  background-position: calc((40px * -6) - (20px * 6)) calc((40px * -2) - (20px * 2));
}

.s_pulseRate {
  background-position: calc((40px * -7) - (20px * 7)) calc((40px * -2) - (20px * 2));
}

.s_heatStroke {
  background-position: calc((40px * -8) - (20px * 8)) calc((40px * -2) - (20px * 2));
}

.s_accelerationXaxis {
  background-position: calc((40px * -9) - (20px * 9)) calc((40px * -2) - (20px * 2));
}

.s_accelerationYaxis {
  background-position: calc((40px * -0) - (20px * 0)) calc((40px * -3) - (20px * 3));
}

.s_accelerationZaxis {
  background-position: calc((40px * -1) - (20px * 1)) calc((40px * -3) - (20px * 3));
}

.s_angularXaxis {
  background-position: calc((40px * -2) - (20px * 2)) calc((40px * -3) - (20px * 3));
}

.s_angularYaxis {
  background-position: calc((40px * -3) - (20px * 3)) calc((40px * -3) - (20px * 3));
}

.s_angularZaxis {
  background-position: calc((40px * -4) - (20px * 4)) calc((40px * -3) - (20px * 3));
}

.s_pir {
  background-position: calc((40px * -5) - (20px * 5)) calc((40px * -3) - (20px * 3));
}

.s_movement {
  background-position: calc((40px * -6) - (20px * 6)) calc((40px * -3) - (20px * 3));
}

.s_battery {
  background-position: calc((40px * -7) - (20px * 7)) calc((40px * -3) - (20px * 3));
}

.s_nappyBig {
  background-position: calc((40px * -8) - (20px * 8)) calc((40px * -3) - (20px * 3));
}

.s_nappyGas {
  background-position: calc((40px * -9) - (20px * 9)) calc((40px * -3) - (20px * 3));
}

.s_nappySmall {
  background-position: calc((40px * -0) - (20px * 0)) calc((40px * -4) - (20px * 4));
}

.s_calories {
  background-position: calc((40px * -1) - (20px * 1)) calc((40px * -4) - (20px * 4));
}

.s_step {
  background-position: calc((40px * -2) - (20px * 2)) calc((40px * -4) - (20px * 4));
}

.s_distance {
  background-position: calc((40px * -3) - (20px * 3)) calc((40px * -4) - (20px * 4));
}

.s_sleep {
  background-position: calc((40px * -4) - (20px * 4)) calc((40px * -4) - (20px * 4));
}

.s_height {
  background-position: calc((40px * -5) - (20px * 5)) calc((40px * -4) - (20px * 4));
}

.s_weight {
  background-position: calc((40px * -6) - (20px * 6)) calc((40px * -4) - (20px * 4));
}

.s_weight2 {
  background-position: calc((40px * -7) - (20px * 7)) calc((40px * -4) - (20px * 4));
}

.s_fire {
  background-position: calc((40px * -8) - (20px * 8)) calc((40px * -4) - (20px * 4));
}

.s_stress {
  background-position: calc((40px * -9) - (20px * 9)) calc((40px * -4) - (20px * 4));
}

.s_capacity {
  background-position: calc((40px * -0) - (20px * 0)) calc((40px * -5) - (20px * 5));
}

.s_crack {
  background-position: calc((40px * -1) - (20px * 1)) calc((40px * -5) - (20px * 5));
}

.s_dust {
  background-position: calc((40px * -2) - (20px * 2)) calc((40px * -5) - (20px * 5));
}

.s_dosage {
  background-position: calc((40px * -3) - (20px * 3)) calc((40px * -5) - (20px * 5));
}

.s_totalDosage {
  background-position: calc((40px * -4) - (20px * 4)) calc((40px * -5) - (20px * 5));
}

.s_dropCount {
  background-position: calc((40px * -5) - (20px * 5)) calc((40px * -5) - (20px * 5));
}

.s_dropRate {
  background-position: calc((40px * -6) - (20px * 6)) calc((40px * -5) - (20px * 5));
}

.s_packetCounter {
  background-position: calc((40px * -7) - (20px * 7)) calc((40px * -5) - (20px * 5));
}

.s_spO2 {
  background-position: calc((40px * -8) - (20px * 8)) calc((40px * -5) - (20px * 5));
}

.s_respirationRate {
  background-position: calc((40px * -9) - (20px * 9)) calc((40px * -5) - (20px * 5));
}

.s_ipi {
  background-position: calc((40px * -0) - (20px * 0)) calc((40px * -6) - (20px * 6));
}

.s_iHighBloodPressure {
  background-position: calc((40px * -1) - (20px * 1)) calc((40px * -6) - (20px * 6));
}

.s_iLowBloodPressure {
  background-position: calc((40px * -2) - (20px * 2)) calc((40px * -6) - (20px * 6));
}

.s_iBloodPressure {
  background-position: calc((40px * -3) - (20px * 3)) calc((40px * -6) - (20px * 6));
}

.s_iHighBloodPressure2 {
  background-position: calc((40px * -4) - (20px * 4)) calc((40px * -6) - (20px * 6));
}

.s_iLowBloodPressure2 {
  background-position: calc((40px * -5) - (20px * 5)) calc((40px * -6) - (20px * 6));
}

.s_iBloodPressure2 {
  background-position: calc((40px * -6) - (20px * 6)) calc((40px * -6) - (20px * 6));
}

.s_afBurden {
  background-position: calc((40px * -7) - (20px * 7)) calc((40px * -6) - (20px * 6));
}

.s_totalWearTimeSec {
  background-position: calc((40px * -8) - (20px * 8)) calc((40px * -6) - (20px * 6));
}

.s_analyzableWearTimeSec {
  background-position: calc((40px * -9) - (20px * 9)) calc((40px * -6) - (20px * 6));
}

.s_afEpisodeCnt {
  background-position: calc((40px * -0) - (20px * 0)) calc((40px * -7) - (20px * 7));
}

.s_meanAfDurSec {
  background-position: calc((40px * -1) - (20px * 1)) calc((40px * -7) - (20px * 7));
}

.s_minAfDurSec {
  background-position: calc((40px * -2) - (20px * 2)) calc((40px * -7) - (20px * 7));
}

.s_medianAfDurSec {
  background-position: calc((40px * -3) - (20px * 3)) calc((40px * -7) - (20px * 7));
}

.s_maxAfDurSec {
  background-position: calc((40px * -4) - (20px * 4)) calc((40px * -7) - (20px * 7));
}

.s_totalAfDurSec {
  background-position: calc((40px * -5) - (20px * 5)) calc((40px * -7) - (20px * 7));
}

.s_button1Count {
  background-position: calc((40px * -6) - (20px * 6)) calc((40px * -7) - (20px * 7));
}

.s_button2Count {
  background-position: calc((40px * -7) - (20px * 7)) calc((40px * -7) - (20px * 7));
}

.s_ecg {
  background-position: calc((40px * -8) - (20px * 8)) calc((40px * -7) - (20px * 7));
}

.s_rate {
  background-position: calc((40px * -9) - (20px * 9)) calc((40px * -7) - (20px * 7));
}

.s_vtbi {
  background-position: calc((40px * -0) - (20px * 0)) calc((40px * -8) - (20px * 8));
}

.s_infusedVol {
  background-position: calc((40px * -1) - (20px * 1)) calc((40px * -8) - (20px * 8));
}

.s_bi {
  background-position: calc((40px * -2) - (20px * 2)) calc((40px * -8) - (20px * 8));
}

.s_conc {
  background-position: calc((40px * -3) - (20px * 3)) calc((40px * -8) - (20px * 8));
}

.s_dose {
  background-position: calc((40px * -4) - (20px * 4)) calc((40px * -8) - (20px * 8));
}

.s_pcaBolus {
  background-position: calc((40px * -5) - (20px * 5)) calc((40px * -8) - (20px * 8));
}

.s_pi {
  background-position: calc((40px * -6) - (20px * 6)) calc((40px * -8) - (20px * 8));
}

.s_bloodGlucose {
  background-position: calc((40px * -7) - (20px * 7)) calc((40px * -8) - (20px * 8));
}
