@charset "UTF-8";
/* Css link*/
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
.widget-item-nums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.widget-item-nums .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 2px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.widget-item-nums .col b {
  font-size: 26px;
  font-weight: 900 !important;
}

.widget-item-nums .col b span {
  font-size: 20px;
  margin: 0 5px;
  font-weight: 500;
  opacity: 0.7;
}

.widget-item-nums .col.selected {
  background-color: white;
  border: 1px solid #3e66fb;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.widget-item-nums .col.selected * {
  color: #3e66fb !important;
}

.widget-item-nums .col.selected:hover {
  -webkit-filter: none;
          filter: none;
}

.widget-item-nums .col.nonSelected {
  background-color: #eceaf2;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.widget-item-nums .col.nonSelected:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

.widget-item-nums .col.view {
  background-color: #f0f3f4;
}

.widget-sensor-img {
  width: 72px;
  height: 72px;
  border-radius: 5px;
  background-color: gray;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget-sensor-img > span {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.widget-sensor-img .status {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widget-sensor-img .status span {
  font-size: 14px;
  color: white !important;
}

.vital-sign-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 4fr;
      grid-template-columns: 2fr 1fr 4fr;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.vital-sign-table > div:nth-child(1) {
  background-color: #d6d6d6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 28px;
}

.vital-sign-table > div:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.vital-sign-table > div:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
}

.vital-sign-table > div:nth-child(4) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vital-sign-table > div:nth-child(5) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  grid-row: 3 / 3;
}

.vital-sign-table > div:nth-child(6) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
  -ms-grid-row: 3;
  grid-row: 3 / 3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vital-sign-table > div:nth-child(7) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 4;
  grid-row: 4 / 4;
}

.vital-sign-table > div:nth-child(8) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
  -ms-grid-row: 4;
  grid-row: 4 / 4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vital-sign-table > div {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.3rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vital-sign-table b,
.vital-sign-table p {
  margin: 0;
}

.vital-sign-table div {
  font-size: 0.8rem;
}

.sap-table {
  border-right: 1px solid black;
}

.sap-table .flx-row:first-child {
  background-color: gray;
}

.sap-table .flx-row div {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.3rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28px;
}

.sap-table b,
.sap-table p {
  margin: 0;
}

.sap-table div {
  font-size: 0.8rem;
}
