//////////////////////////////
//※ 해당 파일은 html 용으로 만들었습니다.
//   React 템플릿을 사용할경우, merge 시 잘 살펴봐주세요.

//////////////////////////////
/* Css link*/
@import "_variables";


//전체 현황
.widget-item-nums {
  display: flex;
  gap: 8px;
  & .col {
    flex: 1;
    border-radius: $form-radius;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & b {
      font-size: 26px;
      font-weight: 900 !important;
      & span {
        font-size: 20px;
        margin: 0 5px;
        font-weight: 500;
        opacity: 0.7;
      }
    }

    //선택된
    &.selected {
      background-color: white;
      border: 1px solid $default-secondary;
      box-shadow: $card-shadow;
      transition: $form-transition;
      cursor: pointer;
      & * {
        color: $default-secondary !important;
      }
      &:hover {
        filter: none;
      }
    }
    //선택되지 않은
    &.nonSelected {
      background-color: #eceaf2;
      transition: $form-transition;
      cursor: pointer;
      &:hover {
        transition: $form-transition;
        filter: brightness(95%);
      }
    }
    //단순 뷰용
    &.view {
      background-color: rgb(240, 243, 244);
    }
  }
}

//센서 아이템 이미지
.widget-sensor-img {
  width: 72px;
  height: 72px;
  border-radius: 5px;
  background-color: gray;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  & > span {
    filter: invert(1);
  }
  & .status {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    
    display: none;
    & span {
      font-size: 14px;
      color: white !important;
    }
  }
}
