//////////////////////////////
//※ 해당 파일은 html 용으로 만들었습니다.
//   React 템플릿을 사용할경우, merge 시 잘 살펴봐주세요.

//////////////////////////////
/* Css link*/
@import "_variables";

//전체 현황
.widget-item-nums {
  display: flex;
  gap: 8px;
  & .col {
    flex: 1;
    border-radius: $form-radius;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & b {
      font-size: 26px;
      font-weight: 900 !important;
      & span {
        font-size: 20px;
        margin: 0 5px;
        font-weight: 500;
        opacity: 0.7;
      }
    }

    //선택된
    &.selected {
      background-color: white;
      border: 1px solid $default-secondary;
      box-shadow: $card-shadow;
      transition: $form-transition;
      cursor: pointer;
      & * {
        color: $default-secondary !important;
      }
      &:hover {
        filter: none;
      }
    }
    //선택되지 않은
    &.nonSelected {
      background-color: #eceaf2;
      transition: $form-transition;
      cursor: pointer;
      &:hover {
        transition: $form-transition;
        filter: brightness(95%);
      }
    }
    //단순 뷰용
    &.view {
      background-color: rgb(240, 243, 244);
    }
  }
}

//센서 아이템 이미지
.widget-sensor-img {
  width: 72px;
  height: 72px;
  border-radius: 5px;
  background-color: gray;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  & > span {
    filter: invert(1);
  }
  & .status {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    //display: none;
    & span {
      font-size: 14px;
      color: white !important;
    }
  }
}

//활력징후 테이블
.vital-sign-table {
  display: grid;
  grid-template-columns: 2fr 1fr 4fr;
  border-right: 1px solid black;
  border-top: 1px solid black;
  & > div:nth-child(1) {
    background-color: rgb(214, 214, 214);
    grid-column: 1 / 7;
    grid-row: 1 / 1;
    justify-content: space-between;
    height: $form-height;
  }
  & > div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  & > div:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
  }
  & > div:nth-child(4) {
    grid-column: 3 / 7;
    grid-row: 2 / 2;
    justify-content: space-between;
  }
  & > div:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
  }
  & > div:nth-child(6) {
    grid-column: 3 / 7;
    grid-row: 3 / 3;
    justify-content: space-between;
  }
  & > div:nth-child(7) {
    grid-column: 2 / 3;
    grid-row: 4 / 4;
  }
  & > div:nth-child(8) {
    grid-column: 3 / 7;
    grid-row: 4 / 4;
    justify-content: space-between;
  }
  & > div {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & b,
  p {
    margin: 0;
  }
  & div {
    font-size: 0.8rem;
  }
}

//수액 모니터링 테이블
.sap-table {
  border-right: 1px solid black;
  & .flx-row {
    &:first-child {
      background-color: gray;
    }
    & div {
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      padding: 0.3rem 0.5rem;
      display: flex;
      align-items: center;
      height: $form-height;
    }
  }
  & b,
  p {
    margin: 0;
  }
  & div {
    font-size: 0.8rem;
  }
}
