/* 전체 적용할것 */
@import url('icons.css');
@import url('forms.css');
@import url('tools.css');

@import url('layout.css');
@import url('content.css');

/* 컬러 테마 */
@import url('theme/hh/hh.css');




/* Reset */
*{-webkit-text-size-adjust:none; box-sizing: border-box; font-family: 'Noto Sans';}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table,h1,h2,h3,h4,h5{
	font-family: 'Noto Sans';
	font-size:.8rem;
	letter-spacing: -0.2px;
	color:black;}
body{*word-break:break-word;-ms-word-break:break-word;overflow-y:scroll}
img,fieldset,iframe{border:0 none}
ul,ol,li{list-style:none; margin: 0; padding: 0;}
input,select,button{vertical-align:middle}
input[type='radio'],input[type='checkbox']{margin-right:10px; border:none;}
img{vertical-align:middle}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{text-decoration:none !important; color:#4b4b4b}
a:hover{text-decoration:none !important}
button *{position:relative}
button img{left:-3px;*left:auto}
button, button:focus, button:active{
  border:none;
  outline:none}
/* input, input:focus, input:active {
    border:none;
    outline:none} */
blockquote:before, blockquote:after,
q:before, q:after{content: ''; content: none;}
table{border-collapse: collapse; border-spacing: 0;}

.blind{display: inline-block; text-align: left; text-indent: -99999999px; font-size: 0;}



/* font */
@font-face{
	font-family:'Noto Sans KR';
	font-style: normal; font-weight: 900;
	src:url(../font/NotoSansKR-Black.otf);
	src:url(../font/NotoSansKR-Black.otf?#iefix) format(‘embedded-opentype’)
}
@font-face{
	font-family:'Noto Sans KR';
	font-style: normal; font-weight: 700;
	src:url(../font/NotoSansKR-Bold.otf);
	src:url(../font/NotoSansKR-Bold.otf?#iefix) format(‘embedded-opentype’)
}
@font-face{
	font-family:'Noto Sans KR';
	font-style: normal; font-weight: 500;
	src:url(../font/NotoSansKR-Medium.otf);
	src:url(../font/NotoSansKR-Medium.otf?#iefix) format(‘embedded-opentype’)
}
@font-face{ 
	font-family:'Noto Sans KR';
	font-style: normal; font-weight: 400;
	src:url(../font/NotoSansKR-Regular.otf);
	src:url(../font/NotoSansKR-Regular.otf?#iefix) format(‘embedded-opentype’)
}
@font-face{
	font-family:'Noto Sans KR';
	font-style: normal; font-weight: 300;
	src:url(../font/NotoSansKR-Light.otf);
	src:url(../font/NotoSansKR-Light.otf?#iefix) format(‘embedded-opentype’)
}
@font-face{
	font-family:'Noto Sans KR';
	font-style: normal; font-weight: 100;
	src:url(../font/NotoSansKR-Thin.otf);
	src:url(../font/NotoSansKR-Thin.otf?#iefix) format(‘embedded-opentype’)
}

