////////////////////////////////////////
//아이콘 세팅

@mixin icons {
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
}
span[class*="icon-"] {
  @include icons();
}

$icon: 20px; //실제작업 사이즈는 40px인데 왜 절반으로 해야하는지는 연구 필요
$icon-gap: 10px;

$p1: calc((#{$icon} * -0) - (#{$icon-gap} * 0));
$p2: calc((#{$icon} * -1) - (#{$icon-gap} * 1));
$p3: calc((#{$icon} * -2) - (#{$icon-gap} * 2));
$p4: calc((#{$icon} * -3) - (#{$icon-gap} * 3));
$p5: calc((#{$icon} * -4) - (#{$icon-gap} * 4));
$p6: calc((#{$icon} * -5) - (#{$icon-gap} * 5));
$p7: calc((#{$icon} * -6) - (#{$icon-gap} * 6));
$p8: calc((#{$icon} * -7) - (#{$icon-gap} * 7));
$p9: calc((#{$icon} * -8) - (#{$icon-gap} * 8));
$p10: calc((#{$icon} * -9) - (#{$icon-gap} * 9));

@mixin bgp($x, $y) {
  background-position: $x $y;
}

////////////////////////////////////////
@mixin icon-hh {
  @include icons();
  background-size: calc((#{$icon} * 1) + (#{$icon-gap} * 0)); //가로 1줄
  background-image: url("../images/hh_icon.svg");
}

@mixin icon-hh-menu {
  @include icons();
  background-size: calc((#{$icon} * 1) + (#{$icon-gap} * 0)); //가로 1줄
  background-image: url("../images/menu.svg");
}

////////////////////////////////////////
//미니 아이콘
.icon-hh-backup {
  @include bgp($p1, $p1);
  @include icon-hh();
}
.icon-hh-setting {
  @include bgp($p1, $p2);
  @include icon-hh();
}
.icon-hh-tree {
  @include bgp($p1, $p3);
  @include icon-hh();
}
.icon-hh-note {
  @include bgp($p1, $p4);
  @include icon-hh();
}
.icon-hh-delete {
  @include bgp($p1, $p5);
  @include icon-hh();
}
.icon-hh-select {
  @include bgp($p1, $p6);
  @include icon-hh();
}
.icon-hh-draw {
  @include bgp($p1, $p7);
  @include icon-hh();
}
.icon-hh-info {
  @include bgp($p1, $p8);
  @include icon-hh();
}
.icon-hh-anpr {
  @include bgp($p1, $p9);
  @include icon-hh();
}
.icon-hh-sdcard {
  @include bgp($p1, $p10);
  @include icon-hh();
}

////////////////////////////////////////
//메인 메뉴 아이콘
.icon-hh-menu-1 {
  @include bgp($p1, $p1);
  @include icon-hh-menu();
}
.icon-hh-menu-2 {
  @include bgp($p1, $p2);
  @include icon-hh-menu();
}
.icon-hh-menu-3 {
  @include bgp($p1, $p3);
  @include icon-hh-menu();
}
.icon-hh-menu-4 {
  @include bgp($p1, $p4);
  @include icon-hh-menu();
}
.icon-hh-menu-5 {
  @include bgp($p1, $p5);
  @include icon-hh-menu();
}
.icon-hh-menu-6 {
  @include bgp($p1, $p6);
  @include icon-hh-menu();
}
.icon-hh-menu-7 {
  @include bgp($p1, $p7);
  @include icon-hh-menu();
}
