span[class*="icon-"] {
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
}

.icon-hh-backup {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -0) - (10px * 0));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/hh_icon.svg");
}

.icon-hh-setting {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -1) - (10px * 1));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/hh_icon.svg");
}

.icon-hh-tree {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -2) - (10px * 2));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/hh_icon.svg");
}

.icon-hh-note {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -3) - (10px * 3));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/hh_icon.svg");
}

.icon-hh-delete {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -4) - (10px * 4));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/hh_icon.svg");
}

.icon-hh-select {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -5) - (10px * 5));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/hh_icon.svg");
}

.icon-hh-draw {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -6) - (10px * 6));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/hh_icon.svg");
}

.icon-hh-info {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -7) - (10px * 7));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/hh_icon.svg");
}

.icon-hh-anpr {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -8) - (10px * 8));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/hh_icon.svg");
}

.icon-hh-sdcard {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -9) - (10px * 9));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/hh_icon.svg");
}

.icon-hh-menu-1 {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -0) - (10px * 0));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/menu.svg");
}

.icon-hh-menu-2 {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -1) - (10px * 1));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/menu.svg");
}

.icon-hh-menu-3 {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -2) - (10px * 2));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/menu.svg");
}

.icon-hh-menu-4 {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -3) - (10px * 3));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/menu.svg");
}

.icon-hh-menu-5 {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -4) - (10px * 4));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/menu.svg");
}

.icon-hh-menu-6 {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -5) - (10px * 5));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/menu.svg");
}

.icon-hh-menu-7 {
  background-position: calc((20px * -0) - (10px * 0)) calc((20px * -6) - (10px * 6));
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-size: calc((20px * 1) + (10px * 0));
  background-image: url("../images/menu.svg");
}
