//css link
@import "_font";
@import "_variables";

//////////////////////////////////////////////////////
//컬러들
.color-brand {
  color: $default-brand;
}
.color-secondary {
  color: $default-secondary;
}
.color-success {
  color: $default-success;
}
.color-info {
  color: $default-info;
}
.color-warning {
  color: $default-warning;
}
.color-danger {
  color: $default-danger;
}
.color-lightgray {
  color: $gray-300;
}
.color-gray {
  color: $gray-500;
}
.color-darkgray {
  color: $gray-800;
}
.color-white {
  color: white;
}
.color-black {
  color: black;
}

.bg-brand {
  background-color: $default-brand;
  &.bg-light {
    background-color: $default-brand-l;
  }
}
.bg-secondary {
  background-color: $default-secondary;
  &.bg-light {
    background-color: $default-secondary-l;
  }
}
.bg-success {
  background-color: $default-success;
  &.bg-light {
    background-color: $default-success-l;
  }
}
.bg-info {
  background-color: $default-info;
  &.bg-light {
    background-color: $default-info-l;
  }
}
.bg-warning {
  background-color: $default-warning;
  &.bg-light {
    background-color: $default-warning-l;
  }
}
.bg-danger {
  background-color: $default-danger;
  &.bg-light {
    background-color: $default-danger-l;
  }
}
.bg-gray {
  background-color: $gray-500;
  &.bg-light {
    background-color: $gray-400;
  }
}
.bg-lightgray {
  background-color: $gray-300;
  &.bg-light {
    background-color: $gray-200;
  }
}
.bg-darkgray {
  background-color: $gray-800;
  &.bg-light {
    background-color: $gray-700;
  }
}
.bg-g-1 {
  background-color: $hh-gray-l-01;
}
.bg-g-2 {
  background-color: $hh-gray-l-02;
}
.bg-g-3 {
  background-color: $hh-gray-l-03;
}
.bg-g-4 {
  background-color: $hh-gray-l-04;
}
.bg-g-5 {
  background-color: $hh-gray-l-05;
}
.bg-g-6 {
  background-color: $hh-gray-l-06;
}
.bg-g-7 {
  background-color: $hh-gray-l-07;
}
.bg-g-8 {
  background-color: $hh-gray-m-01;
}
.bg-g-9 {
  background-color: $hh-gray-m-02;
}
.bg-g-10 {
  background-color: $hh-gray-m-03;
}
.bg-g-11 {
  background-color: $hh-gray-d-01;
}
.bg-g-12 {
  background-color: $hh-gray-d-02;
}
.bg-g-13 {
  background-color: $hh-gray-d-03;
}

// text

.small-txt {
  margin: 0;
  font-size: 12px;
  color: $hh-gray-d-02;
}
.info-txt {
  margin: 0;
  font-size: 12px;
  color: $hh-gray-m-03;
}
.bold-txt {
  font-size: 14px;
  font-weight: 600;
  color: $hh-gray-d-03;
}