.closed-sidebar .app-sidebar .vertical-nav-menu .metismenu-container .metismenu-container.visible > .metismenu-item > div {
  border-bottom: none;
}

.metismenu.vertical-nav-menu > .metismenu-container > .metismenu-item > .metismenu-link > span {
  font-weight: bold;
}

.metismenu.vertical-nav-menu > .metismenu-container > .metismenu-item > .metismenu-link * > span {
  font-weight: 400;
}

.vertical-nav-menu .metismenu-container .metismenu-container.visible > .metismenu-item > .metismenu-link.active,
.vertical-nav-menu .metismenu-container .metismenu-container.visible > .metismenu-item > div > .metismenu-link.active {
  color: var(--font-black);
  background: var(--blur-blue);
}

.vertical-nav-menu .metismenu-container .metismenu-link:hover {
  color: var(--font-black) !important;
  background: var(--blur-blue);
}

.vertical-nav-menu .metismenu-container .metismenu-container.visible:before {
  background: var(--blur-blue);
}

.vertical-nav-menu
.metismenu-container
.metismenu-container.visible
> .metismenu-item
.metismenu-link.last-custom-dashboard-link,
.vertical-nav-menu .metismenu-container .metismenu-container.visible > .metismenu-item > div .metismenu-link {
  height: 2.3em;
  line-height: 2.3em;
  color: #6c757d;
  margin: 0 0 3px;
}

.vertical-nav-menu
.metismenu-container
.metismenu-container
.metismenu-item
.metismenu-link.last-custom-dashboard-link {
  height: 0;
  overflow: hidden;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--org);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--org);
}

.menu-title {
  font-weight: bold;
  color: #9c9ca3;
}

.sub-menu-title {
  font-weight: bold;
  color: #22388a;
  margin-left: 0.3rem;
}

.app-main .pnt-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app-main .pnt-sidebar .pnt-sidebar-bottom {
  padding: 1rem 1.5rem 1.5rem;
}

.app-main .pnt-sidebar .pnt-sidebar-bottom .menu-border-box {
  border-top: 1px solid var(--font-black);
}

.app-main .pnt-sidebar .app-sidebar__inner {
  max-height: calc(100vh - 145px);
}

.closed-sidebar .app-main .pnt-sidebar .metismenu-container .menu-border-box {
  border: none;
}

.closed-sidebar .app-main .app-sidebar.pnt-sidebar:hover .scrollbar-container .metismenu-container.visible .menu-border-box {
  border-bottom: 1px solid var(--blue);
}

.closed-sidebar .app-main .app-sidebar.pnt-sidebar:hover .pnt-sidebar-bottom .menu-border-box {
  border-top: 1px solid var(--font-black);
}

.closed-sidebar:not(.sidebar-mobile-open) .app-sidebar:hover .scrollbar-container {
  height: calc(100% - 140px);
}
