.metismenu-icon {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  width: 20px !important;
  height: 20px !important;
}

.nav-child-active .metismenu-icon {
  font-weight: bolder;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.nav-child-active > .metismenu-link span {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
