//////////////////////////////
//※ 해당 파일은 html 용으로 만들었습니다.
//   React 템플릿을 사용할경우, merge 하지 마세요.

//////////////////////////////
/* Css link*/
@import 'font';
@import 'tools';
//////////////////////////////

.modal-test-class{
    & .modal{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
        & .pnt-modal{
            & .modal-content{
                & .modal-header{
                    border-bottom: 1px solid $form-border-color;
                    & .modal-title{
                        @include h5-n();
                        opacity: .9;
                    }
                }
                & .modal-body{
                    @include p3-l();
                }
                & .modal-footer{
                    border-top: 1px solid  $form-border-color;
                    & .btn-cancel{
                        @include p4-n();
                        background-color: transparent;
                        margin: 0 1rem;
                        border-bottom: 1px solid transparent;
                        &:hover{
                            border-bottom: 1px solid $default-secondary;
                        }
                    }
                }
            }
        }
    }
    & .fade{transition: opacity .15s linear;}
    & .show{display: block;}
}



//팝업 - 오른쪽 슬라이드
.pnt-popup__slide{
    //display: none;
    z-index: -2;
    background-color: rgba(0,0,0,0);
    transition: all .5s;
    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    & .side-popup{
        background-color: white;
        height: 100%;
        width: 20rem;
        float: right;
        transform: translateX(100%);
        transition: all .5s;
    }

    &.active{
        //display: block;
        z-index: 99;
        background-color: rgba(0,0,0,0.4);
        transition: all .5s;
        & .side-popup{
            transform: translateX(0);
            transition: all .5s;
        }
    }
}

//팝업 - 중앙 모달
.pnt-popup__center{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    & .center__inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        min-width: 500px;
        @media (max-width: $breakpoint-mobile) {
            min-width: calc(100% - 2rem);
        }

        & .card{
            margin: 0;
            & .card-header{
                padding: .5rem 1rem;
                @media (max-width: $breakpoint-mobile) {
                    flex-direction: row;
                    justify-content: space-between;
                    & .card-header__function{
                        width: auto;
                    }
                }
            }
            & .card-body{
                overflow: visible;
                min-height: 6rem;
                @include p3-n();
            }
        }
    }
    &.active{
        display: block;
    }
}