@charset "UTF-8";
/* Css link*/
/* Css link*/
/* 1. 기본 컬러 세팅 - form, layout, commons에 사용 */
/* 2. 값 세팅 - form, layout, commons, content에 사용  */
/* 3. 자주 쓰는 문법  */
.color-brand {
  color: #FF7800;
}

.color-secondary {
  color: #3E66FB;
}

.color-success {
  color: #3ac062;
}

.color-info {
  color: #3bc1ff;
}

.color-warning {
  color: #FFC107;
}

.color-danger {
  color: #ff3333;
}

.color-lightgray {
  color: #DCD9E1;
}

.color-gray {
  color: #A8A7AC;
}

.color-darkgray {
  color: #434245;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.bg-brand {
  background-color: #FF7800;
}

.bg-brand.bg-light {
  background-color: #ffe4cc;
}

.bg-secondary {
  background-color: #3E66FB;
}

.bg-secondary.bg-light {
  background-color: #d8e0fe;
}

.bg-success {
  background-color: #3ac062;
}

.bg-success.bg-light {
  background-color: #d8f2e0;
}

.bg-info {
  background-color: #3bc1ff;
}

.bg-info.bg-light {
  background-color: #d8f3ff;
}

.bg-warning {
  background-color: #FFC107;
}

.bg-warning.bg-light {
  background-color: #fff3cd;
}

.bg-danger {
  background-color: #ff3333;
}

.bg-danger.bg-light {
  background-color: #ffd6d6;
}

.bg-gray {
  background-color: #A8A7AC;
}

.bg-gray.bg-light {
  background-color: #CAC8CF;
}

.bg-lightgray {
  background-color: #DCD9E1;
}

.bg-lightgray.bg-light {
  background-color: #ECEAF2;
}

.bg-darkgray {
  background-color: #434245;
}

.bg-darkgray.bg-light {
  background-color: #656467;
}

/* 3. 자주 쓰는 문법  */
.ws-none {
  white-space: nowrap;
}

.scale-1 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.scale-2 {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.scale-3 {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.scale-4 {
  -webkit-transform: scale(3);
          transform: scale(3);
}

.scale-5 {
  -webkit-transform: scale(5);
          transform: scale(5);
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.flx-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flx-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flx-full > * {
  width: 100%;
}

.flx-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flx-row.gap-0 {
  gap: 0;
}

.flx-row.gap-1 {
  gap: .5rem;
}

.flx-row.gap-2 {
  gap: 1rem;
}

.flx-row.gap-3 {
  gap: 2rem;
}

.flx-row.row-top {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.flx-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: .5rem;
}

.flx-col.gap-0 {
  gap: 0;
}

.flx-col.gap-1 {
  gap: .5rem;
}

.flx-col.gap-2 {
  gap: 1rem;
}

.flx-col.gap-3 {
  gap: 2rem;
}

.flx-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flx-sb.flx-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flx-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-right {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.flx-left {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.flx-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.flx-bottom {
  -ms-flex-line-pack: end !important;
      align-content: flex-end !important;
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.flx-top {
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  width: 100% !important;
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-50 {
  height: 50% !important;
}

.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-80 {
  height: 80% !important;
}

.h-90 {
  height: 90% !important;
}

.h-100 {
  height: 100% !important;
}

.h-100-m {
  height: calc(100% - 1rem);
}

.br-0 {
  border-radius: 0px;
}

.br-1 {
  border-radius: .5rem;
}

.br-2 {
  border-radius: 1rem;
}

.br-3 {
  border-radius: 2rem;
}

.br-4 {
  border-radius: 3rem;
}

.br-5 {
  border-radius: 100rem;
}

.min-w-none {
  min-width: unset !important;
}

.max-w-none {
  max-width: unset !important;
}

.min-h-none {
  min-height: unset !important;
}

.max-h-none {
  max-height: unset !important;
}

.show__under-mobile {
  display: none !important;
}

@media (max-width: 570px) {
  .show__under-mobile {
    display: block !important;
  }
}

.show__under-tablet {
  display: none !important;
}

@media (max-width: 758px) {
  .show__under-tablet {
    display: block !important;
  }
}

.show__under-desktop {
  display: none !important;
}

@media (max-width: 1200px) {
  .show__under-desktop {
    display: block !important;
  }
}

.show__only-labtop {
  display: none !important;
}

@media (min-width: 1024px) and (max-width: 1700px) {
  .show__only-labtop {
    display: block !important;
  }
}

.show__over-mobile {
  display: block !important;
}

@media (max-width: 570px) {
  .show__over-mobile {
    display: none !important;
  }
}

.mini-box {
  border-radius: 5px;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  padding: 1rem;
  background-color: white;
}

.shadow-none {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.shadow-big {
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03) !important;
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.03), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.03), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.05), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.03) !important;
}

.shadow-small {
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18) !important;
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18) !important;
}

#root .app-container.app-theme-pnt-plant {
  color: white;
}

#root .app-container.app-theme-pnt-plant input, #root .app-container.app-theme-pnt-plant textarea, #root .app-container.app-theme-pnt-plant select, #root .app-container.app-theme-pnt-plant table, #root .app-container.app-theme-pnt-plant h1, #root .app-container.app-theme-pnt-plant h2, #root .app-container.app-theme-pnt-plant h3, #root .app-container.app-theme-pnt-plant h4, #root .app-container.app-theme-pnt-plant h5, #root .app-container.app-theme-pnt-plant p, #root .app-container.app-theme-pnt-plant span, #root .app-container.app-theme-pnt-plant div {
  color: white;
}

#root .app-container.app-theme-pnt-plant .app-header__logo {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .app-header__logo .header__pane .hamburger-inner, #root .app-container.app-theme-pnt-plant .app-header__logo .header__pane .hamburger-inner::before, #root .app-container.app-theme-pnt-plant .app-header__logo .header__pane .hamburger-inner::after {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#root .app-container.app-theme-pnt-plant .app-header__logo button {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#root .app-container.app-theme-pnt-plant .app-header__content {
  background: #344545;
}

#root .app-container.app-theme-pnt-plant .app-header__content .app-header-left {
  background-color: #FFE066;
  padding: .5rem 1rem;
  border-radius: 100rem;
}

#root .app-container.app-theme-pnt-plant .app-header__content .app-header-left .menu-main {
  color: black;
}

#root .app-container.app-theme-pnt-plant .app-header__content .app-header-left .icon-next {
  -webkit-filter: invert(0.5) saturate(0);
          filter: invert(0.5) saturate(0);
}

#root .app-container.app-theme-pnt-plant .app-header__content .app-header-left .menu-sub {
  color: rgba(0, 0, 0, 0.45);
}

#root .app-container.app-theme-pnt-plant .app-sidebar {
  background: -webkit-gradient(linear, left top, left bottom, from(#161515), to(#2d2c30));
  background: linear-gradient(180deg, #161515, #2d2c30);
}

#root .app-container.app-theme-pnt-plant .app-sidebar.nav-box__img-bg::before {
  background: transparent;
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item:first-child .visible > .metismenu-item:nth-last-of-type(2) div {
  border-bottom: 1px solid #FFCE0B;
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item .metismenu-icon {
  -webkit-filter: invert(49%) sepia(82%) saturate(2656%) hue-rotate(1deg) brightness(105%) contrast(103%);
          filter: invert(49%) sepia(82%) saturate(2656%) hue-rotate(1deg) brightness(105%) contrast(103%);
  top: 67%;
  left: 13px;
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item .metismenu-state-icon {
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-link span, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item .last-custom-dashboard-link span {
  color: white;
  -webkit-filter: none;
          filter: none;
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-link button, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item .last-custom-dashboard-link button {
  border-color: #ff961d !important;
  color: #ff961d;
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-link button:hover, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item .last-custom-dashboard-link button:hover {
  opacity: .7;
  background-color: transparent;
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-link:hover, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item .last-custom-dashboard-link:hover {
  background: #FFCE0B;
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container::before {
  background-color: #FFCE0B;
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li a > span {
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li svg > path {
  color: #ff961d;
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li.on, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li:hover, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li > a.active, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li > a:hover, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container .last-custom-dashboard-link:hover, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container .last-custom-dashboard-link.active {
  background-color: #FFCE0B;
  border-radius: 0.25rem;
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li.on a, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li:hover a, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li > a.active a, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container li > a:hover a, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container .last-custom-dashboard-link:hover a, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu-container .metismenu-item > .metismenu-container .last-custom-dashboard-link.active a {
  color: white;
}

#root .app-container.app-theme-pnt-plant .app-sidebar {
  background: -webkit-gradient(linear, left top, left bottom, from(#161515), to(#2d2c30));
  background: linear-gradient(180deg, #161515, #2d2c30);
}

#root .app-container.app-theme-pnt-plant .app-sidebar.nav-box__img-bg::before {
  background: transparent;
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu .metismenu-link div {
  -webkit-filter: invert(49%) sepia(82%) saturate(2656%) hue-rotate(1deg) brightness(105%) contrast(103%);
          filter: invert(49%) sepia(82%) saturate(2656%) hue-rotate(1deg) brightness(105%) contrast(103%);
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu .metismenu-link .main__txt {
  color: white;
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu .metismenu-link span {
  -webkit-filter: opacity(1) invert(1);
          filter: opacity(1) invert(1);
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu .metismenu-container::before {
  background-color: #FFCE0B;
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu .metismenu-container .metismenu-item a {
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu .metismenu-container .metismenu-item.on, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu .metismenu-container .metismenu-item:hover {
  background-color: #FFCE0B;
}

#root .app-container.app-theme-pnt-plant .app-sidebar .metismenu .metismenu-container .metismenu-item.on a, #root .app-container.app-theme-pnt-plant .app-sidebar .metismenu .metismenu-container .metismenu-item:hover a {
  color: white;
}

#root .app-container.app-theme-pnt-plant .app-main__inner {
  background: -webkit-gradient(linear, left top, left bottom, from(#56635A), to(#56635A));
  background: linear-gradient(#56635A, #56635A);
}

#root .app-container.app-theme-pnt-plant .app-page-title {
  background: #66756b;
}

#root .app-container.app-theme-pnt-plant .app-footer {
  background-color: #424242;
  color: rgba(255, 255, 255, 0.45);
}

#root .app-container.app-theme-pnt-plant .card {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .card .card-header {
  background-color: #344545;
  border-bottom: 1px solid #656467;
}

#root .app-container.app-theme-pnt-plant .card .card-tab {
  background-color: #19262b;
}

#root .app-container.app-theme-pnt-plant .card .card-tab li {
  background-color: #243031;
}

#root .app-container.app-theme-pnt-plant .card .card-tab li a {
  color: rgba(255, 255, 255, 0.35);
}

#root .app-container.app-theme-pnt-plant .card .card-tab li.on {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .card .card-tab li.on a {
  color: white;
}

#root .app-container.app-theme-pnt-plant .card .card-header__tab li a {
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .card .card-header__tab li a::after {
  background-color: #e0d9ff;
}

#root .app-container.app-theme-pnt-plant .card .card-header__tab li.on a {
  color: #e0d9ff;
}

#root .app-container.app-theme-pnt-plant .card .card-button {
  border-top: 1px solid #656467;
  background-color: #2f3e3e;
}

#root .app-container.app-theme-pnt-plant .pnt-modal .modal-header {
  background-color: #344545;
  border-bottom: 1px solid #656467 !important;
}

#root .app-container.app-theme-pnt-plant .pnt-modal .modal-body {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .pnt-modal .modal-footer {
  background-color: #2f3e3e;
  border-top: 1px solid #656467 !important;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .form-control:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 1px white;
          box-shadow: 0 0 0 1px white;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker__input-container input {
  background-color: #344545;
  border: 1px solid #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .input-group-text {
  background-color: #5D6A6A;
  border: 1px solid #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker {
  border-radius: 0;
  border: 1px solid #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker *::-webkit-scrollbar-track {
  background-color: #5D6A6A;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker *::-webkit-scrollbar-thumb {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__triangle {
  border-bottom-color: #344545;
  border-top-color: #344545;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__triangle::before {
  border-bottom-color: #656467;
  border-top-color: #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__month-container {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__header {
  background-color: #5D6A6A;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 1px solid #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__header .react-datepicker__day-names {
  background-color: #344545;
  border-top: 1px solid #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__day:hover, #root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__day:focus, #root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__month-container .react-datepicker__day:active {
  background-color: #424242;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__time-container {
  border-left: 1px solid #656467;
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__header {
  background-color: #5D6A6A;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 1px solid #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__time {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-list-item:hover, #root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-list-item:focus, #root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-list-item:active {
  background-color: #424242;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input {
  border-left: 1px solid #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input .react-datepicker__header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #5D6A6A;
  border-bottom: 1px solid #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input .time-label-box {
  border-bottom: 1px solid #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input .time-label-box div:last-child {
  border-left: 1px solid #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .react-datepicker-time__input .list-wrap button {
  color: white;
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .pnt-datepicker-container .react-datepicker .react-datepicker__input-time-container .time-label-box {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .react-select:hover {
  -webkit-filter: brightness(0.98);
  filter: brightness(0.98);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#root .app-container.app-theme-pnt-plant .react-select .react-select__control {
  cursor: pointer;
  background-color: #344545;
  border: 1px solid #656467;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#root .app-container.app-theme-pnt-plant .react-select .react-select__control--menu-is-open {
  -webkit-box-shadow: 0 0 0 1px white;
          box-shadow: 0 0 0 1px white;
}

#root .app-container.app-theme-pnt-plant .react-select .react-select__multi-value {
  background-color: #5D6A6A;
}

#root .app-container.app-theme-pnt-plant .react-select .react-select__multi-value .react-select__multi-value__remove:hover, #root .app-container.app-theme-pnt-plant .react-select .react-select__multi-value .react-select__multi-value__remove:focus, #root .app-container.app-theme-pnt-plant .react-select .react-select__multi-value .react-select__multi-value__remove:active {
  background-color: #424242;
}

#root .app-container.app-theme-pnt-plant .react-select .react-select__indicator-separator {
  display: none;
}

#root .app-container.app-theme-pnt-plant .react-select .select-dropdown-svg {
  color: #344545;
}

#root .app-container.app-theme-pnt-plant .react-select .react-select__indicator {
  opacity: .5;
}

#root .app-container.app-theme-pnt-plant .react-select .react-select__indicator svg {
  height: 16px;
  width: 18px;
}

#root .app-container.app-theme-pnt-plant .react-select .react-select__placeholder {
  font-size: 0.8rem;
}

#root .app-container.app-theme-pnt-plant .react-select__menu {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .react-select__menu .react-select__menu-list {
  padding: 0;
  border-radius: 5px;
}

#root .app-container.app-theme-pnt-plant .react-select__menu .react-select__menu-list .react-select__option {
  cursor: pointer;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #5D6A6A;
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .react-select__menu .react-select__menu-list .react-select__option:hover, #root .app-container.app-theme-pnt-plant .react-select__menu .react-select__menu-list .react-select__option:focus, #root .app-container.app-theme-pnt-plant .react-select__menu .react-select__menu-list .react-select__option:active {
  background-color: #424242;
}

#root .app-container.app-theme-pnt-plant .react-select__menu .react-select__menu-list .react-select__option:last-child {
  border-bottom: none;
}

#root .app-container.app-theme-pnt-plant .select-dropdown .styled-option:hover, #root .app-container.app-theme-pnt-plant .select-dropdown .styled-option:focus, #root .app-container.app-theme-pnt-plant .select-dropdown .styled-option:active {
  background-color: #424242;
}

#root .app-container.app-theme-pnt-plant .select-dropdown .select-control {
  background-color: #344545;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#root .app-container.app-theme-pnt-plant .select-dropdown .select-control:hover, #root .app-container.app-theme-pnt-plant .select-dropdown .select-control:focus, #root .app-container.app-theme-pnt-plant .select-dropdown .select-control:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid white;
}

#root .app-container.app-theme-pnt-plant .select-dropdown .select-container {
  background-color: #344545;
  border: 1px solid #656467;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#root .app-container.app-theme-pnt-plant .select-dropdown .select-container.container-open {
  -webkit-box-shadow: 0 0 0 1px white;
          box-shadow: 0 0 0 1px white;
}

#root .app-container.app-theme-pnt-plant .select-dropdown .select-container:hover {
  -webkit-filter: brightness(0.98);
  filter: brightness(0.98);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#root .app-container.app-theme-pnt-plant .select-dropdown .select-menu {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .select-dropdown .select-option > div {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .select-dropdown .select-option > div:hover, #root .app-container.app-theme-pnt-plant .select-dropdown .select-option > div:focus, #root .app-container.app-theme-pnt-plant .select-dropdown .select-option > div:active {
  background-color: #424242;
}

#root .app-container.app-theme-pnt-plant .select-dropdown .select-option > div .select-label {
  color: white;
}

#root .app-container.app-theme-pnt-plant .select-dropdown .select-group-title {
  border-bottom: 1px solid white;
  padding: 4px 8px;
  font-weight: bold;
}

#root .app-container.app-theme-pnt-plant .select-dropdown .rct-icon {
  color: white;
}

#root .app-container.app-theme-pnt-plant .select-dropdown .tree-wrapper {
  border: 1px solid white;
  padding: 5px;
}

#root .app-container.app-theme-pnt-plant .select-dropdown .select-dropdown-svg {
  opacity: .5;
}

#root .app-container.app-theme-pnt-plant .pnt-btn.btn-brand {
  background-color: #ff961d;
}

#root .app-container.app-theme-pnt-plant .pnt-btn.btn-secondary {
  background-color: #a591ff;
}

#root .app-container.app-theme-pnt-plant .pnt-btn.btn-success {
  background-color: #76db8f;
}

#root .app-container.app-theme-pnt-plant .pnt-btn.btn-warning {
  background-color: #fff27c;
}

#root .app-container.app-theme-pnt-plant .pnt-btn.btn-danger {
  background-color: #d35e5e;
}

#root .app-container.app-theme-pnt-plant .pnt-btn.btn-info {
  background-color: #77c5e4;
}

#root .app-container.app-theme-pnt-plant .pnt-btn.btn-lightgray {
  background-color: rgba(255, 255, 255, 0.2);
}

#root .app-container.app-theme-pnt-plant .pnt-btn.btn-gray {
  background-color: rgba(255, 255, 255, 0.4);
}

#root .app-container.app-theme-pnt-plant .pnt-btn.btn-darkgray {
  background-color: #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-btn.btn-disable {
  background-color: rgba(255, 255, 255, 0.76);
}

#root .app-container.app-theme-pnt-plant .pnt-input--group input {
  background-color: #344545;
  border: 1px solid #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-input--group input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.45);
}

#root .app-container.app-theme-pnt-plant .pnt-input--group input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.45);
}

#root .app-container.app-theme-pnt-plant .pnt-input--group input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.45);
}

#root .app-container.app-theme-pnt-plant .pnt-input--group input::placeholder {
  color: rgba(255, 255, 255, 0.45);
}

#root .app-container.app-theme-pnt-plant .pnt-input--group input:focus, #root .app-container.app-theme-pnt-plant .pnt-input--group input:active, #root .app-container.app-theme-pnt-plant .pnt-input--group input:focus-visible {
  border: 1px solid white;
}

#root .app-container.app-theme-pnt-plant .pnt-input--group.input-error p, #root .app-container.app-theme-pnt-plant .pnt-input--group.input-error b, #root .app-container.app-theme-pnt-plant .pnt-input--group.input-error span, #root .app-container.app-theme-pnt-plant .pnt-input--group.input-error div {
  color: #d35e5e;
}

#root .app-container.app-theme-pnt-plant .pnt-input--group.input-error .pnt-input {
  border: 1px solid #ff3333;
}

#root .app-container.app-theme-pnt-plant .pnt-input--group.form-must p, #root .app-container.app-theme-pnt-plant .pnt-input--group.form-must b, #root .app-container.app-theme-pnt-plant .pnt-input--group.form-must span, #root .app-container.app-theme-pnt-plant .pnt-input--group.form-must div {
  color: #d35e5e;
}

#root .app-container.app-theme-pnt-plant .pnt-input--group.form-must input {
  border: 1px solid #ff961d;
}

#root .app-container.app-theme-pnt-plant .pnt-input--group.input-disable .pnt-input {
  background-color: transparent;
}

#root .app-container.app-theme-pnt-plant .pnt-input--group.input-disable::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .pnt-input--group.input-disable:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .pnt-input--group.input-disable::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .pnt-input--group.input-disable::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .pnt-file--group input[type="file"]::before {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .pnt-file--group input[type="file"]::after {
  border: 1px solid #A8A7AC;
}

#root .app-container.app-theme-pnt-plant .pnt-select--group .select__btn {
  color: rgba(255, 255, 255, 0.6);
  background-color: #344545;
  border: 1px solid #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-select--group .select__options {
  background-color: #344545;
  border: 1px solid #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-select--group .select__options li a {
  border-top: 1px solid #656467;
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .pnt-select--group .select__options li:hover a {
  background-color: #424242;
}

#root .app-container.app-theme-pnt-plant .pnt-select--group .select__options li.on a {
  background-color: #a591ff;
  color: white;
}

#root .app-container.app-theme-pnt-plant .pnt-select--group.on .select__btn {
  border: 1px solid white;
}

#root .app-container.app-theme-pnt-plant .pnt-select--group.on .select__options li.on {
  background-color: #a591ff;
}

#root .app-container.app-theme-pnt-plant .pnt-select--group.on .select__options li.on a {
  color: white;
}

#root .app-container.app-theme-pnt-plant .pnt-select--group.form-must span {
  color: #d35e5e;
}

#root .app-container.app-theme-pnt-plant .pnt-select--group.form-must .select__btn {
  border: 1px solid #ff961d;
}

#root .app-container.app-theme-pnt-plant .pnt-checkbox p {
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .pnt-checkbox .checkbox-effect {
  border: 1px solid #656467;
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .pnt-checkbox .checkbox-effect::before, #root .app-container.app-theme-pnt-plant .pnt-checkbox .checkbox-effect::after {
  background: white;
}

#root .app-container.app-theme-pnt-plant .pnt-checkbox.check-checked .checkbox-effect {
  background-color: #a591ff;
}

#root .app-container.app-theme-pnt-plant .pnt-checkbox.check-checked p {
  color: white;
}

#root .app-container.app-theme-pnt-plant .pnt-toggle input:checked + .slider {
  background-color: #76db8f;
}

#root .app-container.app-theme-pnt-plant .pnt-toggle .slider {
  background-color: rgba(255, 255, 255, 0.3);
}

#root .app-container.app-theme-pnt-plant .pnt-toggle .slider::before {
  background-color: white;
}

#root .app-container.app-theme-pnt-plant .pnt-toggle.toggle-txt p:nth-of-type(1) {
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .pnt-toggle.toggle-txt p:nth-of-type(2) {
  color: white;
}

#root .app-container.app-theme-pnt-plant .pnt-toggle.toggle-icon div {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#root .app-container.app-theme-pnt-plant .pnt-radio li {
  border: 1px solid #656467;
  background-color: transparent;
}

#root .app-container.app-theme-pnt-plant .pnt-radio li label {
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .pnt-radio li.checked {
  background-color: #a591ff;
}

#root .app-container.app-theme-pnt-plant .pnt-radio li.checked label {
  color: white;
}

#root .app-container.app-theme-pnt-plant .pnt-nameplate {
  background-color: #656467;
  color: rgba(255, 255, 255, 0.85);
}

#root .app-container.app-theme-pnt-plant .pnt-nameplate::before {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .pnt-txt {
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .pnt-border {
  background-color: #656467;
}

#root .app-container.app-theme-pnt-plant .pnt-label--group .label-main.label-dot::before {
  background-color: #ff961d;
}

#root .app-container.app-theme-pnt-plant .pnt-label--group .label-main.label-must {
  color: #ff961d;
}

#root .app-container.app-theme-pnt-plant .pagination .now {
  color: #ff961d;
}

#root .app-container.app-theme-pnt-plant .pagination .whole {
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .pnt-table .border-box {
  border-top: 1.4px solid #6f6f81;
  border-bottom: 1.4px solid #6f6f81;
}

#root .app-container.app-theme-pnt-plant .pnt-table .border-box .th {
  background-color: #5D6A6A;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

#root .app-container.app-theme-pnt-plant .pnt-table .border-box .tbody {
  background-color: #344545;
}

#root .app-container.app-theme-pnt-plant .pnt-table .border-box .tbody .tr:nth-child(2n) {
  background-color: #2E3A3A;
}

#root .app-container.app-theme-pnt-plant .pnt-table .border-box .tbody .tr .td {
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

#root .app-container.app-theme-pnt-plant .pnt-table.table-clickable .border-box .tr:hover {
  background-color: #424242 !important;
}

#root .app-container.app-theme-pnt-plant .pnt-table.table-clickable .border-box .tr.active {
  background-color: #FFE066 !important;
}

#root .app-container.app-theme-pnt-plant .pnt-table.table-clickable .border-box .tr.active .td {
  color: black;
}

#root .app-container.app-theme-pnt-plant .form-disable.pnt-btn {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 1px #656467 inset;
          box-shadow: 0 0 0 1px #656467 inset;
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .form-disable.pnt-input--group .pnt-input {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .form-disable.pnt-select--group .select__btn {
  background-color: transparent;
}

#root .app-container.app-theme-pnt-plant .form-disable.pnt-select--group .select__btn .cont-wrap {
  color: rgba(255, 255, 255, 0.6);
}

#root .app-container.app-theme-pnt-plant .form-disable.pnt-checkbox .checkbox-effect {
  background-color: transparent;
}

#root .app-container.app-theme-pnt-plant *::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

#root .app-container.app-theme-pnt-plant *::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

#root .app-container.app-theme-pnt-plant .color-brand {
  color: #ff961d !important;
}

#root .app-container.app-theme-pnt-plant .color-secondary {
  color: #a591ff !important;
}

#root .app-container.app-theme-pnt-plant .color-success {
  color: #76db8f !important;
}

#root .app-container.app-theme-pnt-plant .color-info {
  color: #77c5e4 !important;
}

#root .app-container.app-theme-pnt-plant .color-warning {
  color: #fff27c !important;
}

#root .app-container.app-theme-pnt-plant .color-danger {
  color: #d35e5e !important;
}

#root .app-container.app-theme-pnt-plant .color-lightgray {
  color: rgba(255, 255, 255, 0.2) !important;
}

#root .app-container.app-theme-pnt-plant .color-gray {
  color: rgba(255, 255, 255, 0.4) !important;
}

#root .app-container.app-theme-pnt-plant .color-darkgray {
  color: #656467 !important;
}

#root .app-container.app-theme-pnt-plant .color-white {
  color: white !important;
}

#root .app-container.app-theme-pnt-plant .color-black {
  color: black !important;
}

#root .app-container.app-theme-pnt-plant .bg-brand {
  background-color: #ff961d !important;
}

#root .app-container.app-theme-pnt-plant .bg-brand.bg-light {
  background-color: #ffc583 !important;
}

#root .app-container.app-theme-pnt-plant .bg-brand.bg-dark {
  background-color: #8c5310 !important;
}

#root .app-container.app-theme-pnt-plant .bg-brand.bg-d-4 {
  background-color: #663c0c !important;
}

#root .app-container.app-theme-pnt-plant .bg-brand.bg-d-3 {
  background-color: #8c5310 !important;
}

#root .app-container.app-theme-pnt-plant .bg-brand.bg-d-2 {
  background-color: #b36914 !important;
}

#root .app-container.app-theme-pnt-plant .bg-brand.bg-d-1 {
  background-color: #d47d18 !important;
}

#root .app-container.app-theme-pnt-plant .bg-brand.bg-l-4 {
  background-color: #ffab4a !important;
}

#root .app-container.app-theme-pnt-plant .bg-brand.bg-l-3 {
  background-color: #ffc583 !important;
}

#root .app-container.app-theme-pnt-plant .bg-brand.bg-l-2 {
  background-color: #ffe0bb !important;
}

#root .app-container.app-theme-pnt-plant .bg-brand.bg-l-1 {
  background-color: #fff5e8 !important;
}

#root .app-container.app-theme-pnt-plant .bg-secondary {
  background-color: #a591ff !important;
}

#root .app-container.app-theme-pnt-plant .bg-secondary.bg-light {
  background-color: #c9bdff !important;
}

#root .app-container.app-theme-pnt-plant .bg-secondary.bg-dark {
  background-color: #5b508c !important;
}

#root .app-container.app-theme-pnt-plant .bg-secondary.bg-d-4 {
  background-color: #423a66 !important;
}

#root .app-container.app-theme-pnt-plant .bg-secondary.bg-d-3 {
  background-color: #5b508c !important;
}

#root .app-container.app-theme-pnt-plant .bg-secondary.bg-d-2 {
  background-color: #7466b3 !important;
}

#root .app-container.app-theme-pnt-plant .bg-secondary.bg-d-1 {
  background-color: #8978d4 !important;
}

#root .app-container.app-theme-pnt-plant .bg-secondary.bg-l-4 {
  background-color: #b5a5ff !important;
}

#root .app-container.app-theme-pnt-plant .bg-secondary.bg-l-3 {
  background-color: #c9bdff !important;
}

#root .app-container.app-theme-pnt-plant .bg-secondary.bg-l-2 {
  background-color: #e0d9ff !important;
}

#root .app-container.app-theme-pnt-plant .bg-secondary.bg-l-1 {
  background-color: #f2efff !important;
}

#root .app-container.app-theme-pnt-plant .bg-success {
  background-color: #76db8f !important;
}

#root .app-container.app-theme-pnt-plant .bg-success.bg-light {
  background-color: #ade9bc !important;
}

#root .app-container.app-theme-pnt-plant .bg-success.bg-dark {
  background-color: #41784f !important;
}

#root .app-container.app-theme-pnt-plant .bg-success.bg-d-4 {
  background-color: #2f5839 !important;
}

#root .app-container.app-theme-pnt-plant .bg-success.bg-d-3 {
  background-color: #41784f !important;
}

#root .app-container.app-theme-pnt-plant .bg-success.bg-d-2 {
  background-color: #539964 !important;
}

#root .app-container.app-theme-pnt-plant .bg-success.bg-d-1 {
  background-color: #62b677 !important;
}

#root .app-container.app-theme-pnt-plant .bg-success.bg-l-4 {
  background-color: #8fe1a3 !important;
}

#root .app-container.app-theme-pnt-plant .bg-success.bg-l-3 {
  background-color: #ade9bc !important;
}

#root .app-container.app-theme-pnt-plant .bg-success.bg-l-2 {
  background-color: #cff2d8 !important;
}

#root .app-container.app-theme-pnt-plant .bg-success.bg-l-1 {
  background-color: #e6f9eb !important;
}

#root .app-container.app-theme-pnt-plant .bg-info {
  background-color: #77c5e4 !important;
}

#root .app-container.app-theme-pnt-plant .bg-info.bg-light {
  background-color: #bbe2f2 !important;
}

#root .app-container.app-theme-pnt-plant .bg-info.bg-dark {
  background-color: #416c7d !important;
}

#root .app-container.app-theme-pnt-plant .bg-info.bg-d-4 {
  background-color: #304f5b !important;
}

#root .app-container.app-theme-pnt-plant .bg-info.bg-d-3 {
  background-color: #416c7d !important;
}

#root .app-container.app-theme-pnt-plant .bg-info.bg-d-2 {
  background-color: #538aa0 !important;
}

#root .app-container.app-theme-pnt-plant .bg-info.bg-d-1 {
  background-color: #63a4bd !important;
}

#root .app-container.app-theme-pnt-plant .bg-info.bg-l-4 {
  background-color: #99d4eb !important;
}

#root .app-container.app-theme-pnt-plant .bg-info.bg-l-3 {
  background-color: #bbe2f2 !important;
}

#root .app-container.app-theme-pnt-plant .bg-info.bg-l-2 {
  background-color: #d6eef7 !important;
}

#root .app-container.app-theme-pnt-plant .bg-info.bg-l-1 {
  background-color: #f1f9fc !important;
}

#root .app-container.app-theme-pnt-plant .bg-warning {
  background-color: #fff27c !important;
}

#root .app-container.app-theme-pnt-plant .bg-warning.bg-light {
  background-color: #fff8b7 !important;
}

#root .app-container.app-theme-pnt-plant .bg-warning.bg-dark {
  background-color: #948c48 !important;
}

#root .app-container.app-theme-pnt-plant .bg-warning.bg-d-4 {
  background-color: #666132 !important;
}

#root .app-container.app-theme-pnt-plant .bg-warning.bg-d-3 {
  background-color: #948c48 !important;
}

#root .app-container.app-theme-pnt-plant .bg-warning.bg-d-2 {
  background-color: #bfb65d !important;
}

#root .app-container.app-theme-pnt-plant .bg-warning.bg-d-1 {
  background-color: #e6da70 !important;
}

#root .app-container.app-theme-pnt-plant .bg-warning.bg-l-4 {
  background-color: #fff59d !important;
}

#root .app-container.app-theme-pnt-plant .bg-warning.bg-l-3 {
  background-color: #fff8b7 !important;
}

#root .app-container.app-theme-pnt-plant .bg-warning.bg-l-2 {
  background-color: #fffad1 !important;
}

#root .app-container.app-theme-pnt-plant .bg-warning.bg-l-1 {
  background-color: #fffce5 !important;
}

#root .app-container.app-theme-pnt-plant .bg-danger {
  background-color: #d35e5e !important;
}

#root .app-container.app-theme-pnt-plant .bg-danger.bg-light {
  background-color: #e9afaf !important;
}

#root .app-container.app-theme-pnt-plant .bg-danger.bg-dark {
  background-color: #743434 !important;
}

#root .app-container.app-theme-pnt-plant .bg-danger.bg-d-4 {
  background-color: #542626 !important;
}

#root .app-container.app-theme-pnt-plant .bg-danger.bg-d-3 {
  background-color: #743434 !important;
}

#root .app-container.app-theme-pnt-plant .bg-danger.bg-d-2 {
  background-color: #944242 !important;
}

#root .app-container.app-theme-pnt-plant .bg-danger.bg-d-1 {
  background-color: #af4e4e !important;
}

#root .app-container.app-theme-pnt-plant .bg-danger.bg-l-4 {
  background-color: #de8686 !important;
}

#root .app-container.app-theme-pnt-plant .bg-danger.bg-l-3 {
  background-color: #e9afaf !important;
}

#root .app-container.app-theme-pnt-plant .bg-danger.bg-l-2 {
  background-color: #f2cfcf !important;
}

#root .app-container.app-theme-pnt-plant .bg-danger.bg-l-1 {
  background-color: #fbefef !important;
}

#root .app-container.app-theme-pnt-plant .bg-gray {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

#root .app-container.app-theme-pnt-plant .bg-gray.bg-light {
  background-color: rgba(255, 255, 255, 0.82) !important;
}

#root .app-container.app-theme-pnt-plant .bg-gray.bg-dark {
  background-color: rgba(25, 25, 25, 0.82) !important;
}

#root .app-container.app-theme-pnt-plant .bg-gray.bg-d-4 {
  background-color: #434245 !important;
}

#root .app-container.app-theme-pnt-plant .bg-gray.bg-d-3 {
  background-color: #656467 !important;
}

#root .app-container.app-theme-pnt-plant .bg-gray.bg-d-2 {
  background-color: #86858A !important;
}

#root .app-container.app-theme-pnt-plant .bg-gray.bg-d-1 {
  background-color: #A8A7AC !important;
}

#root .app-container.app-theme-pnt-plant .bg-gray.bg-l-4 {
  background-color: #CAC8CF !important;
}

#root .app-container.app-theme-pnt-plant .bg-gray.bg-l-3 {
  background-color: #DCD9E1 !important;
}

#root .app-container.app-theme-pnt-plant .bg-gray.bg-l-2 {
  background-color: #ECEAF2 !important;
}

#root .app-container.app-theme-pnt-plant .bg-gray.bg-l-1 {
  background-color: #F6F6F9 !important;
}

#root .app-container.app-theme-pnt-plant .bg-lightgray {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

#root .app-container.app-theme-pnt-plant .bg-lightgray.bg-light {
  background-color: rgba(255, 255, 255, 0.76) !important;
}

#root .app-container.app-theme-pnt-plant .bg-lightgray.bg-dark {
  background-color: rgba(12, 12, 12, 0.76) !important;
}

#root .app-container.app-theme-pnt-plant .bg-darkgray {
  background-color: #656467 !important;
}

#root .app-container.app-theme-pnt-plant .bg-darkgray.bg-light {
  background-color: #d1d1d1 !important;
}

#root .app-container.app-theme-pnt-plant .bg-darkgray.bg-dark {
  background-color: #1e1e1f !important;
}
