//////////////////////////////
/* Css link*/
@import '../font';
@import '../tools';
//////////////////////////////


//////필터박스 - ver.3///////
.filter_ver3{
    position: relative;
    //모바일 - 필터 카드
    @media (max-width: $breakpoint-tablet){
        & .filter__now, .filter__this-page{
            padding: .3rem 1rem;
            display: flex;
            flex-direction: column !important;
            position: relative;
            @include p4-n();
  
            //옵션들
            & .filter-list{
                padding: .5rem 0;
                flex-grow: 1;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                gap: $form-gap;
    
                transition: all .5s;
                max-height: 20rem;
                opacity: 1;
  
                & > div{
                    width: 100%;
                    max-width: 100%;
                }
  
                //접혔을때
                &.folded{
                  transition: all .5s;
                  opacity: 0.5;
                  max-height: 0;
                  padding: 0;
                  margin: 0;
                  border: transparent;
                  overflow: hidden;
                }
            }
            //오른쪽 버튼들
            & .filter-function{
                display: block;
                position: absolute;
                right: 1rem;
            }
        }
        //모바일 - 필터옵션버튼 - more 박스
        & .filter__more{
            display: none;
            padding: 1rem;
            flex: 1 1 auto;
            width: 100%;
            & button.filter-add-btn{
                margin-left: .3rem;
                height: 0;
            }
            &.on{
                display: block;
            }
        }
    }
  
    //필터 카드 - 현재 보이는 박스
    & .filter__now{
        border-bottom: 1px solid $form-border-color;
    }
    & .filter__now, .filter__this-page{
        padding: .3rem 1rem;
        display: flex;
        flex-direction: row;
        @include p4-n();
        //현재필터:
        & .filter__info{
            flex: 0 0 4rem;
            max-height: $form-height;
            margin-right: 1rem;
            & > .pnt-label--group{
                border-radius: $form-radius;
                background-color: $default-secondary-l;
                box-shadow: $form-shadow;
                color: $default-secondary-d;
                width: 4rem;
                height: 2rem;
                display: flex;
                align-items: center;
                & > .label-main{
                    min-width: unset;
                    width: 100% !important;
                    text-align: center;
                }
            }
        }
        //옵션들
        & .filter-list{
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap; //필터갯수를 추가,제거 해보고 적용할지 말지 나중에 결정
            min-width: 0; //flex-shrink를 적용하기 위함
            align-items: center;
            gap: $form-gap;
        }
        //오른쪽 버튼들
        & .filter-function{
            flex: 0 0 auto;
            margin-left: $form-gap;
            @media (max-width: $breakpoint-mobile) {
                padding: 0 !important;
            }
        }
    }
    & .filter__this-page{
        //옵션들 
        & .filter-list{
            align-items: unset; //width : 100%를 위해
            flex-wrap: nowrap;
        }
    }
    //필터 카드 - 히든옵션
    & .filter__more{
        display: none;
        width: 20rem;
        padding: 1rem;
        flex: 1 1 auto;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: white;
        box-shadow: $form-shadow;
        border-radius: $form-radius;
        z-index: 10;
        //제목
        & .pnt-label--group{
            margin-top: .5rem;
        }
        & .more-activated, .more-none{
            max-height: 200px;
            overflow: auto;
        }
        & .pnt-checkbox{
          width: 100%;
        }
        &.on{
            display: block;
        }
    }
}
  
//필터 옵션
@mixin filter-options{
    padding: 1rem !important;
    @media (max-width:$breakpoint-tablet){
        width: calc(100% - 2px);
    }
    & > div{
        margin-bottom: 1rem;
    }
    & > div:last-child{
        margin: 0;
    }
    & ul{
        padding: 0;
        margin: 0;
        & li{
            & .pnt-select-label{
                padding: .3rem;
                min-height: 20px;
                width: 100%;
            }
        }
    }
}
.filter-list{
    //1.filter-optiions -- tree view
    @at-root .filter-options__tree{
        @include filter-options();
        width: 20rem !important;
    }
    //2.filter-optiions -- check
    @at-root .filter-options__check{
        @include filter-options();
        width: 13rem !important;
    }
    //3.filter-optiions -- search
    @at-root .filter-options__search{
        @include filter-options();
        width: 15rem !important;
    }
    //4.filter-optiions -- date
    @at-root .filter-options__date{
        @include filter-options();
        width: 20rem !important;
        padding: 0 !important;
        overflow: visible;

        & .select__option-list{
            margin: 0;
            & .option-list__btn{
                opacity: .4;
                border: 1px solid $form-border-color;
                padding: .6rem 1rem;
                & *{
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0;
                }
            }
            & .option-list__hidden-box{
                display: none;
                background-color: $gray-100;
                padding: 1rem;
            }
            &.checked{
                & .option-list__btn{
                    opacity: 1;
                }
                & .option-list__hidden-box{
                    display: block;
                    & .pnt-txt{
                        width: 5.5rem;
                    }
                }
            }
        }
        & .pnt-input{
            width: 4rem;
        }
        & .pnt-select--group{
            max-width: unset;
        }
    }
}



.filter_ver4{
    padding: 1rem 0 2rem 0;
    & .filter-box{
        margin-bottom: 1.5rem;
        & .filter-list{ flex-wrap: wrap; }
    }
    & .search-box .search-wrap{
        border: 1px solid $default-brand;
        background-color: $default-brand;
        border-radius: $form-radius;
        display: flex;
        width: 36.5rem;
        //라디어스
        & button, input{ border-radius: 0; }
        & button:first-child{
            border-radius: $form-radius 0 0 $form-radius;
        }
        & button:last-child{
            border-radius: 0 $form-radius $form-radius 0;
        }
        //내부 item 사이즈
        & .input-wrap{
            display: flex;
            width: 100%;
            & .pnt-input--group{
                width: 100%;
            }
        }
        @media (max-width: $breakpoint-mobile){
            & .input-wrap{
                & input{
                    border-radius: 0 0 0 $form-radius;
                }
                & button{
                    border-radius: 0 0 $form-radius 0;
                }
            }
        }
    }
    & .filter-label{
        @include p4-b($form-height);
        white-space: nowrap;
        padding: 0 1rem;
        height: $form-height;
        border-radius: $form-radius;
        background-color: $default-secondary-l;
        box-shadow: $card-shadow;
    }
    & .filter-list{
        gap: .5rem;
        //flex-grow: 1;
        display: flex;
        align-items: center;
        gap: $form-gap;
    }
    & .filter-function{
        display: flex;
        flex: 0 0 auto;
        gap: .2rem;
        & button{
            box-shadow: $card-shadow;
        }
    }
    //모바일 - 필터 카드
    @media (max-width: $breakpoint-mobile){
        & .filter-box{
            flex-direction: column;
            //옵션들
            & .filter-list{
                width: 100%;
                transition: all .5s;
                max-height: 20rem;
                opacity: 1;
                & > div{
                    width: 100%;
                    max-width: 100%;
                }
                //접혔을때
                &.folded{
                    transition: all .5s;
                    opacity: 0.8;
                    max-height: $form-height;
                    padding: 0;
                    margin: 0;
                    border: transparent;
                    overflow: hidden;
                }
            }
            //오른쪽 버튼들
            & .filter-function{
                position: absolute;
                right: 1rem;
            }
        }
        & .search-box{
            flex-direction: column;
            & .search-wrap{
                display: flex;
                flex-direction: column;
                width: 100%;
                & button:first-child{
                    border-radius: $form-radius $form-radius 0 0;
                }
                & .pnt-input--group, > div{
                    width: 100%;
                }
            }
        }
    }
}
