@charset "UTF-8";
/* Css link*/
.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.h-100-m {
  height: calc(100% - 1rem);
}

.flx-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flx-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flx-row.gap-0 {
  gap: 0;
}

.flx-row.gap-1 {
  gap: .5rem;
}

.flx-row.gap-2 {
  gap: 1rem;
}

.flx-row.gap-3 {
  gap: 2rem;
}

.flx-row.align-start {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.flx-row.flx-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flx-row.flx-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 570px) {
  .flx-row.flx-mobile-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flx-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: .5rem;
}

.flx-col.gap-0 {
  gap: 0;
}

.flx-col.gap-1 {
  gap: .5rem;
}

.flx-col.gap-2 {
  gap: 1rem;
}

.flx-col.gap-3 {
  gap: 2rem;
}

.flx-col.flx-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flx-sb.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  width: 100% !important;
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-50 {
  height: 50% !important;
}

.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-80 {
  height: 80% !important;
}

.h-90 {
  height: 90% !important;
}

.h-100 {
  height: 100% !important;
}

.b-radius-100 {
  border-radius: 100rem;
}

.b-radius-0 {
  border-radius: 0px;
}

.only-mobile {
  display: none !important;
}

@media (max-width: 570px) {
  .only-mobile {
    display: block !important;
  }
}

.only-tablet {
  display: none !important;
}

@media (max-width: 758px) {
  .only-tablet {
    display: block !important;
  }
}

.only-under-desktop {
  display: none !important;
}

@media (max-width: 1200px) {
  .only-under-desktop {
    display: block !important;
  }
}

.only-labtop {
  display: none !important;
}

@media (min-width: 1024px) and (max-width: 1700px) {
  .only-labtop {
    display: block !important;
  }
}

.only-web {
  display: block !important;
}

@media (max-width: 570px) {
  .only-web {
    display: none !important;
  }
}

.border-gray {
  border: 1px solid gray;
}

input {
  border: 1px solid #dbdbdf;
}

input:hover {
  border: 1px solid #929294;
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

input:focus, input:active {
  border: 1px solid #929294;
  -webkit-filter: none;
          filter: none;
  background-color: white;
}

.pnt-input {
  height: 38px;
  border: 1px solid #dbdbdf;
  background-color: #FAFBFC;
  border-radius: 5px;
  color: #000 !important;
  padding: 0 .5rem;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-input::-webkit-input-placeholder {
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 300;
  font-size: 13px;
  color: #929294 !important;
}

.pnt-input:-ms-input-placeholder {
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 300;
  font-size: 13px;
  color: #929294 !important;
}

.pnt-input::-ms-input-placeholder {
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 300;
  font-size: 13px;
  color: #929294 !important;
}

.pnt-input::placeholder {
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 300;
  font-size: 13px;
  color: #929294 !important;
}

.pnt-input.input-disable {
  background-color: #EBEBEB !important;
  border: 1px solid #dbdbdf !important;
}

.pnt-input.input-disable::-webkit-input-placeholder {
  color: #b3b3b6 !important;
}

.pnt-input.input-disable:-ms-input-placeholder {
  color: #b3b3b6 !important;
}

.pnt-input.input-disable::-ms-input-placeholder {
  color: #b3b3b6 !important;
}

.pnt-input.input-disable::placeholder {
  color: #b3b3b6 !important;
}

.pnt-input.input-must {
  border: 2px solid #FF7800 !important;
}

.pnt-input.input-must:hover {
  border: 2px solid #FFB930 !important;
}

.pnt-input--group {
  position: relative;
}

.pnt-input--group .pnt-input {
  width: 100%;
}

.pnt-input--group.btn-on-left input {
  padding: 0 0 0 2.5rem;
}

.pnt-input--group.btn-on-left button {
  left: 0;
  padding-left: 10px;
}

.pnt-input--group.btn-on-left button span {
  opacity: .6;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

button {
  background-color: inherit;
}

.btn-dropdown {
  position: relative;
}

.btn-dropbox {
  z-index: 10;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 0 0 0;
  margin: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  top: calc(100% - 1rem);
  opacity: 0;
}

@media (max-width: 570px) {
  .btn-dropbox {
    width: calc(100% - 2rem);
  }
}

.btn-dropbox li a {
  padding: 0;
  font-size: 0;
}

.btn-dropbox.on {
  -webkit-transition: all .3s;
  transition: all .3s;
  top: calc(100% - .2rem);
  opacity: 1;
}

.btn-dropbox.on li {
  border-bottom: 1px solid #dbdbdf;
}

.btn-dropbox.on li:hover {
  background-color: #EBEBEB;
}

.btn-dropbox.on li:hover a {
  color: rgba(0, 0, 0, 0.6);
}

.btn-dropbox.on li a {
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: .5rem 1rem;
  display: block;
}

.pnt-btn {
  display: inline-block;
  position: relative;
  min-height: 38px;
  border-radius: 5px;
  background-color: transparent;
  padding: 0 .8rem;
  border: none;
  text-align: center;
  white-space: nowrap;
  line-height: 0.3;
  font-size: 0.9rem;
  font-weight: 400;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 570px) {
  .pnt-btn.btn-long {
    width: 100%;
  }
}

.pnt-btn.non-active {
  background-color: #929294 !important;
  color: white;
}

.pnt-btn.non-active:hover {
  -webkit-filter: none !important;
          filter: none !important;
}

.pnt-btn.btn-icon {
  padding: .4rem .8rem .2rem .5rem;
}

.pnt-btn.btn-icon span {
  width: 20px;
  height: 20px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  display: inline-block;
  vertical-align: middle;
  margin: -.2rem .3rem 0 0;
}

.pnt-btn.btn-icon-only {
  padding: .4rem .6rem;
  max-width: 38px;
  max-height: 38px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-btn.btn-icon-only * {
  font-size: 0;
}

.pnt-btn.btn-icon-only span {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.pnt-btn.btn-icon-only:hover, .pnt-btn.btn-icon-only .on {
  -webkit-filter: invert(0.3);
          filter: invert(0.3);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-btn.btn-full {
  line-height: auto;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  min-height: 46px;
}

.pnt-btn.btn-large {
  line-height: auto;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1.5rem 1.8rem 1.2rem 1.8rem;
}

.pnt-btn.btn-long.btn-icon {
  padding: .4rem 1.8rem .2rem 1.5rem;
}

.pnt-btn.btn-small {
  min-height: 30px;
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 300;
}

.pnt-btn.btn-small span {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin: 0;
}

.pnt-btn.btn-small.btn-icon-only {
  padding: .25rem;
}

.pnt-btn.btn-on-input {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0rem;
}

.pnt-btn.btn-on-input-line {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0rem;
}

.pnt-btn.btn-on-input-line::before {
  content: '';
  display: block;
  width: 1px;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 1px;
}

.pnt-btn.btn-orange {
  color: white;
  background-color: #FF7800;
}

.pnt-btn.btn-orange span {
  -webkit-filter: invert(1) brightness(2);
          filter: invert(1) brightness(2);
}

.pnt-btn.btn-orange:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-btn.btn-orange.btn-shadow {
  -webkit-box-shadow: 0px 5px 10px rgba(168, 71, 7, 0.3);
          box-shadow: 0px 5px 10px rgba(168, 71, 7, 0.3);
}

.pnt-btn.btn-warning {
  color: white;
  background-color: #FFC107;
  color: #423c3c;
  line-height: 0.3;
  font-size: 0.9rem;
  font-weight: 700;
}

.pnt-btn.btn-warning span {
  -webkit-filter: invert(1) brightness(2);
          filter: invert(1) brightness(2);
}

.pnt-btn.btn-warning:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-btn.btn-warning span {
  -webkit-filter: invert(0.4) brightness(0.4);
          filter: invert(0.4) brightness(0.4);
}

.pnt-btn.btn-warning:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}

.pnt-btn.btn-warning.btn-shadow {
  -webkit-box-shadow: 0px 5px 10px rgba(168, 117, 7, 0.3);
          box-shadow: 0px 5px 10px rgba(168, 117, 7, 0.3);
}

.pnt-btn.btn-danger {
  color: white;
  background-color: #ff3333;
}

.pnt-btn.btn-danger span {
  -webkit-filter: invert(1) brightness(2);
          filter: invert(1) brightness(2);
}

.pnt-btn.btn-danger:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-btn.btn-danger.btn-shadow {
  -webkit-box-shadow: 0px 5px 10px rgba(168, 7, 7, 0.3);
          box-shadow: 0px 5px 10px rgba(168, 7, 7, 0.3);
}

.pnt-btn.btn-blue {
  color: white;
  background-color: #3E66FB;
}

.pnt-btn.btn-blue span {
  -webkit-filter: invert(1) brightness(2);
          filter: invert(1) brightness(2);
}

.pnt-btn.btn-blue:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-btn.btn-blue.btn-shadow {
  -webkit-box-shadow: 0px 0px 5px rgba(100, 100, 255, 0.5);
          box-shadow: 0px 0px 5px rgba(100, 100, 255, 0.5);
}

.pnt-btn.btn-darkgray {
  color: white;
  background-color: #585252;
}

.pnt-btn.btn-darkgray span {
  -webkit-filter: invert(1) brightness(2);
          filter: invert(1) brightness(2);
}

.pnt-btn.btn-darkgray:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-btn.btn-darkgray.btn-shadow {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.pnt-btn.btn-gray {
  color: white;
  background-color: #b3b3b6;
}

.pnt-btn.btn-gray span {
  -webkit-filter: invert(1) brightness(2);
          filter: invert(1) brightness(2);
}

.pnt-btn.btn-gray:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-btn.btn-gray.btn-shadow {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.pnt-btn.btn-gray:hover {
  -webkit-filter: brightness(1.1) !important;
          filter: brightness(1.1) !important;
}

.pnt-btn.btn-disable {
  color: white;
  background-color: #cfcfd3;
}

.pnt-btn.btn-disable span {
  -webkit-filter: invert(1) brightness(2);
          filter: invert(1) brightness(2);
}

.pnt-btn.btn-disable:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-btn.btn-disable.btn-shadow {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.pnt-btn.btn-disable:hover {
  -webkit-filter: none !important;
          filter: none !important;
}

.pnt-checkbox-label {
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  min-height: 38px;
  padding: .7rem .7rem .7rem 0;
  position: relative;
  text-transform: capitalize;
  margin: 0;
}

.pnt-checkbox-label.checked {
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}

ul.pnt-label-5 .label-main, div.pnt-label-5 .label-main, li.pnt-label-5 .label-main {
  width: 5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-6 .label-main, div.pnt-label-6 .label-main, li.pnt-label-6 .label-main {
  width: 6rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-7 .label-main, div.pnt-label-7 .label-main, li.pnt-label-7 .label-main {
  width: 7rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-8 .label-main, div.pnt-label-8 .label-main, li.pnt-label-8 .label-main {
  width: 8rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-9 .label-main, div.pnt-label-9 .label-main, li.pnt-label-9 .label-main {
  width: 9rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-10 .label-main, div.pnt-label-10 .label-main, li.pnt-label-10 .label-main {
  width: 10rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-11 .label-main, div.pnt-label-11 .label-main, li.pnt-label-11 .label-main {
  width: 11rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-12 .label-main, div.pnt-label-12 .label-main, li.pnt-label-12 .label-main {
  width: 12rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-13 .label-main, div.pnt-label-13 .label-main, li.pnt-label-13 .label-main {
  width: 13rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul.pnt-label-top .pnt-label--group, div.pnt-label-top .pnt-label--group, li.pnt-label-top .pnt-label--group {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 570px) {
  ul.pnt-label-top-web .pnt-label--group, div.pnt-label-top-web .pnt-label--group, li.pnt-label-top-web .pnt-label--group {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 570px) {
  ul.pnt-label-top-mobile .pnt-label--group, div.pnt-label-top-mobile .pnt-label--group, li.pnt-label-top-mobile .pnt-label--group {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

ul.pnt-input-100 input, div.pnt-input-100 input, li.pnt-input-100 input {
  width: 100%;
}

ul.border-left, div.border-left, li.border-left {
  padding-left: 1.2rem;
  border-left: 2px solid #dbdbdf !important;
}

.pnt-label--group {
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  position: relative;
}

.pnt-label--group .label-main {
  min-width: 5rem;
  overflow: visible;
  word-break: keep-all;
  line-height: 1.3;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
  position: relative;
}

@media (max-width: 758px) {
  .pnt-label--group .label-main {
    width: 6rem !important;
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
  }
}

.pnt-label--group .label-main .icon-infofill {
  -webkit-transform: translateY(-5%) scale(0.7);
          transform: translateY(-5%) scale(0.7);
  opacity: .3;
  position: relative;
}

.pnt-label--group .label-main .icon-infofill:hover {
  opacity: 1;
  z-index: 5;
}

.pnt-label--group .label-main .icon-infofill:hover .info-box {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  padding: .5rem;
  border: 1px solid #dbdbdf;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  color: rgba(0, 0, 0, 0.3);
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
  min-width: 8rem;
  min-height: 2rem;
  position: absolute;
  left: 60px;
  bottom: 0px;
}

.pnt-label--group .label-main.label-dot {
  display: inline-block;
  padding-left: .8rem;
}

.pnt-label--group .label-main.label-dot::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: #FF7800;
  display: inline-block;
  position: absolute;
  top: .5rem;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pnt-label--group .label-main.label-line {
  position: relative;
}

.pnt-label--group .label-main.label-line::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -8px;
  width: 2rem;
  height: 2px;
  border-radius: 10px;
  background-color: #e2e2e2;
}

.pnt-label--group .label-main.label-line-long::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background-color: #cfcfd3;
}

.pnt-label--group .label-main.label-border {
  border: 1px solid #dbdbdf;
  padding: .5rem;
  border-radius: 5px;
  margin: 0;
}

.pnt-label--group .label-main.label-must {
  color: #FF7800;
}

.pnt-label--group .label-options {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.3;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  position: relative;
}

.pnt-select--group {
  position: relative;
  min-width: 8rem;
  max-width: 12rem;
  width: 12rem;
}

@media (max-width: 570px) {
  .pnt-select--group {
    width: 100% !important;
    max-width: unset !important;
  }
}

.pnt-select--group:focus {
  outline: none;
}

.pnt-select--group.w-full {
  width: 12rem;
}

.pnt-select--group .select__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 38px;
  padding: .5rem 2.1rem .5rem .5rem;
  background-color: #fff;
  background-image: url("../images/icon_arrow_black_forselect.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right;
  border: 1px solid #dbdbdf;
  border-radius: 5px;
  line-height: 1;
  font-size: 0.8rem;
  font-weight: 700;
  color: #585252;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-select--group .select__btn:hover, .pnt-select--group .select__btn :focus {
  border: 1px solid #929294;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.pnt-select--group .select__btn span {
  width: 20px;
  height: 20px;
  margin-right: .5rem;
}

.pnt-select--group .select__options {
  display: none;
  z-index: 10;
  position: absolute;
  top: 38px;
  left: 1px;
  width: calc(100% - 2px);
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #dbdbdf;
  border-radius: 5px;
  overflow: hidden;
}

.pnt-select--group .select__options > li {
  position: relative;
}

.pnt-select--group .select__options > li a {
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
  color: #585252;
  display: block;
  text-align: left;
  padding: .5rem;
  text-transform: capitalize;
  border-bottom: 1px solid #dbdbdf;
}

.pnt-select--group .select__options > li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.pnt-select--group.on .select__btn {
  -webkit-box-shadow: 0px 0px 10px rgba(255, 50, 50, 0.2);
          box-shadow: 0px 0px 10px rgba(255, 50, 50, 0.2);
  border: 1px solid #FF7800;
}

.pnt-select--group.on .select__options {
  display: block;
  max-height: 14.5rem;
  overflow: auto;
}

.pnt-select--group.on .select__options a {
  color: #000;
}

.pnt-select--group.on .select__options li.on::after {
  content: '✔';
  position: absolute;
  line-height: auto;
  font-size: 1rem;
  font-weight: 400;
  right: 0.5rem;
  top: 50%;
  color: #1f1cd1;
  -webkit-transform: scaleY(0.8) translateY(-70%);
          transform: scaleY(0.8) translateY(-70%);
}

.pnt-select--group.on .select__options li.on a {
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 700;
  color: #1f1cd1 !important;
  background-color: #C5D1FE;
  border-bottom: 1px solid #2C48B0;
}

.pnt-select--group.on .select__options li.on a:hover {
  background-color: #C5D1FE;
  cursor: default;
}

.pnt-select--group.select-disable .select__btn {
  background-color: #EBEBEB;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #dbdbdf;
  color: #b3b3b6 !important;
}

.pnt-select--group.select-disable .select__btn p {
  color: #b3b3b6 !important;
}

.pnt-select--group.select-disable .select__btn:hover {
  -webkit-filter: none !important;
          filter: none !important;
  cursor: default;
}

.pnt-select--group.select-must .select__btn {
  border: 2px solid #FF7800 !important;
}

.pnt-select--group.select-must .select__btn:hover {
  border: 2px solid #FFB930 !important;
}

.pnt-select--group.w-100 {
  max-width: unset;
}

.pnt-inner-select--group {
  position: relative;
  width: 100%;
}

.pnt-inner-select--group:focus {
  outline: none;
}

.pnt-inner-select--group .inner-select__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 38px;
  padding: .5rem 2.1rem .5rem .5rem;
  background-color: #fff;
  background-image: url("../images/icon_arrow_black_forselect.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right;
  border: 1px solid #dbdbdf;
  border-radius: 5px;
  line-height: 1;
  font-size: 0.8rem;
  font-weight: 400;
  color: #585252;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pnt-inner-select--group .inner-select__btn:hover, .pnt-inner-select--group .inner-select__btn :focus {
  border: 1px solid #929294;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.pnt-inner-select--group .inner-select__btn span {
  width: 20px;
  height: 20px;
  margin-right: .5rem;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.pnt-inner-select--group .inner-select__options {
  display: none;
  z-index: 10;
  position: absolute;
  top: 38px;
  left: 1px;
  width: calc(100% - 2px);
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 0;
}

.pnt-inner-select--group .inner-select__options > li {
  border-bottom: 1px solid #dbdbdf;
  padding: .5rem;
}

.pnt-inner-select--group .inner-select__options > li a {
  color: #585252;
  text-transform: capitalize;
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
}

.pnt-inner-select--group .inner-select__options > li:hover {
  background-color: #EBEBEB;
}

.pnt-inner-select--group.on .inner-select__btn {
  -webkit-box-shadow: 0px 0px 10px rgba(255, 50, 50, 0.2);
          box-shadow: 0px 0px 10px rgba(255, 50, 50, 0.2);
  border: 1px solid #FF7800;
}

.pnt-inner-select--group.on .inner-select__options {
  display: block;
}

.pnt-inner-select--group.on .inner-select__options a {
  color: #000;
}

.pnt-inner-select--group.on .inner-select__options .on {
  background-color: #FFE3B8;
}

.pnt-inner-select--group.select-disable .select__btn {
  background-color: #EBEBEB;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #dbdbdf;
}

.pnt-inner-select--group.select-disable .select__btn p {
  color: #b3b3b6 !important;
}

.pnt-inner-select--group.select-disable .select__btn:hover {
  -webkit-filter: none !important;
          filter: none !important;
}

.pnt-inner-select--group.select-must .select__btn {
  border: 2px solid #FF7800 !important;
}

.pnt-inner-select--group.select-must .select__btn:hover {
  border: 2px solid #FFB930 !important;
}

.pagination {
  height: 30px;
  float: right;
}

.pagination .pnt-table--paging__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 700;
}

.pagination .pnt-table--paging__wrap .now {
  color: #FF7800;
  margin: 0 .1rem .2rem .7rem;
}

.pagination .pnt-table--paging__wrap .whole {
  color: rgba(0, 0, 0, 0.35);
  margin: 0 .7rem .2rem .1rem;
}

.pagination .pnt-table--paging__wrap .icon-back, .pagination .pnt-table--paging__wrap .icon-next, .pagination .pnt-table--paging__wrap .icon-next-double, .pagination .pnt-table--paging__wrap .icon-back-double {
  width: 30px;
  height: 30px;
  margin: -6px;
  padding: 1.1rem;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  border-radius: 10px;
  background-color: #b3b3b6;
  -webkit-filter: opacity(0.8) brightness(1.1);
          filter: opacity(0.8) brightness(1.1);
}

.pagination .pnt-table--paging__wrap .icon-back:hover, .pagination .pnt-table--paging__wrap .icon-next:hover, .pagination .pnt-table--paging__wrap .icon-next-double:hover, .pagination .pnt-table--paging__wrap .icon-back-double:hover {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.pagination .pnt-table--paging__wrap .icon-back {
  background-position: -17px -9px;
  background-color: #FF9820;
}

.pagination .pnt-table--paging__wrap .icon-next {
  background-position: -17px -55px;
  background-color: #FF9820;
}

.table {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.table .border-box {
  overflow: auto hidden;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 100%;
}

.table .border-box .thead {
  overflow: visible;
}

.table .border-box .thead .tr {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.table .border-box .thead .tr .th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1%;
          flex: 1 1 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d8e0fe;
  border-right: 1px solid #EBEBEB;
  color: rgba(0, 0, 0, 0.85);
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 700;
}

.table .border-box .thead .tr .th:last-child {
  border-right: none;
}

.table .border-box .tbody {
  min-height: 10rem;
  height: calc(100% - 36px) !important;
  position: relative;
  background-color: white;
}

.table .border-box .tbody > div {
  padding: 0;
  overflow: visible;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.table .border-box .tbody > div > div {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: overlay;
  will-change: transform;
  direction: ltr;
}

.table .border-box .tbody > div > div > div .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 38px;
  position: absolute;
  left: 0;
}

.table .border-box .tbody > div > div > div .tr.clickable:hover {
  background-color: #ebecf3;
  cursor: pointer;
}

.table .border-box .tbody > div > div > div .tr .td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1%;
          flex: 1 1 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #EBEBEB;
  border-right: 1px solid #EBEBEB;
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
  color: #585252;
}

.table .border-box .tbody > div > div > div .tr .td:last-child {
  border-right: none;
}

.table .border-box .tbody > div > div > div .tr:nth-child(2n) .td {
  background-color: rgba(0, 0, 0, 0.02);
}

.table .border-box.col-1-1-2 .thead .th:nth-child(1), .table .border-box.col-1-1-2 .thead .td:nth-child(1), .table .border-box.col-1-1-2 .tbody .th:nth-child(1), .table .border-box.col-1-1-2 .tbody .td:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.table .border-box.col-1-1-2 .thead .th:nth-child(2), .table .border-box.col-1-1-2 .thead .td:nth-child(2), .table .border-box.col-1-1-2 .tbody .th:nth-child(2), .table .border-box.col-1-1-2 .tbody .td:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.table .border-box.col-1-1-2 .thead .th:nth-child(3), .table .border-box.col-1-1-2 .thead .td:nth-child(3), .table .border-box.col-1-1-2 .tbody .th:nth-child(3), .table .border-box.col-1-1-2 .tbody .td:nth-child(3) {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 0px;
          flex: 2 1 0;
}

.table .border-box.col-1-2-1 .thead .th:nth-child(1), .table .border-box.col-1-2-1 .thead .td:nth-child(1), .table .border-box.col-1-2-1 .tbody .th:nth-child(1), .table .border-box.col-1-2-1 .tbody .td:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.table .border-box.col-1-2-1 .thead .th:nth-child(2), .table .border-box.col-1-2-1 .thead .td:nth-child(2), .table .border-box.col-1-2-1 .tbody .th:nth-child(2), .table .border-box.col-1-2-1 .tbody .td:nth-child(2) {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 0px;
          flex: 2 1 0;
}

.table .border-box.col-1-2-1 .thead .th:nth-child(3), .table .border-box.col-1-2-1 .thead .td:nth-child(3), .table .border-box.col-1-2-1 .tbody .th:nth-child(3), .table .border-box.col-1-2-1 .tbody .td:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.table .border-box.col-2-1-1 .thead .th:nth-child(1), .table .border-box.col-2-1-1 .thead .td:nth-child(1), .table .border-box.col-2-1-1 .tbody .th:nth-child(1), .table .border-box.col-2-1-1 .tbody .td:nth-child(1) {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 0px;
          flex: 2 1 0;
}

.table .border-box.col-2-1-1 .thead .th:nth-child(2), .table .border-box.col-2-1-1 .thead .td:nth-child(2), .table .border-box.col-2-1-1 .tbody .th:nth-child(2), .table .border-box.col-2-1-1 .tbody .td:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.table .border-box.col-2-1-1 .thead .th:nth-child(3), .table .border-box.col-2-1-1 .thead .td:nth-child(3), .table .border-box.col-2-1-1 .tbody .th:nth-child(3), .table .border-box.col-2-1-1 .tbody .td:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.table .border-box.col-1-2-3 .thead .th:nth-child(1), .table .border-box.col-1-2-3 .thead .td:nth-child(1), .table .border-box.col-1-2-3 .tbody .th:nth-child(1), .table .border-box.col-1-2-3 .tbody .td:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.table .border-box.col-1-2-3 .thead .th:nth-child(2), .table .border-box.col-1-2-3 .thead .td:nth-child(2), .table .border-box.col-1-2-3 .tbody .th:nth-child(2), .table .border-box.col-1-2-3 .tbody .td:nth-child(2) {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 0px;
          flex: 2 1 0;
}

.table .border-box.col-1-2-3 .thead .th:nth-child(3), .table .border-box.col-1-2-3 .thead .td:nth-child(3), .table .border-box.col-1-2-3 .tbody .th:nth-child(3), .table .border-box.col-1-2-3 .tbody .td:nth-child(3) {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 0px;
          flex: 3 1 0;
}

.table .border-box.col-1-1-full .thead .th, .table .border-box.col-1-1-full .thead .td, .table .border-box.col-1-1-full .tbody .th, .table .border-box.col-1-1-full .tbody .td {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 0px !important;
          flex: 1 1 0 !important;
}

.table .border-box.col-1-1-full .thead .th:last-child, .table .border-box.col-1-1-full .thead .td:last-child, .table .border-box.col-1-1-full .tbody .th:last-child, .table .border-box.col-1-1-full .tbody .td:last-child {
  -webkit-box-flex: 3 !important;
      -ms-flex: 3 1 0px !important;
          flex: 3 1 0 !important;
}

.table .border-box.col-1-1-full .thead *, .table .border-box.col-1-1-full .tbody * {
  text-align: center;
}

.table .border-box.col-full-1-1 .thead .th, .table .border-box.col-full-1-1 .thead .td, .table .border-box.col-full-1-1 .tbody .th, .table .border-box.col-full-1-1 .tbody .td {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 0px !important;
          flex: 1 1 0 !important;
}

.table .border-box.col-full-1-1 .thead .th:first-child, .table .border-box.col-full-1-1 .thead .td:first-child, .table .border-box.col-full-1-1 .tbody .th:first-child, .table .border-box.col-full-1-1 .tbody .td:first-child {
  -webkit-box-flex: 3 !important;
      -ms-flex: 3 1 0px !important;
          flex: 3 1 0 !important;
}

.table .border-box.col-full-1-1 .thead *, .table .border-box.col-full-1-1 .tbody * {
  text-align: center;
}

.table .border-box.col-ful-2-2 .thead .th, .table .border-box.col-ful-2-2 .thead .td, .table .border-box.col-ful-2-2 .tbody .th, .table .border-box.col-ful-2-2 .tbody .td {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 0px !important;
          flex: 1 1 0 !important;
}

.table .border-box.col-ful-2-2 .thead .th:first-child, .table .border-box.col-ful-2-2 .thead .td:first-child, .table .border-box.col-ful-2-2 .tbody .th:first-child, .table .border-box.col-ful-2-2 .tbody .td:first-child {
  -webkit-box-flex: 2 !important;
      -ms-flex: 2 1 0px !important;
          flex: 2 1 0 !important;
}

.table .border-box.col-ful-2-2 .thead *, .table .border-box.col-ful-2-2 .tbody * {
  text-align: center;
}

.pnt-txt {
  margin: 0;
  line-height: auto;
  font-size: 0.9rem;
  font-weight: 400;
}

.pnt-txt.txt-tiny {
  line-height: auto;
  font-size: 0.7rem;
  font-weight: 400;
}

.pnt-txt.txt-small {
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
}

.pnt-txt.txt-big {
  line-height: auto;
  font-size: 1.1rem;
  font-weight: 400;
}

.pnt-txt.txt-bold {
  font-weight: 700;
}

.pnt-txt.txt-large {
  line-height: auto;
  font-size: 1.3rem;
  font-weight: 700;
}

.pnt-txt.txt-subtitle {
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 700;
  border-top: 1px solid #b3b3b6;
  background-color: #EBEBEB;
  padding: .3rem .5rem .5rem;
}

.pnt-txt.txt-border {
  border: 1px solid #dbdbdf;
  padding: 0 .5rem;
  border-radius: 5px;
  margin: 0;
  background-color: white;
  white-space: nowrap;
  display: inline-block;
}

.pnt-txt.txt-dot {
  display: block;
  width: 100%;
}

.pnt-txt.txt-dot::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-right: .4rem;
  background-color: #FF7800;
}

.pnt-txt.txt-dot.dot-black::before {
  background-color: #585252;
}

.pnt-border {
  background-color: rgba(0, 0, 0, 0.2);
}

.pnt-border.border-vert {
  display: inline-block;
  vertical-align: middle;
  margin: 0 .3rem;
  width: 1px;
  height: 1.5rem;
}

.pnt-border.border-vert.border-bold {
  width: 2px;
}

.pnt-border.border-horiz {
  width: 100%;
  height: 1px;
  margin: .6rem 0;
}

.pnt-border.border-horiz.border-bold {
  height: 2px;
}

.pnt-map-box {
  background-color: #818AAF;
  width: 100%;
  height: 100%;
  position: relative;
}

.pnt-map-box .map__function {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem;
}

.pnt-map-box .map__function .map__function--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.pnt-map-box .map__function .map__function--top > div {
  padding: .3rem;
  background-color: white !important;
  color: black !important;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(32, 39, 140, 0.125);
  border-radius: .25rem;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
}

.pnt-map-box .map__function .map__function--bottom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: .5rem;
  right: .5rem;
}

.pnt-map-box .map__function .map__function--bottom button {
  background-color: white !important;
}

.pnt-map-box .map__function .map__function--bottom button:hover {
  -webkit-filter: none !important;
          filter: none !important;
  background-color: #EBEBEB !important;
}

.pnt-map-box .map__pin {
  position: absolute;
}

.pnt-map-box .map__pin .map__pin--balloon {
  display: none;
  z-index: 10;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: .5rem;
  position: absolute;
  top: -170px;
  width: 150px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pnt-map-box .map__pin .map__pin--balloon::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -15px;
  left: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-horiz: 15px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
}

.pnt-map-box .map__pin .map__pin--balloon .btn-view {
  width: 100%;
  min-height: 1rem;
  padding: .5rem;
}

.pnt-map-box .map__pin .icon-gps-fill {
  margin: 1.2rem 0 0 20px;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.pnt-map-box .map__pin.on .icon-gps {
  background-color: #FFC107;
  -webkit-box-shadow: 0px 0px 20px #FFC107;
          box-shadow: 0px 0px 20px #FFC107;
  border-radius: 100px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pnt-map-box .map__pin.active {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pnt-map-box .map__pin.active .icon-gps {
  background-color: #FF7800;
  -webkit-box-shadow: 0px 0px 20px #FF7800;
          box-shadow: 0px 0px 20px #FF7800;
  border-radius: 100px;
}

.pnt-map-box .map__pin.active .map__pin--balloon {
  display: block;
}

.pnt-map-box .map__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pnt-map-box .map__img img {
  width: 100%;
}

.pnt-nameplate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .5rem 0 .3rem;
  border-radius: 5px;
  background-color: #ecf0ff;
  min-height: 38px;
  line-height: 1;
  font-size: 0.8rem;
  font-weight: 400;
}

.pnt-nameplate span {
  margin-right: .3rem;
}

.pnt-nameplate.nameplate-disable {
  background-color: #929294;
  opacity: .4;
  position: relative;
}

.pnt-nameplate.nameplate-disable span::before {
  content: '';
  display: block;
  width: 70%;
  height: 1.2px;
  background-color: black;
  position: absolute;
  top: 50%;
}

.pnt-radio-full {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 38px;
  width: 100%;
  padding: 0;
  margin: 0;
  gap: .5rem;
}

.pnt-radio-full > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  border: 1px solid #dbdbdf;
  background-color: transparent;
}

.pnt-radio-full > li input {
  visibility: hidden;
}

.pnt-radio-full > li label {
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 700;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  margin: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pnt-radio-full > li.checked {
  background-color: #2c2828;
}

.pnt-radio-full > li.checked label {
  color: white;
}

.pnt-radio-short {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 38px;
  width: 100%;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.pnt-radio-short > li input {
  visibility: hidden;
}

.pnt-radio-short > li label {
  color: rgba(0, 0, 0, 0.3);
  line-height: auto;
  font-size: 0.8rem;
  font-weight: 400;
  position: relative;
}

.pnt-radio-short > li label::before {
  content: '';
  width: 22px;
  height: 22px;
  border-radius: 30px;
  display: inline-block;
  background-color: #e2e2e2;
  position: absolute;
  top: 50%;
  left: -27px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pnt-radio-short > li label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -27px;
  -webkit-filter: invert(1);
          filter: invert(1);
  background-image: url("../images/util.svg");
  background-position: -58.5px -474px;
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  background-size: 240px;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  -webkit-transform: scale(0.7) translateY(-65%) translateX(10%);
          transform: scale(0.7) translateY(-65%) translateX(10%);
}

.pnt-radio-short > li.checked label {
  color: rgba(0, 0, 0, 0.85);
}

.pnt-radio-short > li.checked label::before {
  background-color: #3E66FB;
}
