//////////////////////////////
/* Css link*/
@import 'font';
@import '_variables';

//////////////////////////////
// Variables
$spacer-lg : 3rem;
$spacer-sm : 1.5rem;
$layout-spacer-lg : 3rem;
$layout-spacer-x : 1.5rem;
$app-sideBar-width : 280px;
$app-sideBar-width-collapsed : 80px;
$logo-height : 23px;
$logo-width : 97px;
$app-header-height : 60px;
$layout-shadow : 0 0 1rem rgba(30,10,10,0.15);

//반응형에서 test중 - 문제 생길시 삭제
.app-main > .app-main__outer > .app-main__inner > .app-page-content > .row > div{
  @media (max-width: $breakpoint-desktop) {
    padding-bottom: 1rem !important;
  }
}

///////////////
//about - 레이아웃
html{
  overflow: hidden;
}
body{
  overflow-y: initial !important;
}
.app-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  background-color: #edebf3;

  //헤더
  & .app-header{
    position: fixed;
    width: 100%;
    top: 0;
    height: $app-header-height;
    display: flex;
    align-items: center;
    align-content: center;
    z-index: 10;
    transition: $nav-transition;
    background-color: #FAFAFC;
    box-shadow: $layout-shadow;

    //로고 접히는칸
    & .app-header__logo {
      width: $app-sideBar-width;
      min-width: $app-sideBar-width;
      height: $app-header-height;
      padding: 0 $layout-spacer-x;
      padding-right: 0;
      display: flex;
      align-items: center;
      transition: $nav-transition;

      & .logo-src {
        background-image: none;
        white-space: nowrap;
        @include h5-b();
        color: $brand;
        letter-spacing: -1px;
        margin-top: -5px;
        margin-right: 15px;
      }
      //접히는 버튼
      & .header__pane{
        & .btn-sidebar-fold{
          padding-right: 3.2rem;
        }
      }
    }
    //로고 외의 칸
    & .app-header__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex: 1;
      padding: 0 $layout-spacer-x;
      height: $app-header-height;
      & .app-header-left, .app-header-right {
        display: flex;
        align-items: center;
        gap: .5rem;

        @include p2-b();
        & .menu-sub{
          color: $f-b-6;
        }
        & .menu-main{
          margin-left: .5rem;
          color: $secondary-d2;
        }
        & .icon-next{
          opacity: .4;
        }
      }
    }
  }

  & .app-main{
    padding-top: $app-header-height;
    z-index: 8;
    position: relative;

    //네브, 사이드메뉴
    & .app-sideBar{
      position: fixed;
      display: flex;
      flex: 0 0 $app-sideBar-width;
      height: 100vh;
      width: $app-sideBar-width;
      min-width: $app-sideBar-width;
  
      z-index: 20;
      overflow: hidden;
      transition: $nav-transition;
    }

    //본문
    & .app-main__outer{
      display: flex;
      flex-direction: column;
      flex: 1 1;
      padding-left: $app-sideBar-width;
      z-index: 12;
      height: calc(100vh - 60px); //$app-header-height
      transition: $nav-transition;

      & .app-main__inner{
        padding: 0 !important;
        flex: 1 1 100%;
        height: 100%;
        position: relative;

        //모바일용 content 내 타이틀 화면
        & .app-page-title{
          //display: none;
          display: flex;
          flex-direction: column;
          text-align: left;
          background: hsla(0,0%,100%,.55);
          padding: 2rem;
          height: 100px;
          margin: 0;
          margin-bottom: 1rem;
          

          & .menu-sub{
            @include p4-n(1.2);
          }
          & .menu-main{
            @include h3-b();
            color: $secondary-d2;
          }

          @media (max-width: $breakpoint-mobile){
            height: 80px;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            padding: 1.5rem;
            justify-content: center;
            flex-direction: row;
          }
        }
        //찐 본문
        & .app-page-content{
          //background-color: #edebf3;
          padding: 15px;
          box-sizing: border-box;
          position: relative;
          display: flex;
          flex-direction: column;
          overflow: auto;
          height: calc(100% - 30px);

          //모바일 맨 밑에 공간 없으면 이곳을 수정할 예정
          @media (max-width: $breakpoint-mobile){
            & > .row:last-child{
              & > div:last-child{
              }
            }
          }
        }
        //대시보드-오버뷰 용 에디트 버튼
        & .dashboard-edit{
          position: fixed;
          bottom: 2rem;
          right: 1.5rem;
        }
      }
    }

    //푸터
    & .app-footer{
      display: flex;
      align-items: center;
      justify-content: flex-end;

      z-index: 12;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #FAFAFC;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
      height: 30px;
      padding-right: 1rem;
      @include p5-n();
      color: $f-b-6;
    }
  }
}



///////////////
//네비게이션 - 퍼블리싱을 위한 임시 css
.app-sideBar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);


  
  //1. 단일메뉴 일때 (하위메뉴 없음)
  & > ul{
    display: block;
    padding: 0;
    margin-top: 2rem;
    & > li{
      display: flex;
      align-items: center;
      width: 100%;
      height: 2.5rem;
      margin-bottom: .5rem;
      &>div{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
      }
      //메뉴 아이콘
      & div{
        margin-right: .5rem;
      }
      //대메뉴 타이틀
      & .main__txt{
        @include p3-b();
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;

        display: inline-block;
        width: 100%;
        height: 100%;
        padding: .5rem;
        border-radius: $form-radius;
        position: relative;
        //접기버튼
        & span{
          position: absolute;
          top: 50%;
          right: 0.5rem;
          transform: translateY(-50%) scale(.5);
          opacity: .3;
        }
      }
    }
  }
}


//네브 닫기
.app-container.clicked.on{
  //헤더
  & .app-header{
    & .app-header__logo{
      width: $app-sideBar-width-collapsed;
      min-width: $app-sideBar-width-collapsed;
      transition: $nav-transition;
      & .logo-src{
        font-size: 0;
        margin-right: 2px;
      }
      //접히는 버튼
      & .header__pane{
        & .btn-sidebar-fold{
          //border: 1px solid red;
          padding-left: 0.4rem;
        }
      }
    }
  }
  & .app-main{
    //네비게이션
    & .app-sideBar{
      width: $app-sideBar-width-collapsed;
      min-width: $app-sideBar-width-collapsed;
      flex: 0 0 $app-sideBar-width-collapsed;
      transition: $nav-transition;
      & *{font-size: 0;}
      & span{display: none;}
      & li.on, li:hover{background-color: transparent;}
      &>ul>li{
        &>div{
          width: 100%;
        }
        & .main__txt{
          opacity: 0;
          padding: 0;
          font-size: 0;
          overflow: hidden;
        }
      }
    }
    //본문
    & .app-main__outer{
      padding-left: $app-sideBar-width-collapsed;
      transition: $nav-transition;
    } 
  }
}


//스크롤바

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
  background-clip: padding-box;
  border: 1px solid transparent; //pdding 대신 여백사용할때
}
*::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
}


//반응형 오류때문에 강제 적용한 css
// @media (max-width: 991.98px){
//   body .app-container .app-header .app-header__logo {
//     background-color: #242544 !important;
//   }
//   body .app-sideBar{
//     transform: none !important;
//   }
//   body .app-main .app-main__outer {
//     padding-left: $app-sideBar-width-collapsed !important;
//   }
// }
@media (max-width: 991.98px){
  body .app-container .app-header .app-header__logo {
    background-color: #242544 !important;
    width: $app-sideBar-width-collapsed;
    min-width: $app-sideBar-width-collapsed;
    transition: $nav-transition;
    & .logo-src{
      font-size: 0;
      margin-right: 2px;
    }
    //접히는 버튼
    & .header__pane{
      & .btn-sidebar-fold{
        //border: 1px solid red;
        padding-left: 0.4rem;
      }
    }
  }
  body .app-container{
    &::after{
      content: '';
      position: absolute;
      top: $app-header-height;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background-color: rgba(0,0,0,0.0);
      transition-property: background-color, left;
      transition-duration: 0.4s, 0.3s;
      transition-timing-function: ease, ease;
    }
    &.on.clicked{
      &::after{
        content: '';
        position: absolute;
        top: $app-header-height;
        left: $app-sideBar-width;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: rgba(0,0,0,0.4);
        transition-property: background-color, left;
        transition-duration: 0.4s, 0.3s;
        transition-timing-function: ease, ease;
      }
    }
  }
  body .app-container.clicked.on .app-sideBar{
    transform: none !important;
    & *{font-size: 1rem;}
    & span{display: block;}
    & .main__txt{
      opacity: 1 !important;
      padding: .5rem !important;
      font-size: .9rem !important;
    }
    // &::after{
    //   content: '';
    //   position: fixed;
    //   top: 0;
    //   left: $app-sideBar-width;
    //   right: 0;
    //   bottom: 0;
    //   background-color: rgba(0,0,0,0.4);
    // }
  }
}